<div class="input-group">
    <input type="number" 
           ng-model="d2Object.coordinate.latitude" 
           placeholder="{{'latitude'| translate}}"
           ng-class="{'input-success': d2LatSaved || latitudeSaved}"
           name="latitude" 
           d2-coordinate-validator
           ng-required="false"
           d2-function="saveCoordinate(arg1)"
           ng-blur="saveCoordinate('LAT')"
           class="form-control no-right-radius"/>
    <span class="input-group-btn empty-span"></span>
    <input type="number" 
           ng-model="d2Object.coordinate.longitude" 
           placeholder="{{'longitude'| translate}}"
           ng-class="{'input-success': d2LngSaved || longitudeSaved}"
           name="longitude" 
           d2-coordinate-validator
           ng-required="false"
           d2-function="saveCoordinate(arg1)"
           ng-blur="saveCoordinate('LNG')"
           class="form-control no-left-radius no-right-radius"/>
    <span class="input-group-btn hideInPrint">
        <button class="btn btn-grp trim hideInPrint" 
                type="button" 
                title="{{'get_from_map'| translate}}"
                ng-click="showMap(d2Object)"> 
            <i class="fa fa-map-marker"></i>                             
        </button>
    </span>
</div>