<div>
    <div class="modal-header page">
        <h3>{{'download'| translate}}</h3>
    </div>
    <div class="modal-body page">

        <button class="btn btn-default" data-ng-click="export('csv')">{{'csv'| translate}}</button>
        <button class="btn btn-default" data-ng-click="export('json')">{{'json'| translate}}</button>
        <button class="btn btn-default" data-ng-click="export('xml')">{{'xml'| translate}}</button>
    </div>

    <div class="modal-footer page">
        <button class="btn btn-default" data-ng-click="close()">{{'close'| translate}}</button>
    </div>

</div>