<div class="modal-header remove-default-padding">
    <h2>
        {{'point_and_click_for_coordinate'| translate}}        
    </h2>
</div>
<div class="modal-body remove-default-padding">
    <div class="align-center">
        <span id='polygon-label'></span>
    </div>    
    <d2-google-map location="location" id="map-container"></d2-google-map>
</div>
<div class="modal-footer remove-default-padding">
    <button class="btn btn-primary" data-ng-click="captureCoordinate()">{{'capture'| translate}}</button>
    <button class="btn btn-default" data-ng-click="close()">{{'cancel'| translate}}</button>        
</div>