<div class="modal-header">
    <h2>
        {{'point_and_click_for_coordinate'| translate}}        
    </h2>
    <div class="align-center">
        <span id='polygon-label'></span>
    </div>
</div>
<div class="modal-body map-area">    
    <leaflet lf-center="center" geojson="currentGeojson" defaults="mapDefaults" markers="marker"></leaflet>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" data-ng-click="captureCoordinate()">{{'capture'| translate}}</button>
    <button class="btn btn-default" data-ng-click="close()">{{'cancel'| translate}}</button>        
</div>