<script type="text/javascript" src="javascript/attribute.js"></script>
<script type="text/javascript">
	jQuery(document).ready(	function()
	{
		validation2( 'addAttributeForm', function( form ) {
			form.submit();
		}, {
			'beforeValidateHandler' : function()
        	{
        	},
			'rules': getValidationRules("attribute")
		});

		checkValueIsExist( "name", "validateAttribute.action" );
		checkValueIsExist( "code", "validateAttribute.action" );

		$("#optionSet").bind("change", onOptionSetChange);
		$("#optionSet").change();
	});
</script>

<h3>$i18n.getString( "create_new_attribute" )</h3>

<form id="addAttributeForm" action="addAttribute.action" method="post" class="inputForm">

<table>
	<col style="width: 100px"/>
	<col/>

	<tr>
		<th colspan="2">$i18n.getString( "details" )</th>
	</tr>

	<tr>
		<td><label for="name">$i18n.getString( "name" ) <em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
		<td><input type="text" id="name" name="name"></td>
	</tr>

	<tr>
		<td><label for="code">$i18n.getString( "code" )</label></td>
		<td><input type="text" id="code" name="code"></td>
	</tr>

	<tr>
		<td><label for="mandatory">$i18n.getString( "mandatory" )</td>
		<td><input type="checkbox" id="mandatory" name="mandatory" value="true" /></td>
	</tr>

	<tr>
		<td><label for="mandatory">$i18n.getString( "unique" )</td>
		<td><input type="checkbox" id="unique" name="unique" value="true" /></td>
	</tr>

	<tr>
		<td style="vertical-align: text-top;">$i18n.getString( "assigned_to" )</td>
		<td>
      <input type="checkbox" id="dataElementAttribute" name="dataElementAttribute" value="true" /><label for="dataElementAttribute">$i18n.getString( 'data_element' )</label> <br />
      <input type="checkbox" id="dataElementGroupAttribute" name="dataElementGroupAttribute" value="true" /><label for="dataElementGroupAttribute">$i18n.getString( 'data_element_group' )</label> <br />
      <input type="checkbox" id="indicatorAttribute" name="indicatorAttribute" value="true" /><label for="indicatorAttribute">$i18n.getString( 'indicator' )</label> <br />
      <input type="checkbox" id="indicatorGroupAttribute" name="indicatorGroupAttribute" value="true" /><label for="indicatorGroupAttribute">$i18n.getString( 'indicator_group' )</label> <br />
      <input type="checkbox" id="dataSetAttribute" name="dataSetAttribute" value="true" /><label for="dataSetAttribute">$i18n.getString( 'data_set' )</label> <br />
      <input type="checkbox" id="organisationUnitAttribute" name="organisationUnitAttribute" value="true" /><label for="organisationUnitAttribute">$i18n.getString( 'organisation_unit' )</label> <br />
      <input type="checkbox" id="organisationUnitGroupAttribute" name="organisationUnitGroupAttribute" value="true" /><label for="organisationUnitGroupAttribute">$i18n.getString( 'organisation_unit_group' )</label> <br />
      <input type="checkbox" id="organisationUnitGroupSetAttribute" name="organisationUnitGroupSetAttribute" value="true" /><label for="organisationUnitGroupSetAttribute">$i18n.getString( 'organisation_unit_group_set' )</label> <br />
      <input type="checkbox" id="userAttribute" name="userAttribute" value="true" /><label for="userAttribute">$i18n.getString( 'user' )</label> <br />
      <input type="checkbox" id="userGroupAttribute" name="userGroupAttribute" value="true" /><label for="userGroupAttribute">$i18n.getString( 'user_group' )</label> <br />
      <input type="checkbox" id="programAttribute" name="programAttribute" value="true" /><label for="programAttribute">$i18n.getString( 'program' )</label> <br />
      <input type="checkbox" id="programStageAttribute" name="programStageAttribute" value="true" /><label for="programStageAttribute">$i18n.getString( 'program_stage' )</label> <br />
      <input type="checkbox" id="trackedEntityAttribute" name="trackedEntityAttribute" value="true" /><label for="trackedEntityAttribute">$i18n.getString( 'tracked_entity' )</label> <br />
      <input type="checkbox" id="trackedEntityAttributeAttribute" name="trackedEntityAttributeAttribute" value="true" /><label for="trackedEntityAttributeAttribute">$i18n.getString( 'tracked_entity_attribute' )</label> <br />
      <input type="checkbox" id="categoryOptionAttribute" name="categoryOptionAttribute" value="true" /><label for="categoryOptionAttribute">$i18n.getString( 'category_option' )</label> <br />
      <input type="checkbox" id="categoryOptionGroupAttribute" name="categoryOptionGroupAttribute" value="true" /><label for="categoryOptionGroupAttribute">$i18n.getString( 'category_option_group' )</label> <br />
      <input type="checkbox" id="documentAttribute" name="documentAttribute" value="true" /><label for="documentAttribute">$i18n.getString( 'document' )</label> <br />
      <input type="checkbox" id="optionAttribute" name="optionAttribute" value="true" /><label for="optionAttribute">$i18n.getString( 'option' )</label> <br />
      <input type="checkbox" id="optionSetAttribute" name="optionSetAttribute" value="true" /><label for="optionSetAttribute">$i18n.getString( 'option_set' )</label> <br />
      <input type="checkbox" id="constantAttribute" name="constantAttribute" value="true" /><label for="constantAttribute">$i18n.getString( 'constant' )</label> <br />
      <input type="checkbox" id="legendSetAttribute" name="legendSetAttribute" value="true" /><label for="legendSetAttribute">$i18n.getString( 'legend_set' )</label> <br />
      <input type="checkbox" id="programIndicatorAttribute" name="programIndicatorAttribute" value="true" /><label for="programIndicatorAttribute">$i18n.getString( 'program_indicator' )</label> <br />
      <input type="checkbox" id="sqlViewAttribute" name="sqlViewAttribute" value="true" /><label for="sqlViewAttribute">$i18n.getString( 'sql_view' )</label> <br />
		</td>
	</tr>

	<tr>
		<td><label for="valueType">$i18n.getString( "value_type" )</td>
		<td>
			<select id="valueType" name="valueType" style="width: 310px">
				<option value="TEXT">$i18n.getString( "text" )</option>
				<option value="LONG_TEXT">$i18n.getString( "long_text" )</option>
				<option value="BOOLEAN">$i18n.getString( "yes_no" )</option>
				<option value="DATE">$i18n.getString( "date" )</option>
				<option value="NUMBER">$i18n.getString( "number" )</option>
				<option value="INTEGER" >$i18n.getString( "integer" )</option>
				<option value="INTEGER_POSITIVE">$i18n.getString( "positive_integer" )</option>
				<option value="INTEGER_NEGATIVE">$i18n.getString( "negative_integer" )</option>
			</select>
		</td>
	</tr>

  <tr>
		<td><label>$i18n.getString( 'option_set' )</label></td>
    <td>
      <select id="optionSet" name="optionSetUid" style="width: 310px">
				<option value="0">[$i18n.getString('please_select')]</option>
        #foreach( $optionSet in $optionSets )
	        <option value="$optionSet.uid">$optionSet.displayName</option>
        #end
      </select>
    </td>
  </tr>

	<tr>
		<td colspan="2">
			<br/>
			<input type="submit" value="$i18n.getString( 'add' )" style="width:10em"/>
			<input type="button" value="$i18n.getString( 'cancel' )" onclick="window.location.href='attribute.action'" style="width:10em"/>
		</td>
	</tr>
</table>

</form>
