
#sharingDialog()

<script type="text/javascript">
	jQuery(document).ready(function() {
		tableSorter( 'listTable' );

    dhis2.contextmenu.makeContextMenu({
      menuId: 'contextMenu',
      menuItemActiveClass: 'contextMenuItemActive'
    });
	});

    var i18n_confirm_delete = '$encoder.jsEscape( $i18n.getString( "confirm_delete_constant" ) , "'")';
</script>

<h3>$i18n.getString( "option_set_management" ) #openHelp( "optionSet" )</h3>

<div id="contextMenu" class="contextMenu">
  <ul id="contextMenuItems" class="contextMenuItems">
    <li data-enabled="canManage"><a data-target-fn="showOptionList"><i class="fa fa-share"></i>&nbsp;&nbsp;$i18n.getString( "option_management" )</a></li>
    <li data-enabled="canManage"><a data-target-fn="showSharingDialogWithContext"><i class="fa fa-share"></i>&nbsp;&nbsp;$i18n.getString( "sharing_settings" )</a></li>
    <li data-enabled="canUpdate"><a data-target-fn="showUpdateOptionSetForm"><i class="fa fa-edit"></i>&nbsp;&nbsp;$i18n.getString( "edit" )</a></li>
    <li data-enabled="canUpdate"><a data-target-fn="translateWithContext"><i class="fa fa-globe"></i>&nbsp;&nbsp;$i18n.getString( "translation_translate" )</a></li>
    <li data-enabled="canDelete"><a data-target-fn="removeOptionSet"><i class="fa fa-trash-o"></i>&nbsp;&nbsp;$i18n.getString( "remove" )</a></li>
    <li><a data-target-fn="showOptionSetDetails"><i class="fa fa-info-circle"></i>&nbsp;&nbsp;$i18n.getString( "show_details" )</a></li>
  </ul>
</div>

<table class="mainPageTable">
	<tr>
		<td style="vertical-align:top">
			<table width="100%">
				<col>          
				<col width="120"> 
				<tr>
					<td>#filterDiv( "optionSet" )</td>
					<td colspan="3" style="text-align:right">
						<input type="button" value="$i18n.getString( "add_new" )" onclick="window.location.href='showAddOptionSetForm.action'" style="width:70px">
					</td>
				</tr>		
			</table>
      <table class="listTable" id="listTable">
      <col/>
      <thead>
      <tr>
          <th>$i18n.getString( "name" )</th>
      </tr>
      </thead>
      <tbody id="list">
      #foreach( $optionSet in $optionSets )
      <tr id="tr${optionSet.id}" data-id="$!optionSet.id" data-uid="$!optionSet.uid" data-type="OptionSet" data-name="$encoder.htmlEncode( $!optionSet.displayName )"
          data-can-manage="$security.canManage( $optionSet )"
          data-can-update="$security.canUpdate( $optionSet )"
          data-can-delete="$security.canDelete( $optionSet )">
          <td>$encoder.htmlEncode( $!optionSet.displayName )</td>
      </tr>
      #end
      </tbody>
			</table>
			<p></p>
			#parse( "/dhis-web-commons/paging/paging.vm" )
		</td>
		
		<td id="detailsData">

            <div id="detailsArea">
                <div id="hideDetailsArea">
					<a href="javascript:hideDetails()" title="$i18n.getString( 'hide_details' )"><img src="../images/close.png" alt="$i18n.getString( 'hide_details' )"/></a>
				</div>
				<p><label>$i18n.getString( "name" ):</label><br/><span id="nameField"></span></p>
				<p><label>$i18n.getString( "number_of_members" ):</label><br/><span id="optionCount"></span></p>
				<p><label>$i18n.getString( "id" ):</label><br/><span id="idField"></span></p>
			</div>

			<div id="warningArea">
                <div id="hideDetailsArea">
                    <a href="javascript:hideWarning()" title="$i18n.getString( 'hide_warning' )"><img src="../images/close.png" alt="$i18n.getString( 'hide_warning' )"/></a>
                </div>
                <p><span id="warningField"></span></p>
            </div>
		</td>
	</tr>
</table>
