<style type="text/css">
.gridTable th, .gridTable td
{
  text-align: center;
  width: 150px;
  line-height: 170%;
}
</style>

<script type="text/javascript">
	jQuery( document ).ready( function(){ setTableStyles(); } );
</script>

<table class="listTable gridTable">
	<thead>
		<tr>
		#foreach( $header in $!grid.getVisibleHeaders() )
			<th #if( $header.meta )style="text-align:left"#end>$!encoder.htmlEncode( $header.name )</th>
		#end
		</tr>
	</thead>
	
	<tbody>
		#foreach( $row in $grid.getVisibleRows() )
		<tr>
			#foreach( $col in $row )
			#set( $index = ( $velocityCount - 1 ) )
			#if( $grid.getVisibleHeaders().get( $index ).meta )
			<td style="text-align:left">$!encoder.htmlEncode( $col )</td>
			#else
			<td>
				#if ($!col)$col
				#else<span style="color:blue;font-weight:bold;">null</span>#end
			</td>
			#end
			#end
		</tr>
		#end
	</tbody>
</table>

<p></p>
#parse( "/dhis-web-commons/paging/paging.vm" )