<script type="text/javascript">
	jQuery(document).ready(	function(){

		var rules = getValidationRules("constant");
		rules['value'].custome_regex = [ /^-?(0|[1-9]\d*)(\.\d+)?$/, i18n_value_must_be_double ];
		
		validation2( 'updateConstantForm', function( form )
		{
		    #tblDynamicAttributesJavascript()
		    form.submit();
		},
		{
			'rules': rules
		});

		checkValueIsExist( "name", "validateConstant.action", {id: $constant.id} );
		checkValueIsExist( "shortName", "validateConstant.action", {id: $constant.id} );	
		checkValueIsExist( "code", "validateConstant.action", {id: $constant.id} );	
	});
	
	var i18n_value_must_be_double = '$encoder.jsEscape( $i18n.getString( "value_must_be_double" ) , "'")';
	
</script>

<h3>$i18n.getString( "edit_constant" )</h3>

<form id="updateConstantForm" action="updateConstant.action" method="post" class="inputForm">
<input type="hidden" id="id" name="id" value="$!constant.id"/>

<table>
	<tr>
		<th colspan="2">$i18n.getString( "details" )</th>
	</tr>
	<tr>
		<td><label for="name">$i18n.getString( "name" ) <em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
		<td><input type="text" id="name" name="name" value="$encoder.htmlEncode( $!constant.name )"></td>
	</tr>
	<tr>
		<td><label for="shortName">$i18n.getString( "short_name" )</label></td>
		<td><input type="text" id="shortName" name="shortName" value="$!encoder.htmlEncode( $!constant.shortName )"></td>
	</tr>
	<tr>
		<td><label for="code">$i18n.getString( "code" )</label></td>
		<td><input type="text" id="code" name="code" value="$!constant.code"></td>
	</tr>
	<tr>
		<td><label for="description">$i18n.getString( "description" )</label></td>
		<td><textarea id="description" name="description">$!encoder.htmlEncode( $!constant.description )</textarea></td>
	</tr>
	<tr>
		<td><label for="name">$i18n.getString( "value" ) <em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
		<td><input type="text" id="value" name="value" value="$!constant.value"></td>
	</tr>
</table>

	#tblDynamicAttributes( { "attributes": $attributes, "attributeValues": $attributeValues } )

<table>
	<tr>
		<td></td>
		<td><input type="submit" value="$i18n.getString( 'save' )" style="width:10em"/>
		<input type="button" value="$i18n.getString( 'cancel' )" onclick="window.location.href='constant.action'" style="width:10em"/></td>
	</tr>
</table>

</form>
