<!DOCTYPE HTML>
<html class="loginPage" dir="ltr">
<head>
    <title>$!encoder.htmlEncode( ${applicationTitle} )</title>
    <meta name="description" content="DHIS 2">
    <meta name="keywords" content="DHIS 2">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="shortcut icon" href="../../favicon.ico"/>
    <script type="text/javascript" src="../javascripts/jQuery/jquery.min.js"></script>
    <script>
        $.ajaxSetup( {
          beforeSend: function(xhr) {
            xhr.setRequestHeader(
                'X-Requested-With',
                {
                  toString: function() {
                    return '';
                  }
                }
            );
          }
        } );
    </script>
    <script type="text/javascript" src="../javascripts/login.js"></script>
    <link type="text/css" rel="stylesheet" href="../css/widgets.css">
    <link type="text/css" rel="stylesheet" href="../css/login.css">
    <link type="text/css" rel="stylesheet" href="../../api/files/style/external"/>
</head>

<body class="loginPage">
<h1 style="display:none">$!encoder.htmlEncode( ${applicationTitle} )</h1>
<div style="display:none">DHIS 2</div>
<div>
    #if ( $keyFlag )
        <img id="flagArea" src="../flags/$!{keyFlagImage}">
    #end
    #if ( $applicationTitle )
        <span id="titleArea">$!encoder.htmlEncode( ${applicationTitle} )</span>
    #end
    #if ( $keyApplicationIntro )
        <span id="introArea">$!{keyApplicationIntro}</span>
    #end
</div>
    #if ( $keyConfig.selfRegistrationAllowed() )
    <div id="accountArea">
        <a id="createAccountButton" class="greenButtonLink" href="account.action">$i18n.getString(
            'create_an_account')</a>
    </div>
    #end
<div id="loginField">
    <div id="loginArea">
        <div id="bannerArea">
            <a href="http://www.dhis2.org"><img src="../../api/staticContent/logo_front" style="border:none"></a>
        </div>

        <form id="loginForm" action="../../dhis-web-commons-security/login.action" method="post">
            <div>
                <div id="signInLabel">Sign in</div>
                <div><input type="text" id="j_username" name="j_username" placeholder="Username" required></div>
                <div><input type="password" id="j_password" name="j_password" autocomplete="off" placeholder="Password"
                            required></div>
                <div>
                  <input type="checkbox" name="2fa" value="2fa" id="2fa"/><label id="2FaLabel">$i18n.getString('login_using_two_factor_authentication')</label>
                    <input type="code" id="2fa_code" name="2fa_code"
                           placeholder="$i18n.getString('two_factor_authentication_code')" hidden readonly>
                </div>
            </div>
            <div id="submitDiv">
                <input id="submit" class="button" type="submit" value="$i18n.getString('sign_in')">
            </div>
            #if( $keyAccountRecovery )
                <div style="padding-bottom: 10px">
                    <a id="forgotPasswordLink" href="recovery.action">$i18n.getString('forgot_password')</a>
                </div>
            #end
            #if( $keyConfig.selfRegistrationAllowed() )
                <div style="padding-bottom: 10px">
                    <a id="createAccountLink" href="account.action">$i18n.getString('create_an_account')</a>
                </div>
            #end
        </form>

        #foreach( $provider in $oidcConfig.providers )
            <form id="oidcProvider_$provider.id" action="../../oauth2/authorization/$provider.id" method="get">
                <div id="submitDiv">
                    <input style="width: 269px; height:46px; border:none; background: url($provider.icon) no-repeat scroll $provider.iconPadding, #fff;"
                           id="submit" class="button" type="submit"
                           value="$i18n.getString( $provider.loginText )">
                </div>
            </form>
        #end

        #if( $failed == true )
            <div id="loginMessage">
                $!{request.getSession().getAttribute("LOGIN_FAILED_MESSAGE")}
            </div>
            <div id="lockedMessage" style="display: none">
                $!{request.getSession().getAttribute("LOGIN_FAILED_MESSAGE")}
            </div>
        #end
        #if ( $keyApplicationNotification )
            <div id="notificationArea">
                $!{keyApplicationNotification}
            </div>
        #end
        <!--[if lte IE 8]>
            <div id="notificationArea" style="color: white; background-color: red;">$i18n.getString(
            "unsupported_browser" )</div>
            <![endif]-->
    </div>
</div>
<div id="footerArea">
    <div id="leftFooterArea" class="innerFooterArea">
        <span id="poweredByLabel">Powered by </span><a href="http://www.dhis2.org">DHIS 2</a>&nbsp; <span
            id="applicationFooter">$!{keyApplicationFooter}</span>
    </div>
    <div id="rightFooterArea" class="innerFooterArea">
        <span id="applicationRightFooter">$!{keyApplicationRightFooter}</span>
        <select id="localeSelect" onchange="login.localeChanged()" style="margin-left: 30px">
            <option value="">[ $i18n.getString( "change_language" ) ]</option>
            #foreach( $locale in $availableLocales )
                <option value="${locale.language}">${locale.displayName}</option>
            #end
        </select>
    </div>
</div>
</body>
</html>
