<!DOCTYPE HTML>
<html class="loginPage">
    <head>
        <title>$!encoder.htmlEncode( ${applicationTitle} )</title>
        <meta name="description" content="DHIS 2">
        <meta name="keywords" content="DHIS 2">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script type="text/javascript" src="../javascripts/jQuery/jquery.min.js"></script>
        <script>
        $.ajaxSetup( {
          beforeSend: function(xhr) {
            xhr.setRequestHeader(
                'X-Requested-With',
                {
                  toString: function() {
                    return '';
                  }
                }
            );
          }
        } );
        </script>
        <script type="text/javascript" src="login.js"></script>
        <link type="text/css" rel="stylesheet" href="../css/widgets.css">
        <link type="text/css" rel="stylesheet" href="../css/login.css">
        <link type="text/css" rel="stylesheet" href="../../api/files/style/external" />
    </head>

    <body class="loginPage">
    	<h1 style="display:none">$!encoder.htmlEncode( ${applicationTitle} )</h1>
    	<div style="display:none">DHIS 2</div>
        <div>
        #if ( $keyFlag )
            <img id="flagArea" src="../flags/$!{keyFlagImage}">
        #end
        #if ( $applicationTitle )
            <span id="titleArea">$!encoder.htmlEncode( ${applicationTitle} )</span>
        #end        
        #if ( $keyApplicationIntro )
            <span id="introArea">$!{keyApplicationIntro}</span>
        #end
        </div>
        #if ( $keyConfig.selfRegistrationAllowed() )
        <div id="accountArea">
        	<a id="createAccountButton" class="greenButtonLink" href="account.action">Create an account</a>
        </div>
        #end
        <div id="loginField">
        <div id="loginArea">
            <div id="bannerArea">
            <a href="http://www.dhis2.org"><img src="../../api/staticContent/logo_front" style="border:none"></a>
            </div>
            
            <form id="loginForm" action="../../dhis-web-commons-security/login.action" method="post">
                <div>
                	<div id="signInLabel">Sign in</div>
                    <div><input type="text" id="j_username" name="j_username" placeholder="Username"></div>
                    <div><input type="password" id="j_password" name="j_password" autocomplete="off" placeholder="Password"></div>
                </div>
                <div id="submitDiv">
                	<input id="submit" class="button" type="submit" value="Sign in">
                </div>
                #if( $keyAccountRecovery )
                <div style="padding-bottom: 10px">
                    <a id="forgotPasswordLink" href="recovery.action">Forgot password?</a>
                </div>
                #end
                #if( $keyConfig.selfRegistrationAllowed() )
                <div style="padding-bottom: 10px">                	
                	<a id="createAccountLink" href="account.action">Create an account</a>
                </div>
                #end
            </form>
            #if( $keyOpenIdProvider )
              <form id="openIdLoginForm" action="../../dhis-web-commons-security/openid.action" method="post">
                  <input name="openid_identifier" type="hidden" value="$keyOpenIdProvider"/>
                  <div id="submitDiv">
                    #if( $keyOpenIdProviderLabel )
                  	<input style="width: 269px;" id="submit" class="button" type="submit" value="$keyOpenIdProviderLabel">
                    #else
                    <input style="width: 269px;" id="submit" class="button" type="submit" value="Sign in with OpenID">
                    #end
                  </div>
              </form>
            #end
            #if( $failed == true )
            <div id="loginMessage">
                $!{request.getSession().getAttribute("LOGIN_FAILED_MESSAGE")}
            </div>
            #end
            #if ( $keyApplicationNotification )
            <div id="notificationArea">              
              $!{keyApplicationNotification}
            </div>
            #end
            <!--[if lte IE 8]>
            <div id="notificationArea" style="color: white; background-color: red;">$i18n.getString( "unsupported_browser" )</div>
            <![endif]-->
        </div>
        </div>
        <div id="footerArea">
        	<div id="leftFooterArea" class="innerFooterArea">
	        	Powered by <a href="http://www.dhis2.org">DHIS 2</a>&nbsp; <span id="applicationFooter">$!{keyApplicationFooter}</span>
		    </div>
			<div id="rightFooterArea" class="innerFooterArea">
				<span id="applicationRightFooter">$!{keyApplicationRightFooter}</span>
				<select id="localeSelect" onchange="login.localeChanged()" style="margin-left: 30px">
	        		<option value="">[ Change language ]</option>
	        		#foreach( $locale in $availableLocales )
	        		<option value="${locale.language}">${locale.displayName}</option>
			        #end
		        </select>
		    </div>
        </div>
    </body>
</html>
