.header{
    color: white;
    padding: 5px 5px;
    margin: -16px 0 0 -20px;
    font-weight: bold;
    background-color: #8FABC7;
}
.box{
    position:relative;
    border: 1px solid #8FABC7;
    padding: 5px 5px;
    margin-left: -20px;
}
.mainTable{
    width: 100%;
    border-collapse: collapse;
}
.mainTable th{
    border: 1px solid #C3C3C3;
    padding: 3px;
    vertical-align: top;
}
.mainTable td{
    border: 1px solid #C3C3C3;
    padding: 3px;
    vertical-align: top;
}