.Heading {
    font-family: times,arial, georgia, tahoma;
    font-size: 35px;
    font-weight: bold;    
    white-space: nowrap;
    cursor: default;    
}

.Normal {
    font-family: arial, georgia, tahoma;
    font-size: 10px;    
    white-space: nowrap;
    cursor: default; 
    text-align: center;       
}

.NormalB {
    font-family: arial, georgia, tahoma;
    font-size: 13px;
    font-weight: bold;
    white-space: nowrap;
    cursor: default;    
}

.TableDataCellStyles {
    font-family: arial, georgia, tahoma;
    font-size: 10px;    
    white-space: nowrap;
    cursor: default; 
    text-align: center;
    border:1px dotted #C0C0C0;
}

.TableHeadingCellStyles {
    font-family: arial, georgia, tahoma;
    font-size: 11px;   
    white-space: nowrap;
    cursor: default;     
}

.DefaultFontStyles {
    font-family: arial, georgia, tahoma;
    font-size: 13px;
    font-weight: bold;   
    white-space: nowrap;
    cursor: default;         
}

.DefaultFontStylesNoBold {
    font-family: arial, georgia, tahoma;
    font-size: 13px;    
    white-space: nowrap;
    cursor: default;         
}


