<?xml version="1.0" encoding="UTF-8"?>
<units>
	<roots>
	#foreach( $root in $roots )
		<unit id="$encoder.xmlEncode( $root.uid )" #if( $selected.contains( $root )) selected="true" #end>$encoder.xmlEncode( $root.name )</unit>
	#end
	</roots>

	<children>
	#foreach( $parent in $parents )
  <parent parentId="$encoder.xmlEncode( $parent.uid )">
		#foreach( $child in $childrenMap.get( $parent ) )
    <child id="$encoder.xmlEncode( $child.uid )" hasChildren="$child.children.size()" #if( $selected.contains( $child )) selected="true" #end>$encoder.xmlEncode( $child.name )</child>
		#end
  </parent>
	#end
	</children>
</units>
