# For more details see https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

.github/** @dhis2/devops

dhis-2/*.sh @dhis2/devops

dhis-2/dhis-web-server/** @dhis2/devops

docker/** @dhis2/devops

jenkinsfiles/** @dhis2/devops

docker-compose.yml @dhis2/devops

jib.yaml @dhis2/devops

dhis-2/dhis-services/dhis-service-tracker/** @dhis2/tracker-backend
