version: 2
updates:
  # master
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
      time: "02:17" # GitHub says 'High load times include the start of every hour'
      timezone: "Europe/Oslo"
    pull-request-branch-name:
      separator: "-"
    commit-message:
      prefix: "chore"
      include: "scope"
  - package-ecosystem: "maven"
    directory: "/dhis-2"
    schedule:
      interval: "daily"
      time: "02:17" # GitHub says 'High load times include the start of every hour'
      timezone: "Europe/Oslo"
    pull-request-branch-name:
      separator: "-"
    commit-message:
      prefix: "chore"
      include: "scope"
    ignore:
      - dependency-name: "org.eclipse.jetty:*" # Jetty 11 moved some code to a different package, updated the Servlet version which requires more work
        versions:
          - ">= 11.0"
  # 2.39
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
      time: "02:17" # GitHub says 'High load times include the start of every hour'
      timezone: "Europe/Oslo"
    pull-request-branch-name:
      separator: "-"
    commit-message:
      prefix: "chore"
      include: "scope"
    target-branch: "2.39"
    open-pull-requests-limit: 1 # only initially so we do not take away too many CI resources
  - package-ecosystem: "maven"
    directory: "/dhis-2"
    schedule:
      interval: "daily"
      time: "02:17" # GitHub says 'High load times include the start of every hour'
      timezone: "Europe/Oslo"
    pull-request-branch-name:
      separator: "-"
    commit-message:
      prefix: "chore"
      include: "scope"
    ignore:
      - dependency-name: "org.eclipse.jetty:*" # Jetty 11 moved some code to a different package, updated the Servlet version which requires more work
        versions:
          - ">= 11.0"
      - dependency-name: "org.antlr:antlr4-runtime" # Automatically upgrade ANTLR version can cause issues in rule-engine and antlr-parser libraries
    target-branch: "2.39"
    open-pull-requests-limit: 1 # only initially so we do not take away too many CI resources
  # 2.38
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
      time: "02:17" # GitHub says 'High load times include the start of every hour'
      timezone: "Europe/Oslo"
    pull-request-branch-name:
      separator: "-"
    commit-message:
      prefix: "chore"
      include: "scope"
    target-branch: "2.38"
    open-pull-requests-limit: 1 # only initially so we do not take away too many CI resources
  - package-ecosystem: "maven"
    directory: "/dhis-2"
    schedule:
      interval: "daily"
      time: "02:17" # GitHub says 'High load times include the start of every hour'
      timezone: "Europe/Oslo"
    pull-request-branch-name:
      separator: "-"
    commit-message:
      prefix: "chore"
      include: "scope"
    ignore:
      - dependency-name: "org.eclipse.jetty:*" # Jetty 11 moved some code to a different package, updated the Servlet version which requires more work
        versions:
          - ">= 11.0"
      - dependency-name: "org.antlr:antlr4-runtime" # Automatically upgrade ANTLR version can cause issues in rule-engine and antlr-parser libraries
    target-branch: "2.38"
    open-pull-requests-limit: 1 # only initially so we do not take away too many CI resources
  # 2.37
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
      time: "02:17" # GitHub says 'High load times include the start of every hour'
      timezone: "Europe/Oslo"
    pull-request-branch-name:
      separator: "-"
    commit-message:
      prefix: "chore"
      include: "scope"
    target-branch: "2.37"
    open-pull-requests-limit: 1 # only initially so we do not take away too many CI resources
  - package-ecosystem: "maven"
    directory: "/dhis-2"
    schedule:
      interval: "daily"
      time: "02:17" # GitHub says 'High load times include the start of every hour'
      timezone: "Europe/Oslo"
    pull-request-branch-name:
      separator: "-"
    commit-message:
      prefix: "chore"
      include: "scope"
    ignore:
      - dependency-name: "org.eclipse.jetty:*" # Jetty 11 moved some code to a different package, updated the Servlet version which requires more work
        versions:
          - ">= 11.0"
      - dependency-name: "org.antlr:antlr4-runtime" # Automatically upgrade ANTLR version can cause issues in rule-engine and antlr-parser libraries
    target-branch: "2.37"
    open-pull-requests-limit: 1 # only initially so we do not take away too many CI resources
