target
*.log
*.log.*
./taret
./target
./target/classes
target/**
*.settings
.metadata
build.sh
.springBeans
nbactions.xml
.classpath
.project
.mtj
.idea
.swp
*.iml
*.ipr
*.ids
*.iws
overlays/
./dhis-2/atlassian-ide-plugin.xml
./atlassian-ide-plugin.xml
./.git
./.gitattributes
./.gitignore
./.travis.yml
.DS_Store
dhis-2/projectFilesBackup
coverage
node_modules
**/rebel.xml
