Jan Henrik Øverland <jan@dhis2.org>	Jan Henrik Overland <janhenrik.overland@gmail.com>
Lars Helge Øverland <lars@dhis2.org>	Lars Helge Overland <larshelge@gmail.com>
Morten Olav Hansen <morten@dhis2.org>	Morten Olav Hansen <mortenoh@gmail.com>
Lars Helge Øverland <lars@dhis2.org>	Lars Helge Øverland <larshelge@gmail.com>
Abyot Asalefew Gizaw <abyot@dhis2.org>	Abyot Asalefew Gizaw <abyota@gmail.com>
Lars Helge Øverland <lars@dhis2.org>	Lars Helge Oeverland larshelge@gmail.com <Lars Helge Oeverland larshelge@gmail.com>
Halvdan Hoem Grelland <halvdan@dhis2.org> Halvdan Hoem Grelland <halvdanhg@gmail.com>
Lars Helge Øverland <lars@dhis2.org>	Lars <larshelg@larshelg-laptop>
Markus Bekken <markus@dhis2.org>	Markus Bekken <markus.bekken@gmail.com>
Lars Helge Øverland <lars@dhis2.org>	Lars Helge Oeverland <larshelge@gmail.com>
Abyot Asalefew Gizaw <abyot@dhis2.org>	Abyot Asalefew Gizaw abyota@gmail.com <Abyot Asalefew Gizaw abyota@gmail.com>
Jan Henrik Øverland <jan@dhis2.org>	Jan Henrik Overland janhenrik.overland@gmail.com <Jan Henrik Overland janhenrik.overland@gmail.com>
Mark Polak <markpo@dhis2.org>	Mark Polak <markpo@ifi.uio.no>
Jim Grace <jim@dhis2.org>	jimgrace@gmail.com <jimgrace@gmail.com>
Tri Tran Thanh tranthanhtri84@gmail.com	Tran Thanh Tri <Tran Thanh Tri@compaq>
Ken Haase <ken@dhis2.org>	Ken Haase <kh@beingmeta.com>
Jiju Jose <jiju@dhis2.org>	jijukjose <jijukjose@gmail.com>
Long Ngo Thanh <long.hispvietnam@gmail.com>	Long <Long@Long-Laptop>
Quang Nguyen <quangnguyen111@gmail.com>	Quang <Quang@Quang-PC>
Jim Grace <jim@dhis2.org>	Jim Grace <jimgrace@gmail.com>
Aamer Mohammed <aamerm@thoughtworks.com>	aamerm@thoughtworks.com <aamerm@thoughtworks.com>
Abyot Asalefew Gizaw <abyot@dhis2.org>	abyot <abyota@gmail.com>
Zubair Asghar<zubair@dhis2.org>	Zubair <rajazubair.asghar@gmail.com>
Bob Jolliffe <bobjolliffe@gmail.com>	Bob Jolliffe <bobj@bobj-laptop>
Long Ngo Thanh <long.hispvietnam@gmail.com>	Long <thanhlongngo1988>
Long Ngo Thanh <long.hispvietnam@gmail.com> <thanhlongngo1988@yahoo.com>
Jim Grace <jim@dhis2.org>		dhis2-c <dhis2@jamesgrace.org>
Jiju Jose <jiju@dhis2.org>	Jiju K Jose <jijukjose@gmail.com>
Saptarshi Purkayastha <sunbiz@gmail.com>	Saptarshi <sunbiz@launchpad.net>
Bob Jolliffe <bobjolliffe@gmail.com>	bobjolliffe <bobjolliffe@gmail.com>
Edem K. KOSSI <ekossi@gmail.com>	ekossi@gmail.com <ekossi@gmail.com>
Bob Jolliffe <bobjolliffe@gmail.com>	Bob Joliffe <bobjolliffe@gmail.com>
Saptarshi Purkayastha <sunbiz@gmail.com>	HISP <HISP@HISP-PC>
Murod Latifov <mlatifov@gmail.com>	Miri <murodlatifov@yahoo.com>
Long Ngo Thanh <long.hispvietnam@gmail.com>	Long Ngo Thanh <thanhlongngo1988@yahoo.com.vn>
Aravind Muralikrishnan <aravindm@thoughtworks.com>	Aravind M <arav.psgtech@gmail.com>
Bharath Kumar <chbharathk@gmail.com>  Bharath <Bharath@hispindia>
Jason P. Pickering <jason.p.pickering@gmail.com>	Jason Pickering <jason@jason-laptop>
Samta Bajpayee <samta-bajpayee@gmail.com>	Samta <samta-bajpayee@gmail.com>
Tri Tran Thanh <tran.hispvietnam@gmail.com>	Tri Tran Thanh <Tri Tran Thanh@compaq>
Sultanahamar Mohammad <sultanm@thoughtworks.com>	sultanm@thoughtworks.com <sultanm@thoughtworks.com>
Bob Jolliffe <bobjolliffe@gmail.com>	Bob Jolliffe <bobjolliffe@gmail.com <Bob Jolliffe <bobjolliffe@gmail.com>
Jason P. Pickering <jason.p.pickering@gmail.com>	jason <jason@jason-win7>
Viet Nguyen <viet@dhis2.org>	Viet <Viet@Viet-Nguyen>
Kim-Anh Vo <catakim@gmail.com>	catakim <catakim@kavo-PC>
Thái Chương <thaichuong159@gmail.com>	thaichuong159 <thaichuong159@gmail.com>
Em Le Hong <em.hispvietnam@gmail.com>	Em <em.hispvietnam@gmail.com>
Trí Trần Thanh <tran.hispvietnam@gmail.com>	TranThanhTri tranthanhtri84@gmail.com <TranThanhTri tranthanhtri84@gmail.com>
Trí Trần Thanh <tran.hispvietnam@gmail.com>	tranthanhtri <tranthanhtri@tranthanhtri-PC>
Gaurav Kumar <gaurav08021@gmail.com> Gaurav <gaurav08021@iiitd.ac.in>
Jason P. Pickering <jason.p.pickering@gmail.com>	jason-p-pickering <jason-p-pickering>
Samta Bajpayee <samta.bajpayee@gmail.com>	samta bajpayee <samta.bajpayee@gmail.com>
Quang Nguyen <quangnguyen111@gmail.com>	Administrator <Administrator@NAM-LAPPY>
Bharath Kumar <chbharathk@gmail.com>	Bharath chbharathk@gmail.com <Bharath chbharathk@gmail.com>
Jan Henrik Øverland <jan@dhis2.org> Jan Henrik Øverland <janhov@janhov>
Jason P. Pickering <jason.p.pickering@gmail.com> Jason Pickering <jason@karolina-laptop>
Jan Henrik Øverland <jan@dhis2.org>	admin <admin@laptop>
Archana Chillala <archanac@thoughtwork.com>	archana chillala <archanac@thoughtwork.com>
Mithilesh Kumar Thakur <mithilesh.hisp@gmail.com>	mithilesh-hisp <mithilesh.hisp@gmail.com>
Neeraj <neeraj.hisp@gmail.com>	neeraj <neeraj>
Paul Mark Castillo 	<paulmarkcastillo@gmail.com>	paulmarkcastillo@gmail.com <paulmarkcastillo@gmail.com>
Jason P. Pickering <jason.p.pickering@gmail.com> root <root@dhis2.net>
Bjørn Sandvik <bjorn@dhis2.org> Bjorn Sandvik <bjorn@mastermaps.com>
Lars Helge Øverland <lars@dhis2.org> Lars Helge Oeverland larshelge@gmail.com <larshelge@gmail.com>
Saptarshi Purkayastha <sunbiz@gmail.com>	Saptarshi <Saptarshi>
Brajesh Murari <brajesh.murari@yahoo.com>	brajesh <brajesh@brajesh-PC>
Jan Henrik Øverland <jan@dhis2.org> janhov <janhov@laptop>
Olav Poppe <olav.poppe@gmail.com>	olavpo olav@mail <olavpo olav@mail>
Øystein Gammersvik <oystg@ifi.uio.no>	Øystein Gammersvik ogam@broadpark.no <Øystein Gammersvik ogam@broadpark.no>
Lars Helge Øverland <lars@dhis2.org> Lars <Lars@Livingroom>
Trí Trần Thanh <tran.hispvietnam@gmail.com>	Tran <tran.hispvietnam@gmail.com>
Trí Trần Thanh <tran.hispvietnam@gmail.com>	Tran Thanh Tri <Tran Thanh Tri@TRIHISP>
Viet Nguyen <viet@dhis2.org> Viet <Viet@Viet-laptop>
Viet Nguyen <viet@dhis2.org> Viet Nguyen <phamquocviet@gmail.com>
Zubair Asghar Raja <zubair@dhis2.org>	Zubair Asghar <rajazubair.asghar@gmail.com>
Ola Hodne Titlestad <olati@ifi.uio.no>	olati <olati@olati-laptop>
Akash Jindal <akashjindal.in@gmail.com> <akash>
Trí Trần Thanh <tran.hispvietnam@gmail.com>		Administrator <Administrator@tran>
Bharath Kumar <chbarath@gmail.com>	Bharath <Bharath@Bharath-PC>
HISP <HISP@hisp-86e1709899.com>	HISP <HISP@hisp-86e1709899>
Ola Hodne Titlestad <olati@ifi.uio.no>	Ola Hodne Titlestad <olati@laptop>
Ravenna <ravenna@ravenna-laptop.com>	Ravenna <ravenna@ravenna-laptop>
Saptarshi Purkayastha <sunbiz@gmail.com>	Saptarshi <sunbiz@gmail.com <Saptarshi <sunbiz@gmail.com>
Thuy Nguyen <thuy.hispvietnam@gmail.com>	Thuy <thuy.hispvietnam@gmail.com>
Jan Henrik Øverland <jan@dhis2.org>	janhenrik-overland <janhenrik.overland@gmail.com>
Knut Staring <knutst@ifi.uio.no>	knutst_adm <knutst_adm@knutst2-l>
Saptarshi Purkayastha <sunbiz@gmail.com>	sunbiz <sunbiz@hispindia>
Jason P. Pickering <jason.p.pickering@gmail.com> wheel <wheel@dbwarehouse>
Jason P. Pickering <jason.p.pickering@gmail.com> www-data <www-data@translate.dhis2.net>
