<h2>$i18n.getString( "dhis-web-maintenance-appmanager" )</h2>
<ul>
    <li><a href="appList.action">$i18n.getString( "appmanager_list_app" )</a></li>
#if( $auth.hasAccess( "dhis-web-maintenance-appmanager", "appSettings" ) )
    <li><a href="appSettings.action">$i18n.getString( "appmanager_settings" )</a></li>
#end
</ul>
