<script type="text/javascript">
  jQuery(document).ready(function() {
    datePickerInRange('startDate', 'endDate');

    selectionTreeSelection.setMultipleSelectionAllowed(true);
    selectionTree.clearSelectedOrganisationUnitsAndBuildTree();

    jQuery("#availableDataSets").dhisAjaxSelect({
      source: "../api/dataSets.json?links=false&paging=false",
      iterator: "dataSets",
      connectedTo: 'selectedDataSets',
      handler: function(item) {
        var option = jQuery("<option />");
        option.text(item.displayName);
        option.attr("value", item.id);

        return option;
      }
    });
  });

  var i18n_select_organisation_unit = '$encoder.jsEscape( $i18n.getString( "select_organisation_unit" ), "'")';
  var i18n_select_startdate = '$encoder.jsEscape( $i18n.getString( "select_startdate" ), "'")';
  var i18n_select_enddate = '$encoder.jsEscape( $i18n.getString( "select_enddate" ), "'")';
  var i18n_select_datasets = '$encoder.jsEscape( $i18n.getString( "select_datasets" ), "'")';
</script>

<h3>$i18n.getString( "data_export" ) #openHelp( "export" )</h3>

<form id="exportForm" name="exportForm" method="post" action="exportDataValue.action">

<table width="708">
	
    <colgroup>
        <col width="325">
        <col>
        <col width="325">
    </colgroup>
	
	<!-- OrganisationUnit -->
	
    <tr>
        <th colspan="3">$i18n.getString( "organisation_unit" )</th>
    </tr>
    <tr>
        <td colspan="3">
            <div id="selectionTree" style="width:700px; height:220px"></div>
		</td>
	</tr>
    <tr>
        <td colspan="3" height="15"></td>
    </tr>
      	  
	<!-- DataSets -->
	
	<tr>
		<th>$i18n.getString( "available_datasets" )</th>
		<td></td>
		<th>$i18n.getString( "selected_datasets" )</th>
	</tr>	
	<tr>
		<td>
			<select multiple id="availableDataSets" name="availableDataSets" style="height: 200px; width: 100%;"></select>
		</td>		
        <td>
        	<input type="button" value="&gt;" title="$i18n.getString( 'move_selected' )" style="width:50px" onclick="dhisAjaxSelect_moveAllSelected( 'availableDataSets' );"/><br/>
            <input type="button" value="&lt;" title="$i18n.getString( 'remove_selected' )" style="width:50px" onclick="dhisAjaxSelect_moveAllSelected( 'selectedDataSets' );"/><br/>
			<input type="button" value="&gt;&gt;" title="$i18n.getString('move_all')" style="width:50px" onclick="dhisAjaxSelect_moveAll( 'availableDataSets' );"/><br/>
			<input type="button" value="&lt;&lt;" title="$i18n.getString('remove_all')" style="width:50px" onclick="dhisAjaxSelect_moveAll( 'selectedDataSets' );"/>
		</td>
		<td>
			<select multiple id="selectedDataSets" name="selectedDataSets" style="height: 200px; width: 100%; margin-top: 22px;"></select>
		</td>
	</tr>
</table>

<table style="padding-bottom: 15px">
	<col width="140">
	<col>
	<tr>
		<th colspan="2">$i18n.getString( "options" )</th>
	</tr>
	<tr>
		<td>$i18n.getString( "start_date" )</td>
		<td><input type="text" id="startDate" name="startDate" value="$!startDate" style="width:190px"></td>
	</tr>
	<tr>
        <td>$i18n.getString( "end_date" )</td>
		<td><input type="text" id="endDate" name="endDate" value="$!endDate" style="width:190px"></td>
	</tr>
	<tr>
	    <td>$i18n.getString( "format" )</td>
	    <td><select id="exportFormat" name="exportFormat" style="width:190px">
            <option value="json">JSON</option>
            <option value="xml">XML</option>
            <option value="csv">CSV</option>
        </select></td>
    </tr>
	<tr>
	    <td>$i18n.getString( "compression" )</td>
	    <td><select id="compression" name="compression" style="width:190px">
	        <option value="zip">$i18n.getString( "compression_zip" )</option>
            <option value="none">$i18n.getString( "uncompressed" )</option>
        </select></td>
    </tr>
	<tr>
		<td></td>
		<td><a href="javascript:toggleOptions()">$i18n.getString( "more_options" )</a></td>
	</tr>
	<tr class="moreOptions" style="display:none">
		<td>$i18n.getString( "data_element_id_scheme" )</td>	
		<td><select id="dataElementIdScheme" name="dataElementIdScheme" style="width:190px">
			<option value="UID">$i18n.getString( "uid" )</option>
			<option value="CODE">$i18n.getString( "code" )</option>
			<option value="NAME">$i18n.getString( "name" )</option>
			#foreach( $attr in $dataElementAttributes )
			    <option value="ATTRIBUTE:${attr.uid}">$encoder.htmlEncode( $attr.displayName )</option>
			#end
	    </select></td>
	</tr>
	<tr class="moreOptions" style="display:none">
		<td>$i18n.getString( "org_unit_id_scheme" )</td>	
		<td><select id="orgUnitIdScheme" name="orgUnitIdScheme" style="width:190px">
			<option value="UID">$i18n.getString( "uid" )</option>
			<option value="CODE">$i18n.getString( "code" )</option>
			<option value="NAME">$i18n.getString( "name" )</option>
            #foreach( $attr in $orgUnitAttributes )
                <option value="ATTRIBUTE:${attr.uid}">$encoder.htmlEncode( $attr.displayName )</option>
            #end
	    </select></td>
	</tr>
	<tr class="moreOptions" style="display:none">
		<td>$i18n.getString( "category_id_scheme" )</td>	
		<td><select id="categoryOptionComboIdScheme" name="categoryOptionComboIdScheme" style="width:190px">
			<option value="UID">$i18n.getString( "uid" )</option>
			<option value="CODE">$i18n.getString( "code" )</option>
	    </select></td>
	</tr>
	<tr>
	    <td></td>
	    <td><input type="button" value="$i18n.getString( 'export' )" style="width:190px" onclick="exportDataValue()"></td>
	</tr>
</table>

</form>