
<h3>$i18n.getString( "dhis14_import" )</h3>

<ul class="introList">
    #introListImgItem( "setImportFormat.action?importFormat=DHIS14XML" "DHIS14_xml_import" "dhis14" )
    #introListImgItem( "setImportFormat.action?importFormat=DHIS14FILE" "DHIS14_file_import" "dhis14" )
    #introListImgItem( "displayConfigDhis14Form.action" "dhis14_file_configuration" "configuration" )
</ul>
