<ul class="moduleList">
    #introListImgItem( "$!helpPageLink", "help_center", "function-help-center" )
    #introListImgItem( "../dhis-web-commons-about/modules.action", "system_overview", "function-system-overview" )
    #introListImgItem( "../api", "web_api", "function-web-api" )
    #introListImgItem( "../dhis-web-user-profile/#/aboutPage", "about_dhis2", "function-about-dhis2" )
    #introListImgItem( "../dhis-web-user-profile/#/settings", "settings", "function-settings" )
    #introListImgItem( "../dhis-web-user-profile/#/profile", "profile", "function-profile" )
    #introListImgItem( "../dhis-web-user-profile/#/account", "account", "function-account" )
    #introListImgItem( "../dhis-web-commons-security/logout.action", "log_out", "function-log-out" )
</ul>