<html>

<head>
<title>$i18n.getString("district_health_information_software")</title>
<meta name="viewport" content="width=device-width, user-scalable=yes" />
<link rel="stylesheet" href="../dhis-web-light/style/light.css" />
</head>

<body>

<div id="wrap">

<div id="header">
	<a href="index.action"><img id="logo" src="../dhis-web-commons/security/logo_mobile.png" alt="DHIS2" width="64" height="18"></a>
</div>

<div id="content" align="center" style="text-align: left;">

#parse( $page )

</div>

#* Seems we can't access macros.vm from login.vm/login_mobile.vm so we include the full script here *#
#if( $googleAnalyticsUA && $googleAnalyticsUA != '' )
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '$encoder.jsEncode($googleAnalyticsUA)']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
#end
</body>
