<h2>$i18n.getString( "dashboard" )</h2>

<ul>
    <li><a href="dashboard-charts.action">$i18n.getString( "charts" )</a></li>
    <li><a href="dashboard-reports.action">$i18n.getString( "reports" )</a></li>
    <li><a href="dashboard-documents.action">$i18n.getString( "documents" )</a></li>
</ul>

<div id="footer">
<h2>$i18n.getString( "navigate_to" )</h2>
<ul>
	<li><a href="index.action">$i18n.getString("home")</a></li>
</ul>
</div>
