<h2>$i18n.getString( "beneficiary_registration" )</h2>

	#if( $validated )
		<div class="header-box">
			<h3 style="text-align: left;">$i18n.getString("successfully_saved")</h3>
		</div>
	#else
	
	#end

<form action="saveBeneficiary.action" method="POST">
<div class="header-box" align="center">
<input type="hidden" name="orgUnitId" value="$orgUnitId"/>	
	<p style="text-align: left;">
		<label>$i18n.getString( "full_name" )</label>
		#if( $validationMap.get( "fullName" ) )
           	<br /><span style="color: #990000;"> $i18n.getString($validationMap.get( "fullName" ))</span>
     	#end
		<input type="text" name="patientFullName" value="$!previousValues.get("fullName")" />
		
		<label>$i18n.getString( "gender" )</label>
		<select name="gender">
			<option value="M"
			#if($previousValues.get("gender") == "M")
				selected
			#end
			>$i18n.getString( "male" )</option>
			
			<option value="F"
			#if($previousValues.get("gender") == "F")
				selected
			#end
			>$i18n.getString( "female" )</option>
			
			<option value="T"
			#if($previousValues.get("gender") == "T")
				selected
			#end
			>$i18n.getString( "transgender" )</option>
		</select>
		
		<label>$i18n.getString( "date_of_birth" ) [yyyy-MM-dd] </label>
		#if( $validationMap.get( "dob" ) )
           	<br /><span style="color: #990000;"> $i18n.getString($validationMap.get( "dob" ))</span>
     	#end
		<input type="text" name="dateOfBirth" value="$!previousValues.get("dob")" />
		
		<label>$i18n.getString( "blood_group" )</label>
		<select name="bloodGroup">
			<option value="">[Please select]</option>
			#set($bloodGroups = ["A+", "A-", "AB+", "AB-", "B+", "B-", "O+", "O-"])
			#foreach($item in $bloodGroups) 
			<option value="$item"
			#if($previousValues.get("bloodGroup") == $item)
				selected
			#end
			>$item</option>
			#end
		</select>
	</p>
</div>

<div class="header-box" align="center">
	<p>
		<input type="submit" style="width: 100%;" value="$i18n.getString("save")" />
	</p>
</div>

</form>

<div id="footer">
<h2>$i18n.getString( "navigate_to" )</h2>
<ul>
	<li> <a href="selectRegistrationOrganisationUnit.action"> $i18n.getString("organisation_unit")</a> </li>
	<li><a href="index.action">$i18n.getString("home")</a></li>
</ul>
</div>
