<div class="headerDiv"><span class="header">$i18n.getString("dashboard_documents")</span></div>

<div class="contentDiv">
#foreach( $doc in $documents )
#if( $doc.external )
#set( $link = $doc.url )
#else
#set( $link = "../api/documents/${doc.uid}/data" )
#end

<div class="contentItemDiv" onclick="javascript:window.location.href='${link}'">$encoder.htmlEncode( $doc.name )</div>
#end
</div>
