
#set( $Integer = 0 )

#if( $dataSet.alternativeName )
	#set( $dataSetName = $dataSet.alternativeName )
#else
	#set( $dataSetName = $dataSet.displayName )
#end

<h2>$encoder.htmlEncode( $dataSetName )</h2>

#set( $validationViolationsSize = $validationViolations.size() )
#set( $typeViolationsSize = $typeViolations.size() )

#if( $validationViolationsSize > 0 || $typeViolationsSize > 0 )
<div class="header-box" align="center">
	<h3 style="text-align: left; background-color: #990000; color: white;">$i18n.getString("warnings_and_errors")</h3>
	<p style="text-align: left;">
		#if( $validationViolationsSize > 0 )
			$validationViolationsSize $i18n.getString("minmax_violation_warnings"). <br />
		#end
		#if( $typeViolationsSize > 0 )
			$typeViolationsSize $i18n.getString("type_violation_errors"). <br />
		#end
	</p>
</div>
#end

<form action="saveSectionForm.action" method="POST">

<input type="hidden" id="organisationUnitId" name="organisationUnitId" value="$organisationUnitId" />
<input type="hidden" id="dataSetId" name="dataSetId" value="$dataSetId" />
<input type="hidden" id="periodId" name="periodId" value="$periodId" />

#if( $sectionId)
<input type="hidden" id="sectionId" name="sectionId" value="$sectionId" />
#end

<input type="hidden" id="validated" name="validated" value="#if($validated)true#{else}false#end" />

#macro( createSection $sectionName $dataElements )
<div class="header-box" align="center">
	<h3 style="text-align: left;">$sectionName</h3>
	<p style="text-align: left;">
		#foreach( $dataElement in $dataElements)
			#if( $dataElement.shortName )
				#set( $dataElementName = $dataElement.shortName )
			#else
				#set( $dataElementName = $dataElement.name )
			#end

            #set( $optionCombos = $dataElement.categoryCombo.getSortedOptionCombos() )

			#foreach( $optionCombo in $optionCombos )

                #if( !$greyedFields.get( "$dataElement.id:$optionCombo.id" ) )
				#set( $key = "DE${dataElement.id}OC${optionCombo.id}" )

				<label>$encoder.htmlEncode( $dataElementName ) #if( $optionCombo.name!="(default)")$encoder.htmlEncode( $optionCombo.name )#end</label>

				#if( $validationViolations.get( $key ) )
					#set( $validationViolation = $validationViolations.get( $key ) )

	                #if( $formUtils.valueHigher( $validationViolation.value, $validationViolation.max ) )
	                    <br /><span style="color: #990000;">Too high (max $validationViolation.max)</span>
	                #elseif( $formUtils.valueLower( $validationViolation.value, $validationViolation.min ) )
	                    <br /><span style="color: red;">Too low (min $validationViolation.min)</span>
	                #else
	                    <br /><span style="color: red;">Not a number</span>
	                #end
                #end

				#if( $typeViolations.get( $key ) )
					#set( $typeViolation = $typeViolations.get( $key ) )
                    <br /><span style="color: #990000;">$typeViolation</span>
                #end

				#if( $dataElement.valueType.isText() )
					<input type="text" maxlength="255" size="24" name="$key" value="$!dataValues.get($key)" />
				#elseif( $dataElement.valueType == "BOOLEAN" )
					<select name="$key" style="width: 100%;">
						<option value="">[ No Value ]</option>
						<option value="true" #if($!dataValues.get($key) == "true")selected="selected"#end>Yes</option>
						<option value="false" #if($!dataValues.get($key) == "false")selected="selected"#end>No</option>
					</select>
				#elseif( $dataElement.valueType == "DATE" )
					<input type="date" maxlength="255" size="24" name="$key" value="$!dataValues.get($key)" />
				#elseif( $dataElement.valueType == "NUMBER" )
					<input type="text" maxlength="255" size="24" name="$key" value="$!dataValues.get($key)" />
				#elseif( $dataElement.valueType == "INTEGER" )
					<input type="text" maxlength="255" size="24" name="$key" value="$!dataValues.get($key)" />
				#elseif( $dataElement.valueType == "INTEGER_POSITIVE" )
					<input type="text" maxlength="255" size="24" name="$key" value="$!dataValues.get($key)" />
				#elseif( $dataElement.valueType == "INTEGER_NEGATIVE" )
					<input type="text" maxlength="255" size="24" name="$key" value="$!dataValues.get($key)" />
				#elseif( $dataElement.valueType == "INTEGER_ZERO_OR_POSITIVE" )
					<input type="text" maxlength="255" size="24" name="$key" value="$!dataValues.get($key)" />
				#end
				#end
			#end
		#end
	</p>
</div>
#end

#createSection( $name $dataElements )

<div class="header-box" align="center">
	<p>
        <input type="submit" style="width: 100%;" size="20" value="$i18n.getString("save")" />
	</p>
</div>

</form>

<div id="footer">
<h2>$i18n.getString( "navigate_to" )</h2>
<ul>
	<li><a href="dataEntry.action?organisationUnitId=$organisationUnitId&dataSetId=$dataSetId&periodId=$periodId">$i18n.getString("data_entry_overview")</a></li>
	<li><a href="index.action">$i18n.getString("home")</a></li>
</ul>
</div>
