
<table>
	<tr>
		<td class='text-column'>$i18n.getString( "total_result" ):</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>$!total</td>
	</tr>
</table>

#if( $patients.size() > 0 )
<table class="mainPageTable">
	<tr>
    <td>    
      <table class="listTable" id="patientList" width='100%'>               
          <col width="30"/>
			#foreach( $attribute in $patientAttributes )
				#if($attribute)<col/>#end
			#end

			#foreach( $identifierType in $identifierTypes)
				<col/>
			#end
			#if( $identifierTypes.size()==0 )
				<col/>       
			#end
          <col/>
          <col/>
          <col/>
		  #if($mapPatientOrgunit.size()!=0)
          <col/>
		  #end
          <col width="100"/>    

		  <thead>
			<tr>
				<th>#</th>
				#foreach( $attribute in $patientAttributes )
					#if($attribute)
						<th id="patientAttributeName">$!encoder.htmlEncode( $attribute.displayName )</th>
					#end
				#end

				#foreach( $identifierType in $identifierTypes)
					<th>$encoder.htmlEncode($identifierType.displayName)</th>
				#end
				#if( $identifierTypes.size() == 0 )
					<th>$i18n.getString( "full_name" )</th>
				#end
				<th>$i18n.getString( "gender" )</th>
				<th>$i18n.getString( "date_of_birth" )</th> 
				<th class="{sorter: false}">$i18n.getString( "age" )</th>
				
				#if($mapPatientOrgunit.size()!=0)
				<th>$i18n.getString( "hierachy_orgunit" )</th>
				#end
				<th style="text-align:center" class="{sorter: false}">$i18n.getString( "operations" )</th>
			  </tr>
          </thead>
		  
          <tbody id="list">
          #foreach( $patient in $patients )
          	<tr id="tr${patient.id}">
				
				<td>
					#set( $nr = ( ( $paging.getCurrentPage() - 1  ) * $paging.pageSize ) + $velocityCount )
					$nr
				</td>
				
				#foreach( $attribute in $patientAttributes )
					#if( $attribute )
						#set ( $key = $patient.id + '-' + $attribute.id )
						<td>
							#if( $attribute.valueType == 'YES/NO')
								$i18n.getString( $mapPatientPatientAttr.get($key) )
							#else
								$mapPatientPatientAttr.get($key)
							#end
						</td>
					#end
				#end
				
				#set($value="")
				#foreach( $identifierType in $identifierTypes )
					#foreach( $identifier in $patient.identifiers)
						#if($identifier.identifierType.id==$identifierType.id)
							#set($value=$identifier.identifier)
						#end
					#end
				#end
				#if($value=="")
					#set($value=$patient.names)
				#end
				<td>$!encoder.htmlEncode($value)</td>
				
				<td>$i18n.getString($!patient.gender)</td>
				
				<td>$!format.formatDate( $!patient.birthDate)</td>
				
				<td>$!patient.getAge()</td>
				
				#if( $mapPatientOrgunit.size() > 0 )
				<td>$!mapPatientOrgunit.get($patient.id)</td>
				#end

				<td>
					#if ( $!patient.phoneNumber && $!patient.phoneNumber != "" )					
					<a href="javascript:addPhoneToList( 'recipients', '$patient.id', '$value', '$!patient.phoneNumber' )" title='$i18n.getString( "add_phone_to_list" )'>
					<img src="../images/move_down.png" alt='$i18n.getString( "add_phone_to_list" )' /></a>
					#else
					<img src="../dhis-web-sms/images/question.png" title='$i18n.getString( "no_phone" )' />
					#end
				</td>
				
			</tr>
    	#end
    	</tbody>
    
	 </table>
    </td>
  </tr>
  <tr>
  	<td colspan="6">
		<p></p>
  		<div class="paging-container">
				#parse( "/dhis-web-commons/paging/paging.vm" )
		</div>
	</td>
  	<td></td>
  </tr>
</table>

<div id="detailsInfo"></div>

#end
<script type="text/javascript">
	jQuery(document).ready(function(){	
		tableSorter( 'patientList' );
	});
	var i18n_patient_details_and_history = '$encoder.jsEscape( $i18n.getString( "patient_details_and_history" ) , "'" )';
	
	var i18n_id = '$encoder.jsEscape( $i18n.getString( "id" ), "'")';
	var i18n_full_name = '$encoder.jsEscape( $i18n.getString( "full_name" ), "'")';
	var i18n_gender = '$encoder.jsEscape( $i18n.getString( "gender" ), "'")';
	var i18n_dob_type = '$encoder.jsEscape( $i18n.getString( "dob_type" ), "'")';
	var i18n_date_of_birth = '$encoder.jsEscape( $i18n.getString( "date_of_birth" ), "'")';
	var i18n_blood_group = '$encoder.jsEscape( $i18n.getString( "blood_group" ), "'")';
	var i18n_none = '$encoder.jsEscape( $i18n.getString( "none" ), "'")';
	var i18n_select = '[' + '$encoder.jsEscape( $i18n.getString( "select" ), "'")' + ']';
	var i18n_program_stages_history_plan = '$encoder.jsEscape( $i18n.getString( "program_stages_history_plan" ) , "'")';	
	var i18n_value_must_integer = '$encoder.jsEscape( $i18n.getString( "value_must_integer" ) , "'")';
	var i18n_value_must_number = '$encoder.jsEscape( $i18n.getString( "value_must_number" ) , "'")';
	var i18n_value_must_positive_integer = '$encoder.jsEscape( $i18n.getString( "value_must_positive_integer" ) , "'")';
	var i18n_value_must_zero_or_positive_integer = '$encoder.jsEscape( $i18n.getString( "value_must_zero_or_positive_integer" ) , "'")';
	var i18n_value_must_coordinate = '$encoder.jsEscape( $i18n.getString( "value_must_coordinate" ) , "'")';
	var i18n_value_must_negative_integer = '$encoder.jsEscape( $i18n.getString( "value_must_negative_integer" ) , "'")';
    var i18n_invalid_date = '$encoder.jsEscape( $i18n.getString( "invalid_date" ) , "'")' + ".\n " + '$encoder.jsEscape( $i18n.getString( "format_date" ) , "'")' + " '" + dateFormat.replace('yy', 'yyyy') + " '" ; 
    var i18n_saving_value_failed_status_code = '$encoder.jsEscape( $i18n.getString( "saving_value_failed_status_code" ) , "'")';
    var i18n_saving_value_failed_error_code = '$encoder.jsEscape( $i18n.getString( "saving_value_failed_error_code" ) , "'")';
    var i18n_searching_patient_failed = '$encoder.jsEscape( $i18n.getString( "searching_patient_failed" ) , "'")';
    var i18n_complete_confirm_message = '$encoder.jsEscape( $i18n.getString( "complete_confirm_message" ) , "'")';
    var i18n_error_required_field = '$encoder.jsEscape( $i18n.getString( "error_required_field" ) , "'")';
	var i18n_violate_validation = '$encoder.jsEscape( $i18n.getString( "violate_validation" ) , "'")';
	var i18n_date_is_greater_then_or_equals_due_date = '$encoder.jsEscape( $i18n.getString( "date_is_greater_then_or_equals_due_date" ) , "'")';	
	var i18n_program_stage = '$encoder.jsEscape( $i18n.getString( "program_stage" ) , "'")';
    var i18n_scheduled_for = '$encoder.jsEscape( $i18n.getString( "scheduled_for" ) , "'")';
	var i18n_show_all_items = '$encoder.jsEscape( $i18n.getString( "show_all_items" ) , "'")';
	var i18n_create_new_encounter = '$encoder.jsEscape( $i18n.getString( "create_new_encounter" ) , "'")';
	var i18n_save_success = '$encoder.jsEscape( $i18n.getString( "save_success" ) , "'")';
	var i18n_dblick_to_unselect = '$encoder.jsEscape( $i18n.getString( "dblick_to_unselect" ) , "'")';
</script>
