<h2>$encoder.htmlEncode( $programStage.name )</h2>

#set( $typeViolationsSize = $typeViolations.size() )

#if( $typeViolationsSize > 0 )
<div class="header-box" align="center">
	<h3 style="text-align: left; background-color: #990000; color: white;">$i18n.getString("warnings_and_errors")</h3>
	<p style="text-align: left;">
		$typeViolationsSize $i18n.getString("type_violation_errors"). <br />
	</p>
</div>	
#end

<form action="saveProgramStageForm.action" method="POST">

<input type="hidden" value=$programStageInstanceId name="programStageInstanceId"/>
<input type="hidden" value=$programStageId name="programStageId"/>
<input type="hidden" value=$orgUnitId name="orgUnitId"/>
<input type="hidden" value=$programId name="programId" />
<input type="hidden" value=$beneficiaryId name="beneficiaryId" />
<input type="hidden" id="current" name="current" value=$current />

<div class="header-box" align="center">
	<p style="text-align: left;">
		#foreach( $dataElement in $dataElements)
			#if( $dataElement.shortName )
				#set( $dataElementName = $dataElement.shortName )
			#else
				#set( $dataElementName = $dataElement.name )
			#end
				#if ($dataElement.getCategoryOptionCombos().getModels().size() == 1)			
					#set( $categoryOptionCombo = $dataElement.getCategoryOptionCombos().getModels().get( 0 ) )
					#set( $key = "DE${dataElement.id}OC${categoryOptionCombo.id}" )

					<label>$encoder.htmlEncode( $dataElementName ) #if( $categoryOptionCombo.name!="(default)")$encoder.htmlEncode( $categoryOptionCombo.name )#end 
					#if($dataElement.valueType == "DATE") [yyyy-MM-dd] #end
					</label>
					
					#if( $typeViolations.get( $key ) )
						#set( $typeViolation = $typeViolations.get( $key ) )
						<br /><span style="color: #990000;">$prevDataValues.get($key) $i18n.getString($typeViolation)</span>
					#end
					
					<input type=
					#if( $dataElement.valueType.isText() )
						"text"
					#elseif ($dataElement.valueType.isInteger() )
						"text" 
					#else 
						"$dataElement.valueType"
					#end 
					name="$key" value="$!prevDataValues.get($key)" />
				
				#elseif ($dataElement.getCategoryOptionCombos().getModels().size() > 1)
					
					#set( $categoryOptionCombo = $dataElement.getCategoryOptionCombos().getModels().get( 0 ) )
					#set( $key = "DE${dataElement.id}OC${categoryOptionCombo.id}" )

					$dataElementName

					#if( $typeViolations.get( $key ) )
                    	#set( $typeViolation = $typeViolations.get( $key ) )
                		<br /><span style="color: #990000;"> $prevDataValues.get($key) $i18n.getString($typeViolation)</span>
                	#end
                
					<select type=
					#if( $dataElement.valueType.isText() )
						"text"
					#elseif($dataElement.valueType.isInteger() )
						"text"
					#else 
						"$dataElement.valueType"
					#end 
					name="$key" />
				
					#set( $selected=false )

					#foreach ($categoryOptionCombo in $dataElement.categoryOptionCombos.models)
						<option value="$categoryOptionCombo.name"
						#if( !$typeViolations.containsKey( $key ) && $prevDataValues.get( $key ) == $categoryOptionCombo.name ) 
							selected
							#set( $selected=true )
						#end
						> $categoryOptionCombo.name </option>
					#end

					#if( !$selected ) 
						<option selected > $i18n.getString("select_option") </option>
					#end
					
					</select>
				#end
		#end
	</p>
</div>

<div class="header-box" align="center">
	<p>
		<input type="submit" style="width: 100%;" value="$i18n.getString("save")" />
	</p>
</div>

</form>

<div id="footer">
<h2>$i18n.getString( "navigate_to" )</h2>
<ul>
	<li> <a href="selectActivity.action?organisationUnitId=$orgUnitId&beneficiaryId=$beneficiaryId&current=$current"> $i18n.getString("activity_list") </a> </li>
	<li><a href="index.action">$i18n.getString("home")</a></li>
</ul>
</div>
