<h2>$i18n.getString( "activity_type" )</h2>
<p>
<ul>
	<li><a href="selectBeneficiary.action?organisationUnitId=$organisationUnitId&current=true&validated=false">$i18n.getString( "current_activityplan" )</a></li>
	<li><a href="selectBeneficiary.action?organisationUnitId=$organisationUnitId&current=false&validated=false">$i18n.getString( "all_activityplan" )</a></li>
</ul>
</p>

<div id="footer">
<h2>$i18n.getString( "navigate_to" )</h2>
<ul>
	<li><a href="selectNamebasedOrganisationUnit.action">$i18n.getString("organisation_unit")</a></li>
	<li><a href="index.action">$i18n.getString("home")</a></li>
</ul>
</div>