<h2>$i18n.getString( "activity_list" )</h2>
<p>
	<ul>
		<li>
			<a href="showBeneficiaryDetail.action?organisationUnitId=$organisationUnitId&beneficiaryId=$beneficiaryId&current=$current"> $i18n.getString( "details" ) </a>
		</li> 
	</ul>
<ul>
#foreach( $activity in $activities )
	<li>
		<a href="showProgramStageForm.action?orgUnitId=$organisationUnitId&programStageId=$activity.getTask().getProgramStageId()&programId=$activity.getTask().getProgramId()&programStageInstanceId=$activity.task.id&current=$current&beneficiaryId=$beneficiaryId">
			 $util.getProgramStage($activity.getTask().getProgramId(), $activity.getTask().getProgramStageId()).getName()
		</a> 
	</li>
#end
</ul>
</p>

<div id="footer">
<h2>$i18n.getString( "navigate_to" )</h2>
<ul>
	<li><a href="selectBeneficiary.action?organisationUnitId=$organisationUnitId&current=$current">$i18n.getString("beneficiary_list")</a></li>
	<li><a href="index.action">$i18n.getString("home")</a></li>
</ul>
</div>