r<h2>$i18n.getString( "select_organisation_unit" )</h2>
<p>
<ul>
#foreach( $organisationUnit in $organisationUnits )
	<li><a href="selectEnrollmentProgram.action?orgUnitId=$organisationUnit.id">$!encoder.htmlEncode( ${organisationUnit.name} )</a></li>
#end
</ul>
</p>

<div id="footer">
<h2>$i18n.getString( "navigate_to" )</h2>
<ul>
	<li><a href="index.action">$i18n.getString("home")</a></li>
</ul>
</div>