#macro( img $url )
<img src="$url"/>
#end

#macro( link $url $label )
<a href="$url" style="font-size: 12px; text-decoration: none; color: #4c9ce4;font-family: Arial, sans-serif" target="_blank">$label</a>
#end

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="en-GB" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title> $!pushAnalysis.getName</title>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>
</head>

<body style="background-color: rgb(246, 246, 246);font-family: Arial, sans-serif">
<table style="width: 100%;">
    <tr>
        <td></td>
        <td style="max-width:600px!important;display:block!important;margin:0 auto!important;clear:both!important">
            <div style="max-width:600px!important;padding:0!important;margin:0 auto">
                <div style="overflow-x:auto;max-width:578px;min-width:278px;width:100%;border:solid 1px #fff;border-radius: 8px;margin-bottom: 25px;background: #fff;padding: 10px;float:left">
                    <table>
                        <tr>
                            <td>
                                <h1>
                                    $!encoder.htmlEncode( $pushAnalysis.getTitle() )
                                </h1>
                                <small>$itemHtml.get( "date" )</small>
                                <p> $!encoder.htmlEncode( $pushAnalysis.getMessage() )</p>
                            </td>
                        </tr>
                    </table>
                </div>

                #foreach( $dashboardItem in $pushAnalysis.getDashboard().getItems() )

                    #if($itemHtml.get( $dashboardItem.getUid() ) != "")

                        <div style="overflow-x:auto;max-width:578px;min-width:278px;width:100%;border:solid 1px #fff;border-radius: 8px;margin-bottom: 25px;background: #fff;padding: 10px;">
                            <table style="margin: auto">
                                <tr>
                                    <td>

                                        #if( $dashboardItem.getType() == "REPORT_TABLE" )
                                            $itemHtml.get( $dashboardItem.getUid() )
                                            <div style="padding-top: 10px">
                                                #link ( $itemLink.get( $dashboardItem.getUid() ), "View in Pivot Table app" )
                                            </div>
                                        #else
                                            #img( $itemHtml.get( $dashboardItem.getUid() ) )
                                            <div style="padding-top: 10px">
                                                #if( $dashboardItem.getType() == "MAP" )
                                                    #link ( $itemLink.get( $dashboardItem.getUid() ), "View in GIS app" )
                                                #else
                                                    #link ( $itemLink.get( $dashboardItem.getUid() ), "View in Visualizer app" )
                                                #end
                                            </div>
                                        #end

                                    </td>
                                </tr>
                            </table>
                        </div>

                    #end

                #end

                <div style="overflow-x:auto;max-width:578px;min-width:278px;width:100%;border:solid 1px #fff;border-radius: 8px;margin-bottom: 25px;background: #fff;padding: 10px;font-size: 12px">
                    <table style="margin: auto">
                        <tr>
                            <td>

                                Generated by #link ($itemHtml.get( "instanceBaseUrl" ), $itemHtml.get( "instanceName" )) at $itemHtml.get( "date" )

                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        </td>
        <td>
        </td>
    </tr>
</table>
</body>

</html>