# Lombok will copy any of these annotations from the field to the constructor parameter, the setter parameter, and the getter method.
# This is required when using @RequiredArgsConstructor and/or @AllArgsConstructor with fields annotated with @Qualifier,
# for dependency injection to work properly. Without this directive lombok will generate a constructor where parameters are not annotated
# with @Qualifier. See https://projectlombok.org/features/constructor for more info
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
lombok.addLombokGeneratedAnnotation = true