<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT" follow="true">
<!--            <PatternLayout pattern="* %-5p %d{ISO8601} %m (%c:%L [%t])%n"/>-->
<!--            <PatternLayout pattern="%black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}): %msg%n%throwable"/>-->
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %highlight{${LOG_LEVEL_PATTERN:-%5p}}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=green, DEBUG=green bold, TRACE=blue} [%15.15t] %style{%-40.40C{1.}:%L}{cyan} : %m%n%throwable"/>
<!--            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>-->
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.hisp.dhis" level="INFO" additivity="true"/>
        <Logger name="org.hisp.dhis.webapi.mvc" level="warn" additivity="true"/>
        <Logger name="org.hibernate.cache.ehcache.internal.strategy.AbstractReadWriteEhcacheAccessStrategy" level="error" additivity="true"/>
        <Logger name="org.hibernate.cache.ehcache.AbstractEhcacheRegionFactory" level="error" additivity="true"/>
        <Logger name="org.hibernate.engine.internal.StatefulPersistenceContext" level="error" additivity="true"/>
        <Logger name="org.springframework.web.servlet.view.ContentNegotiatingViewResolver" level="error" additivity="true"/>
        <Logger name="org.hibernate.orm.deprecation" level="error" additivity="true"/>
        <Logger name="org.apache.activemq" level="error" additivity="true"/>
        <Logger name="org.hibernate" level="error" additivity="true"/>

        <Root level="WARN">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>