{ "caseAggregation":
  {
    "id": "${caseAggregation.id}",
	"uid": "${caseAggregation.uid}",
	"name": "$!encoder.jsonEncode( ${caseAggregation.name} )",
	"operator": "${caseAggregation.operator}",
	"aggregationDataElement": "$!encoder.jsonEncode( ${caseAggregation.aggregationDataElement.name} )",
	"optionCombo": "$!encoder.jsonEncode( ${caseAggregation.optionCombo.name} )",
	"aggregationExpression": "$!encoder.jsonEncode( ${caseAggregation.aggregationExpression} )"
  }
}