{ "period":
  {
    "id": $!{period.id},
    "startDate": "$!format.formatDate( ${period.startDate} )",
    "endDate": "$!format.formatDate( ${period.endDate} )",
    "name": "$!format.formatPeriod( ${period} )"
  }
}