{ "programIndicator":
  {
    "id": $!{programIndicator.id},
    "uid": "$!{programIndicator.uid}",
    "name": "$!encoder.jsonEncode( ${programIndicator.displayName} )",
    "code": "$!encoder.jsonEncode( ${programIndicator.code} )",
    "description": "$!encoder.xmlEncode( ${programIndicator.displayDescription} )",
    "valueType": "$!{programIndicator.valueType}",
    "rootDate" : "$!format.formatDate( $programIndicator.rootDate )",
    "expression": "$!encoder.jsonEncode( $!{programIndicator.expression} )",
    "filter": "$!encoder.jsonEncode( $!{programIndicator.filter} )"
  }
}
