#set( $size = $categoryOptions.size() )
{ "dataElementCategoryOptions": [
#foreach( $categoryOption in $categoryOptions )
  {
    "id":  ${categoryOption.id} ,
    "name": "$!encoder.jsonEncode( ${categoryOption.name} )"
  }#if( $velocityCount < $size ),#end
#end
]
#if( $usePaging ),
    "paging":#parse( "/dhis-web-commons/ajax/jsonPaging.vm" )
#end
}
