{ "organisationUnitGroupSet":
  {
	"id": "${organisationUnitGroupSet.id}",
	"uid": "${organisationUnitGroupSet.uid}",
	"name": "$!encoder.jsonEncode( ${organisationUnitGroupSet.displayName} )",
	"description": "$!encoder.jsonEncode( ${organisationUnitGroupSet.description} )",
	"compulsory": "$!{organisationUnitGroupSet.compulsory}",
	"memberCount": "$!{memberCount}"
  }
}