{ "dataSet": 
  {
    "id": "$!{dataSet.id}",
    "uid": "$!{dataSet.uid}",
    "name": "$!encoder.jsonEncode( ${dataSet.displayName} )",
    "shortName": "$!encoder.jsonEncode( ${dataSet.displayShortName} )",
    "description": "$!encoder.jsonEncode( ${dataSet.description} )",
    "periodTypeId": "$!{dataSet.periodTypeId}",
	"frequency": "$i18n.getString( $!{dataSet.periodType.name} )",
    "dataElementCount": "$!{dataSet.dataElements.size()}",
    "expiryDays": "$!encoder.jsonEncode( ${dataSet.expiryDays} )"
    #if( $!{dataSet.dataEntryForm} ),"dataentryform": "$!encoder.jsonEncode( ${dataSet.dataEntryForm.name} )"#end
  }
}
