{ "dataElementCategoryOptionCombo":
  {
    "id": "$!{optionCombo.id}",
    "uid": "$!{optionCombo.uid}",
    "name": "$encoder.jsonEncode( $!{optionCombo.name} )",
    "code": "$!{optionCombo.code}"
  }
}