{ "trackedEntityType": 
  {
    "id": $!{trackedEntityType.id},
    "uid": "$!{trackedEntityType.uid}",
    "name": "$!encoder.jsonEncode( ${trackedEntityType.displayName} )",
    "description": "$!encoder.jsonEncode( ${trackedEntityType.displayDescription} )"
  } 
}
