#set( $size = $notifications.size() )
[
#foreach( $notification in $notifications )
  {
    "uid": "${notification.uid}",
    "level": "${notification.level}",
    "category": "${notification.category}",
    "time": "${format.formatDateTime( $notification.time )}",
    "message": "$!{encoder.jsonEncode( $notification.message )}",
    "completed": "${notification.completed}"    
  }#if( $velocityCount < $size ),#end
#end
]