<?xml version="1.0" encoding="UTF-8"?>
<dataElementGroupSet>
	<id>$dataElementGroupSet.id</id>
	<name>$encoder.xmlEncode( $dataElementGroupSet.displayName )</name>
	<memberCount>$dataElementGroupSet.members.size()</memberCount>	
</dataElementGroupSet>