<?xml version="1.0" encoding="UTF-8"?>
<indicator>
	<id>$indicatorGroup.id</id>
    <name>$!encoder.xmlEncode( $indicatorGroup.displayName )</name>
    <memberCount>$memberCount</memberCount>
</indicator>