<?xml version="1.0" encoding="UTF-8"?>
<organisationUnits>
#foreach ( $unit in $organisationUnits )
	<organisationUnit>
	    <id>$unit.id</id>
	    <name>$!encoder.xmlEncode( $unit.name )</name>
	    <shortName>$!encoder.xmlEncode( $unit.shortName )</shortName>
	    <code>$!encoder.xmlEncode( $unit.code )</code>
	</organisationUnit>
#end
</organisationUnits>