<?xml version="1.0" encoding="UTF-8"?>
<periods>
#foreach( $period in $periods )
	<period>
	    <id>$period.id</id>
	    <startDate>$!format.formatDate( $period.startDate )</startDate>
	    <endDate>$!format.formatDate( $period.endDate )</endDate>
        <name>$!format.formatPeriod( $period )</name>
        <externalId>$!period.externalId</externalId>
	</period>
#end
</periods>