html, body { 
    height:100%;
    margin: 0;
    padding: 0;
    background-color: white;
    overflow: auto;
}

.not-for-screen {
    display: none;
}

/*----------------------------------------------------------------------------*/
/* Table
/*----------------------------------------------------------------------------*/

table 
{
    font-size: 13px;
    line-height: 24px;
    table-layout: fixed;
    margin-bottom: 10px;
}

/*----------------------------------------------------------------------------*/
/* App specific
/*----------------------------------------------------------------------------*/

.container-heading {
    color: white;
}

.container-default-form {
    width: 50%;
}

.container-1-1 {
    width: 100%;
    float: left;
    margin-top: 1em;
}

.container-1-2 {
    width: 50%;
    float: left;
}

div.paging a.active
{
    text-decoration: none; 
    color: #000;
    cursor: default;
}

.input-error {
    background-color: #ff8a8a !important;
}

.input-success {
    background-color: #b9ffb9 !important;
}

.red {
    color: red;
}

.right {
    float: right !important;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.black {
    color: black;
}

.bold {
    font-weight: bold;
}

.white {
    color: white;
}

.anchor-color {
    color: #276696;
}

.inline-div {
    display: inline-block; 
    margin-right: 5px;
    float: left;
}

.bordered-div
{
    border: 1px solid #c2c2c2;
    border-radius: 5px;
    padding: 12px;
    margin-left: -15px;
    margin-bottom: 20px;
}

.nav, .pagination, .carousel, .panel-title a { 
    cursor: pointer; 
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=date]::-webkit-inner-spin-button, input[type=date]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.max-column-width {
    max-width:200px !important; 
    word-wrap:break-word; 
}

.table-borderless>thead>tr>th, 
.table-borderless>tbody>tr>th, 
.table-borderless>tfoot>tr>th, 
.table-borderless>thead>tr>td, 
.table-borderless>tbody>tr>td, 
.table-borderless>tfoot>tr>td {
    border-top: none;     
    white-space:nowrap;
}

.dhis2-table>thead>tr>th, 
.dhis2-table>tbody>tr>th, 
.dhis2-table>tfoot>tr>th, 
.dhis2-table>thead>tr>td, 
.dhis2-table>tbody>tr>td, 
.dhis2-table>tfoot>tr>td {
    border-top: none;
    background-color: #ebf0f6;
}

.dhis2-table-striped-border tr th {
    border: 1px solid #cad5e5;
}

.dhis2-table-striped-border tr td {
    border: 1px solid #cad5e5;
}

.dhis2-table-striped-border > tbody > tr:nth-child(odd)> td, .dhis2-table-striped > tbody > tr:nth-child(odd)> th {
    background-color: #ebf0f6
}

.listTable th {
    height: 30px;
}

.dhis2-table-striped>thead>tr, 
.dhis2-table-striped>tbody>tr, 
.dhis2-table-striped>tfoot>tr, 
.dhis2-table-striped>thead>tr, 
.dhis2-table-striped>tbody>tr, 
.dhis2-table-striped>tfoot>tr {
    border-bottom: 1px solid #cad5e5;  
    white-space:nowrap;
}

.dhis2-table-striped > tbody > tr:nth-child(odd)> td, .dhis2-table-striped > tbody > tr:nth-child(odd)> th {
    background-color: #ebf0f6
}

.dhis2-list-table-striped {
    width: 100%;
    padding-bottom: 6px;
}

.dhis2-list-table-striped>thead>tr, 
.dhis2-list-table-striped>tbody>tr, 
.dhis2-list-table-striped>tfoot>tr, 
.dhis2-list-table-striped>thead>tr, 
.dhis2-list-table-striped>tbody>tr, 
.dhis2-list-table-striped>tfoot>tr {
    border: none;
}

.dhis2-list-table-striped > tbody > tr:nth-child(odd)> td, .dhis2-table-striped > tbody > tr:nth-child(odd)> th {
    background-color: #ebf0f6
}

.dhis2-table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
    background-color: #dfe9f4;
}

#contextMenu {
    position: absolute;
    display:none;
}

.pull-center {
    text-align: center;
}
.filter-with-content {
    float: right !important;
    color: red;
}

.filter-without-content {
    float: right !important;
    color: black;
}

.bold {
    font-weight: bold;
}

.button-std {
    width: 130px;
}

.coordinate-container{
    width: 50%;
    float: left; 
}

.modal-full-window .modal-dialog {
    width: 99%;
    height: 99%;
}

#map-container { 
    height: 800px;
    width: 100%;
}

#polygon-label {
    text-align: center;
    padding: 5px;
    font-size: 15px;
}

.polygon-name {
    padding: 5px;
    font-size: 15px;
    position: absolute;
}

.contextmenu{
    visibility:hidden;
    background:#ffffff;
    border:1px solid #8888FF;
    z-index: 10;
    position: relative;
    width: 140px;
}
.contextmenu div{
    padding-left: 5px
}

select {
    padding: 1px !important;
}

.clear {
    clear: both
}

.horizontal-spacing{
    margin-right: 20px;    
}

.disable-clicks {
    pointer-events: none;
}

.map_context_menu{
    background-color:white;
    border:1px solid gray;
    z-index: 1000;
}
.map_context_menu_item{
    padding:3px 6px;
}
.map_context_menu_item:hover{
    background-color:#CCCCCC;
}
.map_context_menu_separator{
    background-color:gray;
    height:1px;
    margin:0;
    padding:0;
}

.disabled-context-menu-item {    
    pointer-events: none;
    color: #dddddd;
    cursor: none;
}
.enable-context-menu-item {    
    cursor:pointer; 
}

.small-horizonal-spacing{
    margin-left: 5px;    
}

.small-vertical-spacing{
    margin-top: 5px;    
}

.vertical-spacing{
    margin-top: 20px;    
}

div#orgUnitTree {
    height: 50%;
    border: 1px solid #e3e3e3;
}

.calendars-popup {
    z-index: 2000 !important;
}

.section-label{
    font-size: 14pt;
    color: #585D61;
    border-bottom: 1px solid #e3e3e3;
}

.warning-message-label {
    height: 34px;
    font-size: 14px;
}

.selectionGroup{
    margin: 0 auto;
    display: flex;
}

.selectionArea {
    border: 1px solid #a4d2a3;
    background-color: #d0eBd0;
    padding-top: 10px;
    padding-bottom: 10px;    
    //margin-bottom: 15px;
    border-radius: 3px;
}

.div-bottom {
    position: absolute;
    bottom: 0;
}

.form-control-ui-select {
    width:100%; 
    height:34px; 
    line-height:1.0; 
    padding: 20px 6px;
    border-radius: 4px;
}

.select2-container .select2-choice {
    padding: 5px !important;
    color: #555 !important;
}

.form-control{
    color: black;
    padding: 5px !important;
}

.bold {
    font-weight: bold;
}

.ui-datepicker-group .ui-datepicker-header {
    //height: 1.5em; 
    height: inherit;  //this is to make it play nice with bootstrap
}
.wrap-text {
    word-wrap: break-word;
}
