<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="10">
    <!-- Stream logs:
            docker compose logs -f web
         Stream logs of a particuar package only:
            docker compose logs -f web | grep org.hisp.dhis.monitoring.metrics
         Show timestamps:
            docker compose logs -t -f web
    -->
    <Properties>
        <Property name="layout">%-5level %c [%t] %msg%n</Property>
    </Properties>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${layout}" />
        </Console>
    </Appenders>

    <Loggers>
        <!--
            This config logs events

            for Loggers declared in packages prefixed with "org.hisp.dhis" i.e. "org.hisp.dhis.security"
            from level INFO to more severe (WARN, ERROR, ...)

            any Logger declared in a package not prefixed with "org.hisp.dhis" and
            without a Logger config defined here will log from level WARN to more severe.

            Adapt this config as you see fit.

            Please check https://logging.apache.org/log4j/2.x/manual/configuration.html
        -->
        <Logger name="org.hisp.dhis" level="INFO" additivity="true"/>

        <Root level="WARN">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>
