#sharingDialog()
<script type="text/javascript" src="../dhis-web-pivot/reporttable.js?_rev=$!{buildRevision}"></script>
<script type="text/javascript" src="../dhis-web-visualizer/chart.js?_rev=$!{buildRevision}"></script>
<script type="text/javascript" src="../dhis-web-mapping/map.js?_rev=$!{buildRevision}"></script>
<script type="text/javascript" src="plugin/eventreport.js?_rev=$!{buildRevision}"></script>
<script type="text/javascript" src="plugin/eventchart.js?_rev=$!{buildRevision}"></script>
<script type="text/javascript" src="../dhis-web-commons/oust/oust.js?_rev=$!{buildRevision}"></script>
<script type="text/javascript" src="javascript/dashboard.js?_rev=$!{buildRevision}"></script>
<script type="text/javascript" src="../dhis-web-commons/javascripts/date.js?_rev=$!{buildRevision}"></script>

<script type="text/javascript">

var i18n_share_your_interpretation_of = '$encoder.jsEscape( $i18n.getString( "share_your_interpretation_of" ), "'")';
var i18n_interpretation_was_shared = '$encoder.jsEscape( $i18n.getString( "interpretation_was_shared" ), "'")';
var i18n_viewing = '$encoder.jsEscape( $i18n.getString( "viewing" ), "'")';
var i18n_click_add_new_to_get_started = '$encoder.jsEscape( $i18n.getString( "click_add_new_to_get_started" ), "'")';
var i18n_add_stuff_by_searching = '$encoder.jsEscape( $i18n.getString( "add_stuff_by_searching" ), "'")';
var i18n_arrange_dashboard_by_dragging_and_dropping = '$encoder.jsEscape( $i18n.getString( "arrange_dashboard_by_dragging_and_dropping" ), "'")';
var i18n_remove = '$encoder.jsEscape( $i18n.getString( "remove" ), "'")';
var i18n_view_full_size = '$encoder.jsEscape( $i18n.getString( "view_full_size" ), "'")';
var i18n_click_to_explore_drag_to_new_position = '$encoder.jsEscape( $i18n.getString( "click_to_explore_drag_to_new_position" ), "'")';
var i18n_drag_to_new_position = '$encoder.jsEscape( $i18n.getString( "drag_to_new_position" ), "'")';
var i18n_manage = '$encoder.jsEscape( $i18n.getString( "manage" ), "'")';
var i18n_share = '$encoder.jsEscape( $i18n.getString( "share" ), "'")';
var i18n_explore = '$encoder.jsEscape( $i18n.getString( "explore" ), "'")';
var i18n_resize = '$encoder.jsEscape( $i18n.getString( "resize" ), "'")';
var i18n_share_interpretation = '$encoder.jsEscape( $i18n.getString( "share_interpretation" ), "'")';
var i18n_see_more_hits = '$encoder.jsEscape( $i18n.getString( "see_more_hits" ), "'")';
var i18n_see_fewer_hits = '$encoder.jsEscape( $i18n.getString( "see_fewer_hits" ), "'")';
var i18n_add = '$encoder.jsEscape( $i18n.getString( "add" ), "'")';
var i18n_click_and_drag_to_new_position = '$encoder.jsEscape( $i18n.getString( "click_and_drag_to_new_position" ), "'")';
var i18n_get_as_image = '$encoder.jsEscape( $i18n.getString( "get_as_image" ), "'")';
var i18n_user_org_unit_filter = '$encoder.jsEscape( $i18n.getString( "user_org_unit_filter" ), "'")';
var i18n_applies_to_favorites_with_user_org_units_only = '$encoder.jsEscape( $i18n.getString( "applies_to_favorites_with_user_org_units_only" ), "'")';
var i18n_missing_dashboard_app = '$encoder.jsEscape( $i18n.getString( "missing_dashboard_app" ), "'")';

jQuery( document ).ready( function() {
  dhis2.leftBar.resetPosition();
});

</script>
<div id="interpretationPopup">
</div>

<div id="dashboardHeader"><h3>
#if( !$currentUser.profileFilled )<a class="alert" href="../../../dhis-web-user-profile/#/profile">$i18n.getString( "update_profile" )</a> &nbsp;&#8226;&nbsp;#end
<a href="showSendFeedback.action">$i18n.getString( "write_feedback" )</a>
#if( $messageCount > 0 )&nbsp;&#8226;&nbsp; <a class="alert" href="message.action">$messageCount #if( $messageCount > 1 )$i18n.getString( "unread_messages" )#else$i18n.getString( "unread_message" )#end</a> #end
#if( $interpretationCount > 0 )&nbsp;&#8226;&nbsp;<a class="alert" href="interpretation.action">$interpretationCount #if( $interpretationCount > 1 )$i18n.getString( "new_interpretations" )#else$i18n.getString( "new_interpretation" )#end</a>
#end
&nbsp;&#8226;&nbsp; <span id="dashboardTitle"></span>
</h3></div>

<div id="dashboardMenu" class="horizontalMenu">
    <ul>
        <li><a class="greyButtonLink" href="message.action">$i18n.getString( "messages" )</a></li>
        <li><a class="greyButtonLink" href="interpretation.action">$i18n.getString( "interpretations" )</a></li>
    </ul>
</div>

<div id="searchDiv"><input type="text" id="searchField" autocomplete="off" placeholder="$i18n.getString( 'search_for_users_charts_maps_reports' )"></div>
<div id="hitDiv"></div>

<div id="searchButton"><a class="blueButtonLink" href="javascript:dhis2.db.search()">$i18n.getString( "search" )</a></div>

<div id="cogButton"><a class="greyButtonLink" href="javascript:dhis2.db.viewOrgUnitSelector()"><i class="fa fa-cog"></i></a></div>

<div id="dashboardControl" class="horizontalMenu dashboardList">
    <ul>
        <li><a class='bold' href='javascript:dhis2.db.openAddDashboardForm()'>$i18n.getString( "add" )</a></li>
        <li id="manageDashboard"><a class='bold'>$i18n.getString( "manage" )</a></li>
        <li id="manageSharing"><a class='bold'>$i18n.getString( "share" )</a></li>
        <li><a class='bold' href='javascript:dhis2.db.scrollLeft()' title='$i18n.getString( "previous" )'>&lt;</a></li>
        <li><a class='bold' href='javascript:dhis2.db.scrollRight()' title='$i18n.getString( "next" )'>&gt;</a></li>
    </ul>
</div>

<div id="dashboardListContainer" class="horizontalMenu">
    <div id="dashboardListWrapper" class="dashboardList">
        <ul id="dashboardList"></ul>
    </div>
</div>

<div id="contentDiv">
    <ul id="contentList" class="horizontalMenu"></ul>
</div>

<div id="chartView" class="page">
    <div id="chartViewHeader">
        <span><a id="chartImageDownload" href="javascript:dhis2.db.downloadImage()">$i18n.getString( "download" )</a></span>
        <span>$i18n.getString( "api_link" ): <a id="chartImageUrl" target="_blank"></a></span>
    </div>
    <div><img id="chartImage" src="" style="padding: 10px;"></div>
</div>

<div id="reportDialogView" class="page"></div>

<div id="shareForm">
    <textarea id="interpretationArea" class="interpretationArea" placeholder="$i18n.getString( 'write_your_interpretation' )"></textarea>
    <input type="button" class="interpretationButton" value="$i18n.getString( 'share' )" onclick="dhis2.db.shareInterpretation()">
</div>

<div id="shareHelpForm">
    <ul>
        <li>$i18n.getString( "from" ) <a href="../../../dhis-web-pivot/index.html">$i18n.getString( "pivot_table" )</a>, $i18n.getString( "generate_pivot_table_click_share" )</li>
        <li>$i18n.getString( "from" ) <a href="../../../dhis-web-visualizer/index.html">$i18n.getString( "data_visualizer" )</a>, $i18n.getString( "load_favorite_click_share" )</li>
        <li>$i18n.getString( "from" ) <a href="../../../dhis-web-mapping/index.html">$i18n.getString( "gis" )</a>, $i18n.getString( "load_favorite_click_share" )</li>
        <li>$i18n.getString( "from" ) <a href="../../../dhis-web-reporting/showDataSetReportForm.action">$i18n.getString( "data_set_report" )</a>, $i18n.getString( "generate_data_set_report_click_share" )</li>
    </ul>
</div>

<div id="addDashboardForm">
    <label style="margin-right: 10px">$i18n.getString( "name" )</label><input type="text" id="dashboardName" style="width: 240px; padding: 5px; margin-right: 10px;">
    <a class="greyButtonLink" href="javascript:dhis2.db.addDashboard()" style="margin-top: 1px">$i18n.getString( "create" )</a>
</div>

<div id="manageDashboardForm" class="page">
    <h4>$i18n.getString( "rename_current_dashboard" )</h4>
    <div><label style="margin-right: 10px">$i18n.getString( "name" )</label><input type="text" id="dashboardRename" style="width: 230px; padding: 5px; margin-right: 10px;">
    <a class="greyButtonLink" href="javascript:dhis2.db.renameDashboard()" style="margin-top: 1px">$i18n.getString( "rename" )</a></div>
    <h4>$i18n.getString( "add_items_to_current_dashboard" )</h4>
    <div><a class="greyButtonLink" href="javascript:dhis2.db.addMessagesContent()">$i18n.getString( "messages" )</a></div>
    <h4>$i18n.getString( "delete_current_dashboard" )</h4>
    <div><a class="greyButtonLink" href="javascript:dhis2.db.removeDashboard()">$i18n.getString( "delete" )</a></div>
    <h4>$i18n.getString( "translate_current_dashboard" )</h4>
    <div><a class="greyButtonLink" href="javascript:dhis2.db.translateDashboard()">$i18n.getString( "translate" )</a></div>
</div>

<div id="orgUnitSelectorForm" class="page">
    <div class="tipText" style="padding: 2px 0 4px 0">$i18n.getString( "applies_to_favorites_with_user_org_units_only" )</div>
    <div id="selectionTree" style="width:339px; height:376px"></div>
    <div style="padding-top:15px; float:right;">
        <a class="greyButtonLink" href="javascript:dhis2.db.clearSelectedOrgUnits()">$i18n.getString( "clear" )</a>
        <a class="greyButtonLink" href="javascript:dhis2.db.updateSelectedOrgUnits()">$i18n.getString( "update" )</a>
    </div>
</div>
