<script type="text/javascript">
var i18n_enter_subject = '$encoder.jsEscape( $i18n.getString( "enter_subject" ), "'")';
var i18n_enter_text = '$encoder.jsEscape( $i18n.getString( "enter_text" ), "'")';
var i18n_select_one_or_more_recipients = '$encoder.jsEscape( $i18n.getString( "select_one_or_more_recipients" ), "'")';
var i18n_select_users_and_user_groups = '$encoder.jsEscape( $i18n.getString( "select_users_and_user_groups" ), "'")';
var i18n_selected_more_than_200_user = '$encoder.jsEscape( $i18n.getString( "selected_more_than_200_user" ), "'")';

jQuery(function() {
#if( !${recipient} )
    $('#toUser').show();
    $('#recipients').select2({
       placeholder: i18n_select_users_and_user_groups,
       minimumInputLength: 1,
       multiple: true,
       width: "545px",
       ajax: {
           url: 'getMessageRecipients.action',
           dataType: 'json',
           data: function(term, page) {
                return {
                    filter: term
                }
           },
           results: function(data, page) {
               return { results: data.matches }
           }
       },
       formatResult: formatItem,
       formatSelection: formatItem
    });
#else
    $('#recipients').val('u:${recipient.uid}');
#end
});
</script>

<h3>$i18n.getString( "write_new_message" )#if( ${recipient} ) $i18n.getString( "to" ) $encoder.htmlEncode( ${recipient.name} )#end </h3>

<form id="messageForm" action="sendMessage.action" method="post" onsubmit="return validateMessage()">

<table>

  #if( !${recipient} )
    <tr>
      <td style="width:80px">$i18n.getString( "to_org_unit" )</td>
      <td>
        #organisationUnitSelectionTree( true true false false )
      </td>
    </tr>
  #else
    <input type="hidden" id="ignoreTree" name="ignoreTree" value="true">
  #end

  <tr>
    <td style="width:80px"><label id="toUser" style="display:none">$i18n.getString( "to_user" )</label></td>
    <td>
      <input type="hidden" name="recipients" id="recipients" style="width:545px; padding:4px; border:1px solid grey;"/>
    </td>
  </tr>

  <tr>
    <td colspan="2" style="height:1px"></td>
  </tr>

  <tr>
    <td><label>$i18n.getString( "subject" )</label></td>
    <td><input type="text" id="subject" name="subject" style="width:619px;"></td>
  </tr>

  <tr>
    <td><label>$i18n.getString( "text" )</label></td>
    <td><textarea id="text" name="text" style="width:619px; height:220px;"></textarea></td>
  </tr>

  <tr>
    <td colspan="2" style="height:10px"></td>
  </tr>

  <tr>
    <td></td>
    <td><a class="blueButtonLink" href="javascript:submitMessage()">$i18n.getString( 'send' )</a>
      <a class="greyButtonLink" href="message.action">$i18n.getString( 'discard' )</a></td>
  </tr>

</table>

</form>
