*
{
  font-family: arial, sans-serif;
  -webkit-print-color-adjust: exact;
}

div#header, div#headerMessage, div#leftBar, div#headerMessage, div#rightBar, .hideInPrint
{
  display: none;
}

div#mainPage 
{
  margin-left: 20px;
  margin-top: 10px;
}