<script type="text/javascript" src="../dhis-web-commons/javascripts/useraccount/updateUserAccountForm.js"></script>

<h3>$i18n.getString( "user_account" )</h3>

<form id="updateUserinforForm" action="updateUserAccount.action" method="post" onsubmit='return false;' class="inputForm">
<div>
	<input type="hidden" id="id" name="id" value="$userCredentials.id"/>
</div>

<table>
	<tr>
		<th colspan="2">$i18n.getString( "details" )</th>
	</tr>
    <tr>
        <td><label for="username">$i18n.getString( "user_name" )</label></td>
        <td><input type="text" id="username" name="username" value="$!encoder.htmlEncode( $!userCredentials.username )" disabled="disabled"></td>
    </tr>
    <tr>
        <td><label for="firstName">$i18n.getString( "first_name" ) <em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
        <td><input type="text" id="firstName" name="firstName" value="$!encoder.htmlEncode( $!userCredentials.userInfo.firstName )"></td>
    </tr>
    <tr>
        <td><label for="surname">$i18n.getString( "last_name" ) <em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
        <td><input type="text" id="surname" name="surname" value="$!encoder.htmlEncode( $!userCredentials.userInfo.surname )"></td>
    </tr>
    #if( !$userCredentials.externalAuth )
	<tr>
		<td><label for="oldPassword">$i18n.getString( "old_password" ) <em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
		<td><input type="password" id="oldPassword" name="oldPassword"></td>
	</tr>
	<tr>
		<td><label for="rawPassword">$i18n.getString( "new_password" )</label></td>
		<td><input type="password" id="rawPassword" name="rawPassword"></td>
	</tr>
	<tr>
		<td><label for="retypePassword">$i18n.getString( "retype_new_password" )</label></td>
		<td><input type="password" id="retypePassword" name="retypePassword"></td>
	</tr>
	#end
	<tr>
		<td><label for="email">$i18n.getString( "email" )</label></td>
		<td><input type="text" id="email" name="email" value="$!encoder.htmlEncode( $!userCredentials.userInfo.email )"></td>
	</tr>
    <tr>
        <td><label for="phoneNumber">$i18n.getString( "phone_number" )</label></td>
        <td><input type="text" id="phoneNumber" name="phoneNumber" value="$!encoder.htmlEncode( $!userCredentials.userInfo.phoneNumber )"></td>
    </tr>
	<tr>
		<td></td>
		<td valign="top"><input type="submit" value="$i18n.getString( 'save' )" style="width:10em"></td>
	</tr>
</table>
</form>
