<label for="reportingMonth">$i18n.getString( "reporting_month" )</label>
<input type="checkbox" id="reportingMonth" name="reportingMonth" value="true"#if( $relatives.isThisMonth() ) checked#end>&nbsp;
<label for="reportingBimonth">$i18n.getString( "reporting_bimonth" )</label>
<input type="checkbox" id="reportingBimonth" name="reportingBimonth" value="true"#if( $relatives.isThisBimonth() ) checked#end>&nbsp;
<label for="reportingQuarter">$i18n.getString( "reporting_quarter" )</label>
<input type="checkbox" id="reportingQuarter" name="reportingQuarter" value="true"#if( $relatives.isThisQuarter() ) checked#end>&nbsp;
<label for="thisSixMonth">$i18n.getString( "reporting_sixmonth" )</label>
<input type="checkbox" id="thisSixMonth" name="thisSixMonth" value="true"#if( $relatives.isThisSixMonth() ) checked#end><br><br>

<label for="monthsThisYear">$i18n.getString( "months_this_year" )</label>
<input type="checkbox" id="monthsThisYear" name="monthsThisYear" value="true""#if( $relatives.isMonthsThisYear() ) checked#end>&nbsp;
<label for="quartersThisYear">$i18n.getString( "quarters_this_year" )</label>
<input type="checkbox" id="quartersThisYear" name="quartersThisYear" value="true"#if( $relatives.isQuartersThisYear() ) checked#end>&nbsp;
<label for="thisYear">$i18n.getString( "this_year" )</label>
<input type="checkbox" id="thisYear" name="thisYear" value="true"#if( $relatives.isThisYear() ) checked#end>&nbsp;
<label for="thisFinancialYear">$i18n.getString( "this_financial_year" )</label>
<input type="checkbox" id="thisFinancialYear" name="thisFinancialYear" value="true"#if( $relatives.isThisFinancialYear() ) checked#end><br><br>

<label for="monthsLastYear">$i18n.getString( "months_last_year" )</label>
<input type="checkbox" id="monthsLastYear" name="monthsLastYear" value="true""#if( $relatives.isMonthsLastYear() ) checked#end>&nbsp;
<label for="quartersLastYear">$i18n.getString( "quarters_last_year" )</label>
<input type="checkbox" id="quartersLastYear" name="quartersLastYear" value="true"#if( $relatives.isQuartersLastYear() ) checked#end>&nbsp;
<label for="lastYear">$i18n.getString( "last_year" )</label>
<input type="checkbox" id="lastYear" name="lastYear" value="true"#if( $relatives.isLastYear() ) checked#end>&nbsp;
<label for="lastFinancialYear">$i18n.getString( "last_financial_year" )</label>
<input type="checkbox" id="lastFinancialYear" name="lastFinancialYear" value="true"#if( $relatives.isLastFinancialYear() ) checked#end><br><br>

<label for="lastWeek">$i18n.getString( "last_week" )</label>
<input type="checkbox" id="lastWeek" name="lastWeek" value="true""#if( $relatives.isLastWeek() ) checked#end>&nbsp;
<label for="last4Weeks">$i18n.getString( "last_4_weeks" )</label>
<input type="checkbox" id="last4Weeks" name="last4Weeks" value="true"#if( $relatives.isLast4Weeks() ) checked#end>&nbsp;
<label for="last12Weeks">$i18n.getString( "last_12_weeks" )</label>
<input type="checkbox" id="last12Weeks" name="last12Weeks" value="true"#if( $relatives.isLast12Weeks() ) checked#end>&nbsp;
<label for="last3Months">$i18n.getString( "last_3_months" )</label>
<input type="checkbox" id="last3Months" name="last3Months" value="true"#if( $relatives.isLast3Months() ) checked#end><br><br>

<label for="last12Months">$i18n.getString( "last_12_months" )</label>
<input type="checkbox" id="last12Months" name="last12Months" value="true"#if( $relatives.isLast12Months() ) checked#end>&nbsp;
<label for="last6BiMonths">$i18n.getString( "last_6_bimonths" )</label>
<input type="checkbox" id="last6BiMonths" name="last6BiMonths" value="true"#if( $relatives.isLast6BiMonths() ) checked#end>&nbsp;
<label for="last4Quarters">$i18n.getString( "last_4_quarters" )</label>
<input type="checkbox" id="last4Quarters" name="last4Quarters" value="true"#if( $relatives.isLast4Quarters() ) checked#end>&nbsp;
<label for="last2SixMonths">$i18n.getString( "last_2_sixmonths" )</label>
<input type="checkbox" id="last2SixMonths" name="last2SixMonths" value="true"#if( $relatives.isLast2SixMonths() ) checked#end><br><br>

<label for="last5Years">$i18n.getString( "last_5_years" )</label>
<input type="checkbox" id="last5Years" name="last5Years" value="true"#if( $relatives.isLast5Years() ) checked#end>&nbsp;
<label for="last5FinancialYears">$i18n.getString( "last_5_financial_years" )</label>
<input type="checkbox" id="last5FinancialYears" name="last5FinancialYears" value="true"#if( $relatives.isLast5FinancialYears() ) checked#end>