
#macro( periodCheckBox $name $checked $i18nString )
<input type="checkbox" id="${name}" name="${name}" value="true"#if( $checked ) checked#end>&nbsp; $i18n.getString( "${i18nString}" )
#end

<style>
  .periodCol { list-style: none}
  .periodHeader { font-weight: bold}
</style>

<table>
  <tr>
    <td class="periodHeader">$i18n.getString( "days" )</td>
    <td class="periodHeader">$i18n.getString( "weeks" )</td>
    <td class="periodHeader">$i18n.getString( "months" )</td>
  </tr>

  <tr>
    <td>
      <ul class="periodCol">
        <li>#periodCheckBox( 'reportingDay', $relatives.isThisDay(), 'reporting_day' )</li>
        <li>#periodCheckBox( 'yesterday', $relatives.isYesterday(), 'yesterday' )</li>
        <li>#periodCheckBox( 'last3Days', $relatives.isLast3Days(), 'last_3_days' )</li>
        <li>#periodCheckBox( 'last7Days', $relatives.isLast7Days(), 'last_7_days' )</li>
        <li>#periodCheckBox( 'last14Days', $relatives.isLast14Days(), 'last_14_days' )</li>
      </ul>
    </td>
    <td>
      <ul class="periodCol">
        <li>#periodCheckBox( 'reportingWeek', $relatives.isThisWeek(), 'reporting_week' )</li>
        <li>#periodCheckBox( 'lastWeek', $relatives.isLastWeek(), 'last_week' )</li>
        <li>#periodCheckBox( 'last4Weeks', $relatives.isLast4Weeks(), 'last_4_weeks' )</li>
        <li>#periodCheckBox( 'last12Weeks', $relatives.isLast12Weeks(), 'last_12_weeks' )</li>
        <li>#periodCheckBox( 'last52Weeks', $relatives.isLast52Weeks(), 'last_52_weeks' )</li>
        <li>#periodCheckBox( 'weeksThisYear', $relatives.isWeeksThisYear(), 'weeks_this_year' )</li>
      </ul>
    </td>
    <td>
      <ul class="periodCol">
        <li>#periodCheckBox( 'reportingMonth', $relatives.isThisMonth(), 'reporting_month' )</li>
        <li>#periodCheckBox( 'lastMonth', $relatives.isLastMonth(), 'last_month' )</li>
        <li>#periodCheckBox( 'last3Months', $relatives.isLast3Months(), 'last_3_months' )</li>
        <li>#periodCheckBox( 'last6Months', $relatives.isLast6Months(), 'last_6_months' )</li>
        <li>#periodCheckBox( 'last12Months', $relatives.isLast12Months(), 'last_12_months' )</li>
        <li>#periodCheckBox( 'monthsThisYear', $relatives.isMonthsThisYear(), 'months_this_year' )</li>
      </ul>
    </td>
  </tr>

  <tr>
    <td class="periodHeader">$i18n.getString( "bi_months" )</td>
    <td class="periodHeader">$i18n.getString( "quarters" )</td>
    <td class="periodHeader">$i18n.getString( "six_months" )</td>
  </tr>

  <tr>
    <td>
      <ul class="periodCol">
        <li>#periodCheckBox( 'reportingBimonth', $relatives.isThisBimonth(), 'reporting_bi_month' )</li>
        <li>#periodCheckBox( 'lastBiMonth', $relatives.isLastBimonth(), 'last_bi_month' )</li>
        <li>#periodCheckBox( 'last6BiMonths', $relatives.isLast6BiMonths(), 'last_6_bi_months' )</li>
        <li>#periodCheckBox( 'biMonthsThisYear', $relatives.isBiMonthsThisYear(), 'bi_months_this_year' )</li>
      </ul>
    </td>
    <td>
      <ul class="periodCol">
        <li>#periodCheckBox( 'reportingQuarter', $relatives.isThisQuarter(), 'reporting_quarter' )</li>
        <li>#periodCheckBox( 'lastQuarter', $relatives.isLastQuarter(), 'last_quarter' )</li>
        <li>#periodCheckBox( 'last4Quarters', $relatives.isLast4Quarters(), 'last_4_quarters' )</li>
        <li>#periodCheckBox( 'quartersThisYear', $relatives.isQuartersThisYear(), 'quarters_this_year' )</li>
      </ul>
    </td>
    <td>
      <ul class="periodCol">
        <li>#periodCheckBox( 'reportingSixMonth', $relatives.isThisSixMonth(), 'reporting_six_month' )</li>
        <li>#periodCheckBox( 'lastSixMonth', $relatives.isLastSixMonth(), 'last_six_month' )</li>
        <li>#periodCheckBox( 'last2SixMonths', $relatives.isLast2SixMonths(), 'last_2_six_months' )</li>
      </ul>
    </td>
  </tr>

  <tr>
    <td class="periodHeader">$i18n.getString( "financial_years" )</td>
    <td class="periodHeader">$i18n.getString( "years" )</td>
  </tr>

  <tr>
    <td>
      <ul class="periodCol">
        <li>#periodCheckBox( 'thisFinancialYear', $relatives.isThisFinancialYear(), 'reporting_financial_year' )</li>
        <li>#periodCheckBox( 'lastFinancialYear', $relatives.isLastFinancialYear(), 'last_financial_year' )</li>
        <li>#periodCheckBox( 'last5FinancialYears', $relatives.isLast5FinancialYears(), 'last_5_financial_years' )</li>
      </ul>
    </td>
    <td>
      <ul class="periodCol">
        <li>#periodCheckBox( 'thisYear', $relatives.isThisYear() , 'reporting_year' )</li>
        <li>#periodCheckBox( 'lastYear', $relatives.isLastYear() , 'last_year' )</li>
        <li>#periodCheckBox( 'last5Years', $relatives.isLast5Years() , 'last_5_years' )</li>
      </ul>
    </td>
  </tr>

</table>
