
<input type="hidden" id="currentDataSetId" value="${selectedDataSet.uid}">
<input type="hidden" id="currentPeriodId" value="${selectedPeriod.isoDate}">
<input type="hidden" id="currentSelectedUnitOnly" value="${selectedUnitOnly}">
<div id="userInfo" class="page"></div>

<h3>$encoder.htmlEncode( $selectedOrgunit.name ) - $format.formatPeriod( $selectedPeriod )</h3>

#if( $registration )<div style="margin-bottom:6px">$i18n.getString( "completed_by" ): <a href="javascript:setUserInfo( '$!{registration.storedBy}' )">$!{registration.storedBy}</a></div>#end

<div id="shareForm">
<textarea id="interpretationArea" class="interpretationArea" placeholder="$i18n.getString( 'write_your_interpretation_of_report' )"></textarea><br>
<input type="button" value="$i18n.getString( 'share' )" onclick="dhis2.dsr.shareInterpretation( '${uid}', '$!{ou}' )" style="width:120px">
</div>
