
#sharingDialog()

<script type="text/javascript">
	jQuery(document).ready(function(){		
		tableSorter( 'listTable' );	

    dhis2.contextmenu.makeContextMenu({
      menuId: 'contextMenu',
      menuItemActiveClass: 'contextMenuItemActive'
    });
	});

	var i18n_generate_before_export = '$encoder.jsEscape( $i18n.getString( "generate_before_export" ) , "'")';
	var i18n_confirm_add_report_table_to_dashboard = '$encoder.jsEscape( $i18n.getString( "confirm_add_report_table_to_dashboard" ) , "'")';
  var i18n_confirm_delete = '$encoder.jsEscape( $i18n.getString( "confirm_delete_table" ) , "'")';
  var i18n_yes = '$encoder.jsEscape( $i18n.getString( "yes" ) , "'")';
  var i18n_no = '$encoder.jsEscape( $i18n.getString( "no" ) , "'")';
</script>

<h3>$i18n.getString( "report_table" ) #openHelp( "report_tables" )</h3>

<div id="contextMenu" class="contextMenu">
  <ul id="contextMenuItems" class="contextMenuItems">
    <li><a data-target-fn="runReportTable"><i class="fa fa-play"></i>&nbsp;&nbsp;$i18n.getString( "create" )</a></li>
    <li data-enabled="canManage"><a data-target-fn="showSharingDialogWithContext"><i class="fa fa-share"></i>&nbsp;&nbsp;$i18n.getString( "sharing_settings" )</a></li>
    <li><a data-target-fn="removeTable"><i class="fa fa-trash-o"></i>&nbsp;&nbsp;$i18n.getString( "remove" )</a></li>
  </ul>
</div>

<p>Create report tables in <a href="../dhis-web-pivot/index.html">Pivot table module</a></p>

<table class="mainPageTable">
	<tr>
		<td style="vertical-align:top">
			<table class="listTable" id="listTable">
				<col>
        <thead>
				<tr>
					<th>$i18n.getString( "name" )</th>
				</tr>
				</thead>
				<tbody id="list">
				#foreach ( $table in $tables )
				<tr id="tr${table.id}" data-id="$!table.id" data-uid="$!table.uid" data-type="ReportTable" data-name="$encoder.htmlEncode( $!table.displayName )"
				    data-can-manage="$security.canManage( $table )"
				    data-can-update="$security.canUpdate( $table )"
				    data-can-delete="#if( $auth.hasAccess( "dhis-web-reporting", "removeTable" ) && $security.canDelete( $table ))true#{else}false#end">
				    <td>$encoder.htmlEncode( $!table.displayName )</td>
				</tr>
				#end
				</tbody>
			</table>
			<p></p>
			#parse( "/dhis-web-commons/paging/paging.vm" )
		</td>

		<td id="detailsData">
      <div id="detailsArea">
        <div id="hideDetailsArea">
          <a href="javascript:hideDetails()" title="$i18n.getString( "hide_details" )"><img src="../images/hide.png" alt="$i18n.getString( "hide_details" )"></a>
				</div>
				<p><label>$i18n.getString( "name" ):</label><br><span id="nameField"></span></p>
				<p><label>$i18n.getString( "indicators" ):</label><br><span id="indicatorsField"></span></p>
				<p><label>$i18n.getString( "periods" ):</label><br><span id="periodsField"></span></p>
				<p><label>$i18n.getString( "organisation_units" ):</label><br><span id="unitsField"></span></p>
				<p><label>$i18n.getString( "crosstab_indicators" ):</label><br><span id="doIndicatorsField"></span></p>
				<p><label>$i18n.getString( "crosstab_periods" ):</label><br><span id="doPeriodsField"></span></p>
				<p><label>$i18n.getString( "crosstab_organisation_units" ):</label><br><span id="doUnitsField"></span></p>
			</div>

			<div id="warningArea">
				<div id="hideDetailsArea">
					<a href="javascript:hideWarning()" title='$i18n.getString( 'hide_warning' )'><img src="../images/hide.png" alt=$i18n.getString( "hide_warning" )'></a>
				</div>
				<p><span id="warningField"></span></p>
			</div>
		</td>		

	</tr>
</table>
