<script type="text/javascript" src="javascript/addAttributeGroupForm.js"></script>

<h3>$i18n.getString( "create_new_tracked_entity_attribute_group" )</h3>
																			
<form id="addAttributeGroupForm" name="addAttributeGroupForm" action="addAttributeGroup.action" method="post" class="inputForm">

<table>
	<tr>
		<th colspan="2">$i18n.getString( "tracked_entity_attribute_group_deltails" )</th>
	</tr>
	<tr>
		<td><label for="name">$i18n.getString( "name" ) <em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
		<td><input type="text" id="name" name="name" /></td>
	</tr> 	
	<tr>
		<td><label for="description">$i18n.getString( "description" )</label></td>
		<td><textarea id="description" name="description"></textarea></td>
	</tr>
	<tr>
		<td colspan="2">&nbsp;</td>
	</tr>
</table>

#jqSelected({
  "prefix": "tea",
  "i18n_available": "availableAttribute",
  "i18n_selected": "selectedAttribute"
})

<table>
	<colgroup>
		<col style='width:500px'/>
		<col/>
		<col style='width:500px'/>
	</colgroup>
	<tr>
		<td colspan='2'>
			<input type="submit" value="$i18n.getString( 'add' )" style="width:10em" />
			<input type="button" value="$i18n.getString( 'cancel' )" onclick="window.location.href='attributeGroup.action'" style="width:10em" />
		</td>
	</tr>
</table>

</form>

