<script>
	
	jQuery( document ).ready( function()
	{	
		validation2( 'programRuleForm', function( form )
		{
			validateProgramRule();
		},{
			'beforeValidateHandler' : function()
			{
				if( $("#actionTB tr").length == 0 )
				{
					setFieldValue('hasAction','');
				}
				else
				{
					setFieldValue('hasAction','yes');
				}
			},
			'rules' : getValidationRules( "programRule" )
		});
		
		checkValueIsExist( "name", "validateProgramRule.action",{programId:"$program.id"}  );
		removeDuplicateOptions();
	});
	
        var i18n_none = '$encoder.jsEscape( $i18n.getString( "none" ) , "'" )';
	var i18n_add_source_field = '$encoder.jsEscape( $i18n.getString( "add_source_field" ) , "'" )';
	var i18n_hide_field = '$encoder.jsEscape( $i18n.getString( "hide_field" ) , "'" )';
	var i18n_show_warning = '$encoder.jsEscape( $i18n.getString( "show_warning" ) , "'" )';
	var i18n_show_error_on_complete = '$encoder.jsEscape( $i18n.getString( "show_error_on_complete" ) , "'" )';
        var i18n_show_warning_on_complete = '$encoder.jsEscape( $i18n.getString( "show_warning_on_complete" ) , "'" )';
	var i18n_show_error = '$encoder.jsEscape( $i18n.getString( "show_error" ) , "'" )';
	var i18n_this_field_is_required = '$encoder.jsEscape( $i18n.getString( "this_field_is_required" ) , "'")';
	var i18n_name_in_use = '$encoder.jsEscape( $i18n.getString( "name_in_use" ) , "'")';
	var i18n_confirm_delete = '$encoder.jsEscape( $i18n.getString( "confirm_delete_program_rule" ) , "'")';
	var i18n_please_enter_error_message = '$encoder.jsEscape( $i18n.getString( "please_enter_error_message" ) , "'")';
	var i18n_please_enter_warning_message = '$encoder.jsEscape( $i18n.getString( "please_enter_warning_message" ) , "'")';
	var i18n_please_enter_alert_message_when_hiding_a_field = '$encoder.jsEscape( $i18n.getString( "please_enter_alert_message_when_hiding_a_field_that_contains_value" ) , "'")';
	var i18n_please_enter_alert_message_when_hiding_a_section = '$encoder.jsEscape( $i18n.getString( "please_enter_alert_message_when_hiding_a_section_that_contains_values" ) , "'")';
	var i18n_hide_section = '$encoder.jsEscape( $i18n.getString( "hide_section" ) , "'" )';
        var i18n_data_element_label = '$encoder.jsEscape( $i18n.getString( "data_element" ) , "'" )';
        var i18n_program_attribute_label = '$encoder.jsEscape( $i18n.getString( "program_attribute" ) , "'" )';

        var attributeList = new Array();
	#foreach( $programAttribute in $program.programAttributes )
            attributeList['$programAttribute.attribute.uid'] = '$encoder.jsEscape($programAttribute.attribute.displayName, "'" )';
	#end
	
	var sectionSelector = "<select class='actionSections' >";
	#foreach( $programStage in $program.programStages )
		#foreach( $section in $programStage.programStageSections )
			var uid = '$section.uid';
			var name = '$section.displayName';
			sectionSelector += "<option value='" + uid + "'>" + name + "</option>";
		#end
	#end
	sectionSelector += "</select>";
</script>

<h3>$i18n.getString( "create_new_program_rule" )</h3>
<h5>$encoder.htmlEncode($program.displayName)</h5>
									
<form id="programRuleForm" name="programRuleForm" action="addProgramRule.action" method="post" class="inputForm">

<input type='hidden' id='programId' name='programId' value="$program.uid" />
<input type='hidden' id='programLocalId' name='programLocalId' value="$program.id" />

<table class="mainPageTable">
	<col width="50%">
	<col width="50%">
	<thead>
      <tr>
        <th>$i18n.getString( "program_rule_details" )</th>
      </tr>
    </thead>
    
	<tbody>
		<tr>
			<td>
				<table width="100%">
					<tr>
						<td><label for="name">$i18n.getString( "name" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
						<td><input type="text" id="name" name="name" style="width:98%" ></td>
					</tr>					
					<tr>
						<td><label for="description">$i18n.getString( "description" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
						<td><input type="text" id="description" name="description" style="width:98%" /></td>
					</tr>
				</table>
			</td>	
			<td></td>
		</tr>
		<tr>
			<th>1. $i18n.getString("source_fields")</th>
			<th>2. $i18n.getString("expression_evaluate_the_source_fields") <em title="$i18n.getString( "required" )" class="required">*</em></th>
		</tr>
		<tr>
			<td>
				
				<div style="height:180px; border:1px solid black; overflow-y: auto;">
					<table id='sourceFieldList' style="height:100px;width:100%" >
						<col width="50%" />
						<col width="50%" />
						#set($idx = 0 )
						#foreach($ruleVariable in $ruleVariables)
                                                        #if( $ruleVariable.sourceType == 'TEI_ATTRIBUTE')
                                                            #set( $json_Data='{"name":"' + $ruleVariable.name + '"'
								+ ',"sourceType":"' + $ruleVariable.sourceType + '"'
								+ ',"trackedEntityAttribute":{ "id":"' + $ruleVariable.attribute.id + '"}'
								+ ',"program":{"id":"' + $ruleVariable.program.id + '"}}' )
                                                        #else
                                                            #set( $json_Data='{"name":"' + $ruleVariable.name + '"'
								+ ',"sourceType":"' + $ruleVariable.sourceType + '"'
								+ ',"dataElement":{ "id":"' + $ruleVariable.dataElement.id + '"}'
								+ ',"program":{"id":"' + $ruleVariable.program.id + '"}'
								+ ',"programStage":{"id":"' + "$!ruleVariable.programStage.id" + '"}}' )
                                                        #end
							
							#set($clazz = "listAlternateRow")
							#if( $idx % 2 == 0 )
								#set($clazz = "listRow")
							#end		
							#set($idx = $idx + 1 )
							<tr class="$clazz" jsonData='$json_Data' id="$ruleVariable.uid">                                                                
                                                                #if( $ruleVariable.sourceType == 'TEI_ATTRIBUTE')
                                                                    <td>$!encoder.htmlEncode($ruleVariable.trackedEntityAttribute) $!encoder.htmlEncode($ruleVariable.attribute.name)</td>
                                                                    <td><input type='button' teAttId='$ruleVariable.trackedEntityAttribute.uid' realValue='$ruleVariable.name' value='A{$ruleVariable.name}' style='width:150px;' onclick='insertVariable(this)'/></td>
                                                                #else
                                                                    <td>$!encoder.htmlEncode($ruleVariable.dataElement.displayName)</td>
                                                                    <td><input type='button' deId='$ruleVariable.dataElement.uid' realValue='$ruleVariable.name' value='#{$ruleVariable.name}' style='width:150px;' onclick='insertVariable(this)'/></td>
                                                                #end								
							</tr>
						#end
					</table>
				</div>
				<br>
				<input type="button" id="addMoreVariableBtn" value="+ $i18n.getString('add_source_field')" onclick="javascript:addSourceFieldForm();"/>
			</td>			
			<td>
				<fieldset style="width:95%;">
					<textarea size="10" id='condition' name='condition' style="width:98%;border:none;height:150px;"></textarea>
				</fieldset>
				<br>								
				<input type='button' class="small-button" onclick='insertVariable( this );' value="+" />
				<input type='button' class="small-button" onclick='insertVariable( this );' value="-" />
				<input type='button' class="small-button" onclick='insertVariable( this );' value="*" />
				<input type='button' class="small-button" onclick='insertVariable( this);' value="/" />
				<input type='button' class="small-button" onclick='insertVariable( this );' value="%" />
				&nbsp;&nbsp;&nbsp;						
				<input type='button' class="small-button" onclick='insertVariable( this );' value=">" />
				<input type='button' class="small-button" onclick='insertVariable( this );' value=">=" />
				<input type='button' class="small-button" onclick='insertVariable( this );' value="<" />
				<input type='button' class="small-button" onclick='insertVariable( this );' value="<=" />
				<input type='button' class="small-button" onclick='insertVariable( this );' value="==" />
				<input type='button' class="small-button" onclick='insertVariable( this );' value="!=" />
				&nbsp;&nbsp;&nbsp;
				<input type='button' class="small-button" onclick='insertVariable( this );' value="!" />
				<input type='button' class="small-button" onclick='insertVariable( this );' value="&&" />
				<input type='button' class="small-button" onclick='insertVariable( this );' value="||" />
			</td>
		</tr>
		
		<tr>
			<th colspan="2">3. $i18n.getString("actions_that_is_executed_when_expression_is_true") <em title="$i18n.getString( "required" )" class="required">*</em>
			</th>
		</tr>
		<tr>
			<td><input type="hidden" id="hasAction" name="hasAction" class="{validate:{required:true}}" ></td>
		</tr>
		<tr>
			<td colspan="2">
				<table width="100%">
					<col width="30%">
					<col width="40%">
					<col width="30%">
					<tbody id='actionTB'></tbody>
					<tr>
						<td><input type="button" value="+ $i18n.getString('add_more_action')" onclick="addMoreAction();"></td>
					</tr>
				</table>
			</td>
		</tr>
	<tbody>
</table>
<br>
<table>
	<tr>
		<td colspan='2'>
			<input type="submit" value="$i18n.getString( 'add' )" style="width:10em">
			<input type="button" value="$i18n.getString( 'cancel' )" onclick="window.location.href='programRule.action?id=$program.id'" style="width:10em">
		</td>
	</tr>
</table>

<!-- Add Program Rule Variable -->

<div id='programRuleVariableDiv' style="display:none;">
	<table>
		<tr>
			<td>$i18n.getString('source_type')</td>
			<td>
				<select type="" id="sourceType" name="sourceType" onchange="sourceTypeOnChange()" style="width:250px;">
					<option value="DATAELEMENT_CURRENT_EVENT">$i18n.getString("data_element_current_event")</option>
					<option value="DATAELEMENT_NEWEST_EVENT_PROGRAM">$i18n.getString("data_element_newest_event_program")</option>
					<option value="DATAELEMENT_NEWEST_EVENT_PROGRAM_STAGE">$i18n.getString("data_element_newest_event_program_stage")</option>
					<option value="DATAELEMENT_PREVIOUS_EVENT">$i18n.getString("data_element_previous_event")</option>
					<option value="TEI_ATTRIBUTE">$i18n.getString("tei_attribute")</option>
				</select>
			</td>
		</td>
		<tr name="deSourceType">
			<td>$i18n.getString('source_program_stage')</td>
			<td>
				<select type="" id="programStageId" disabled style="width:250px;" onchange="getDataElementsByStage();">
					<option value="">[All]</option>
					#foreach( $programStage in $program.programStages )
						<option value="$programStage.uid">$programStage.displayName</option>
					#end
				</select>
			</td>
		</td>
		<tr name="deSourceType">
			<td>$i18n.getString('source_dataElement') <em title="$i18n.getString( "required" )" class="required">*</em></td>
			<td>
				<select type="" id="dataElementId" style="width:250px;">
					#foreach( $programStage in $program.programStages )
						#foreach( $psDataElement in $programStage.programStageDataElements )
							<option value="$psDataElement.dataElement.uid">$psDataElement.dataElement.displayName</option>
						#end
					#end
				</select>
				<span style="color:red;display:none;" id="dataElementIdError" ></span>
			</td>
		</td>
		
		<tr name="teiAttrSourceType" style='display:none'>
			<td>$i18n.getString('tei_attribute') <em title="$i18n.getString( "required" )" class="required">*</em></td>
			<td>
				<select type="" id="attributeId" style="width:250px;">
					#foreach( $programAttribute in $program.programAttributes )
						<option value="$programAttribute.attribute.uid">$programAttribute.attribute.displayName</option>
					#end
				</select>
				<span style="color:red;display:none;" id="attributeIdError" ></span>
			</td>
		</td>
		<tr>
			<td>$i18n.getString('variable_name') <em title="$i18n.getString( "required" )" class="required">*</em></td>
			<td><input type="text" id="variableName" name="variableName" style="width:247px;" onkeypress="return variableNameKeyPress(event)" />
			<span style="color:red;display:none;" id="variableNameError" ></span></td>
		</td>
		<tr name="optionSetCodeSelection">
			<td>$i18n.getString('use_optionset_code')</td>
			<td>
				<input type="checkbox" id="useOptionSetCode" name="useOptionSetCode" value="true">
			</td>
		</td>
		
		<tr>
			<td></td>
			<td>
				<input type='button' onclick="javascript:addProgramRuleVariable();" style="width:100px;" value="$i18n.getString('add')" />
				<input type='button' onclick="javascript:closeVariableForm();" value="$i18n.getString('cancel')" style="width:100px;" />
			</td>
		</tr>
	</table>
</div>

</form>
