
<h3>$i18n.getString( "create_new_program_stage_notification" )</h3>
<h5>$encoder.htmlEncode( $programStage.displayName )</h5>

<div class="inputForm">
    <input type="hidden" id="ownerId" value="$programStage.id">
    <input type="hidden" id="ownerUid" value="$programStage.uid">
    <input type="hidden" id="ownerType" value="programStage">
    <input type="hidden" id="isUpdate" value="false">

    <table>
        <thead>
        <tr>
            <th colspan="2" style="width: 590px;">$i18n.getString( "program_stage_notification_details" )</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <label for="name">$i18n.getString( "name" ) <em title="$i18n.getString( "required" )" class="required">*</em></label>
            </td>
            <td>
                <input type="text" id="name" name="name" />
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                <label for="notificationTrigger">$i18n.getString( "trigger_by" )</label>
            </td>
            <td>
                <select type="text" id="notificationTrigger" name="notificationTrigger">
                    <option value="COMPLETION">$i18n.getString( "program_stage_completion" )</option>
                    <option value="SCHEDULED_DAYS_DUE_DATE">$i18n.getString( "days_scheduled_due_date" )</option>
                </select>
            </td>
        </tr>
        <tr id="daysContainer" style="display: none;">
            <td>
                <label for="relativeScheduledDays">$i18n.getString( "send_notification" )</label>
            </td>
            <td>
                <input type="number" min="0" max="300" id="days" name="days" style="width:60px;">
                $i18n.getString( "days" )
                <select id="daysModifier" name="daysModifier" style="width:100px;">
                    <option value="-1">$i18n.getString( "before") </option>
                    <option value="1">$i18n.getString( "after" )</option>
                </select>
                $i18n.getString( "scheduled_date" )
                <input type="hidden" id="relativeScheduledDays" name="relativeScheduledDays" />
            </td>
        </tr>
        <tr>
            <td>
                <label for="notificationRecipient">$i18n.getString( "recipients" )</label>
            </td>
            <td>
                <select type="text" id="notificationRecipient" name="notificationRecipient">
                    <option value="ORGANISATION_UNIT_CONTACT">$i18n.getString( "orgunit_contact" )</option>
                    <option value="USERS_AT_ORGANISATION_UNIT">$i18n.getString( "users_at_orgunit" )</option>
                    <option value="USER_GROUP">$i18n.getString( "user_group" )</option>
                    <option value="PROGRAM_ATTRIBUTE">$i18n.getString( "program_attributes" )</option>
                </select>
            </td>
        </tr>

        <tr id="programAttributeContainer" style="display: none;">
            <td>
                <label for="programAttribute">$i18n.getString( "program_attributes" )</label>
            </td>
            <td>
                <select type="text" id="programAttribute" name="programAttribute" class="programAttribute">
                    #if ( $phoneNumberAttributes.size() > 0 || $emailAttributes.size() > 0 )
                        <option value="">[$i18n.getString("please_select")]</option>
                            #foreach( $phoneNumber in $!phoneNumberAttributes )
                                <option value="$phoneNumber.uid">$phoneNumber.displayName</option>
                            #end

                            #foreach( $email in $!emailAttributes )
                                <option value="$email.uid">$email.displayName</option>
                            #end

                    #else
                        <option value="">[$i18n.getString("no_phonenumber_email_found")]</option>
                    #end
                </select>
            </td>
        </tr>

        <tr id="userGroupContainer" style="display: none;">
            <td>
                <label for="userGroup">$i18n.getString( "user_group" )</label>
            </td>
            <td>
                <select type="text" id="userGroup" name="userGroup" class="userGroup">
                    <option value="">[$i18n.getString("please_select")]</option>
                    #foreach( $group in $!userGroups )
                        <option value="$group.uid">$i18n.getString( $group.displayName )</option>
                    #end
                </select>
            </td>
        </tr>
        <tr id="deliveryChannelsContainer">
            <td><label for="deliveryChannelsForm">$i18n.getString( "message_type" )</label></td>
            <td>
                <form id="deliveryChannelsForm">
                    <label for="sms_cb">$i18n.getString( "sms" )</label>
                    <input type="checkbox" id="sms_cb" name="deliveryChannels[]" value="SMS">
                    <label for="email_cb">$i18n.getString( "email" )</label>
                    <input type="checkbox" id="email_cb" name="deliveryChannels[]" value="EMAIL">
                </form>
            </td>
        </tr>
        <tr>
            <td>$i18n.getString( "params" )</td>
            <td>
                <select multiple size="4" id="params">
                    <option value="V{program_name}">$i18n.getString( "program_name" )</option>
                    <option value="V{program_stage_name}">$i18n.getString( "program_stage_name" )</option>
                    <option value="V{org_unit_name}">$i18n.getString( "org_unit_name" )</option>
                    <option value="V{due_date}">$i18n.getString( "due_date" )</option>
                    <option value="V{days_since_due_date}">$i18n.getString( "days_since_due_date" )</option>
                    <option value="V{days_until_due_date}">$i18n.getString( "days_until_due_date" )</option>
                    <option value="V{current_date}">$i18n.getString( "current_date" )</option>
                    #foreach( $attr in $attributes )
                        <option value="A{$attr.uid}">$attr.displayName</option>
                    #end
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label for="subjectTemplate">$i18n.getString( "subject_template" )</label>
            </td>
            <td>
                <textarea id="subjectTemplate" style="height:2em;"></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <label for="messageTemplate">$i18n.getString( "message_template" )</label>
            </td>
            <td>
                <textarea id="messageTemplate" maxlength=""></textarea>
            </td>
        </tr>
        </tbody>
        <tbody>
        <tr>
            <td></td>
            <td>
                <button type="button" id="save" style="width: 10em;">$i18n.getString( 'save' )</button>
                <button type="button" id="cancel" style="width: 10em;">$i18n.getString( 'cancel' )</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script>
</script>