<h3>$i18n.getString( "create_new_program_validation_rule" )</h3>

<h4>$program.displayName</h4>

<form id='programValidationForm' name='programValidationForm' method='post' action='addProgramValidation.action' class="inputForm">

<input type='hidden' id='programId' name='programId' value='$program.id'>
<table>
	<thead>
      <tr>
        <th colspan='2'>$i18n.getString( "program_validation_rule_details" )</th>
      </tr>
    </thead>
    
	<tbody>
	
	<tr>
		<td><label for="name">$i18n.getString('name') <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
		<td>			
			<input type="text" id='name' name='name' >
		</td>
	</tr>
	<tr>
		<td><label for="operator">$encoder.htmlEncode( $i18n.getString( "operator" ) ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
		<td>
			<select id="operator" name="operator" >
				<option value="">[ $i18n.getString( "please_select" ) ]</option>
				<option value="equal_to">$encoder.htmlEncode( $i18n.getString( "equal_to" ) )</option>
				<option value="not_equal_to">$encoder.htmlEncode( $i18n.getString( "not_equal_to" ) )</option>
				<option value="greater_than">$encoder.htmlEncode( $i18n.getString( "greater_than" ) )</option>
				<option value="greater_than_or_equal_to">$encoder.htmlEncode( $i18n.getString( "greater_than_or_equal_to" ) )</option>
				<option value="less_than">$encoder.htmlEncode( $i18n.getString( "less_than" ) )</option>
				<option value="less_than_or_equal_to">$encoder.htmlEncode( $i18n.getString( "less_than_or_equal_to" ) )</option>
			</select>
		</td>
	</tr>
	<tr>
		<td></td>
		<td>
			<input type="button" value="$i18n.getString( 'edit_left_side' )" onclick="editLeftExpression();" style="width:10em">
			<input type="hidden" id="leftSideDescription" name="leftSideDescription" class="{validate:{required:true}}">
			<input type="hidden" id="leftSideExpression" name="leftSideExpression">
			<input type="hidden" id="leftSideTextualExpression" name="leftSideTextualExpression">
			<input type="hidden" id="leftSideNullIfBlank" name="leftSideNullIfBlank">
			
			<input type="button" value="$i18n.getString( 'edit_right_side' )" onclick="editRightExpression();" style="width:10em"></td>
			<input type="hidden" id="rightSideDescription" name="rightSideDescription" class="{validate:{required:true}}">
			<input type="hidden" id="rightSideExpression" name="rightSideExpression">
			<input type="hidden" id="rightSideTextualExpression" name="rightSideTextualExpression">
			<input type="hidden" id="rightSideNullIfBlank" name="rightSideNullIfBlank">
		</td>
	</tr>
	<tr>
		<td></td>
		<td>
			<input type='submit' value="$i18n.getString( 'save' )" style="width:10em">
			<input type='button' value="$i18n.getString( 'cancel' )" onclick="window.location.href='programValidation.action?programId=$program.id'" style="width:10em">
		</td>
	</tr>
</table>

#parse( "/dhis-web-maintenance-program/expressionBuilderForm.vm" )

<script>
	hideById( "expression-container" );
	var dialog = jQuery( "#expression-container" ).dialog({
		modal: true,
		autoOpen: false,
		width: 780,
		height: 500,
		title: "Expression"
	});
</script>
