
<h3>$i18n.getString( "reminder_message_template_management" ) #openHelp( "program_templete_reminder" )</h3>
<h5>$encoder.htmlEncode($program.displayName)</h5>

<div id="contextMenu" class="contextMenu">
  <ul id="contextMenuItems" class="contextMenuItems">
    <li><a data-target-fn="showUpdateProgramReminder"><i class="fa fa-edit"></i>&nbsp;&nbsp;$i18n.getString( "edit" )</a></li>
    <li><a data-target-fn="removeProgramReminder"><i class="fa fa-trash-o"></i>&nbsp;&nbsp;$i18n.getString( "remove" )</a></li>
    <li><a data-target-fn="showReminderDetails"><i class="fa fa-info-circle"></i>&nbsp;&nbsp;$i18n.getString( "show_details" )</a></li>
  </ul>
</div>

<table class="mainPageTable">
  <input type="hidden" id="programId" name="programId" value="$program.id">
  <tr>
		<td align="right">
			<input type="button" value="$i18n.getString( 'add_new' )" onclick="window.location.href='showAddProgramReminder.action?id=$program.id'" style="width:70px"><br>
    		<input type="button" value="$i18n.getString( 'back' )" onclick="window.location.href='program.action'" style="width:70px">
		</td>
  </tr>

  <tr>
    <td style="vertical-align:top">
    	
		<table class="listTable">
			<col>
			<thead>
			  <tr>            
				<th>$i18n.getString( "name" )</th>
			  </tr>
			</thead>
			<tbody id="list">
          #foreach( $reminder in $program.instanceReminders )
            <tr id="tr${reminder.id}" 
				data-id="$!reminder.id" 
				data-type="reminder" 
				data-name="$encoder.htmlEncode( $!reminder.name )">
                <td>$encoder.htmlEncode( $!reminder.name )</td>
            </tr>
          #end
      </tbody>
      </table>
    </td>

		<td id="detailsData">
      <div id="detailsArea">
        <div id="hideDetailsArea">
          <a href="javascript:hideDetails()" title="$i18n.getString( 'hide_details' )"><img src="../images/hide.png" alt="$i18n.getString( 'hide_details' )"></a>
				</div>
        <p><label class="bold">$i18n.getString( "name" ):</label><br><span id="nameField"></span></p>
        <p><label class="bold">$i18n.getString( "send_message" ):</label><br><span id="daysAllowedSendMessageField"></span></p>
        <p><label class="bold">$i18n.getString( "message" ):</label><br><span id="templateMessageField"></span></p>
        <p><label class="bold">$i18n.getString( "date_to_compare" ):</label><br><span id="dateToCompareField"></span></p>
		<p><label class="bold">$i18n.getString( "recipients" ):</label><br><span id="sendToField"></span></p>
		<p><label class="bold">$i18n.getString( "send_message" ):</label><br><span id="whenToSendField"></span></p>
		<p><label class="bold">$i18n.getString( "message_type" ):</label><br><span id="messageTypeField"></span></p>
		<p><label class="bold">$i18n.getString( "user_group" ):</label><br><span id="userGroupField"></span></p>
		<p><label class="bold">$i18n.getString( "id" ):</label><br><span id="idField"></span></p>
		</div>

		</td>
  </tr>
</table>

<script type="text/javascript">
	var i18n_confirm_delete = '$encoder.jsEscape( $i18n.getString( "confirm_delete_reminder_message_template" ) , "'" )';
	var i18n_none = '$encoder.jsEscape( $i18n.getString( "none" ), "'")';	
    var i18n_yes = '$encoder.jsEscape( $i18n.getString( "yes" ) , "'")';
    var i18n_no = '$encoder.jsEscape( $i18n.getString( "no" ) , "'")';
    var i18n_number = '$encoder.jsEscape( $i18n.getString( "number" ) , "'")';
    var i18n_yes_no = '$encoder.jsEscape( $i18n.getString( "yes_no" ) , "'")';
    var i18n_text = '$encoder.jsEscape( $i18n.getString( "text" ) , "'")';
    var i18n_date = '$encoder.jsEscape( $i18n.getString( "date" ) , "'")';
    var i18n_option_set = '$encoder.jsEscape( $i18n.getString( "option_set" ) , "'")';
	var i18n_processing = '$encoder.jsEscape( $i18n.getString( "processing" ) , "'")';
	var i18n_done = '$encoder.jsEscape( $i18n.getString( "done" ) , "'")';
	var i18n_all = '$encoder.jsEscape( $i18n.getString( "all" ) , "'")';
	var i18n_yes_only = '$encoder.jsEscape( $i18n.getString( "yes_only" ) , "'")';
	var i18n_tracked_entity_sms_only = '$encoder.jsEscape( $i18n.getString( "tracked_entity_sms_only" ) , "'")';
	var i18n_orgunit_phone_number_sms_only = '$encoder.jsEscape( $i18n.getString( "orgunit_phone_number_sms_only" ) , "'")';
	var i18n_attribute_users = '$encoder.jsEscape( $i18n.getString( "attribute_users" ) , "'")';
	var i18n_all_users_in_orgunit_registered = '$encoder.jsEscape( $i18n.getString( "all_users_in_orgunit_registered" ) , "'")';
	var i18n_user_group = '$encoder.jsEscape( $i18n.getString( "user_group" ) , "'")';
	var i18n_days_scheduled = '$encoder.jsEscape( $i18n.getString( "days_scheduled" ) , "'")';
	var i18n_complete_program = '$encoder.jsEscape( $i18n.getString( "complete_program" ) , "'")';
	var i18n_program_enrollment = '$encoder.jsEscape( $i18n.getString( "program_enrollment" ) , "'")';
	var i18n_direct_sms = '$encoder.jsEscape( $i18n.getString( "direct_sms" ) , "'")';
	var i18n_message = '$encoder.jsEscape( $i18n.getString( "message" ) , "'")';
	var i18n_both = '$encoder.jsEscape( $i18n.getString( "both" ) , "'")';
	var i18n_days_before = '$encoder.jsEscape( $i18n.getString( "days_before" ) , "'")';
	var i18n_days_after = '$encoder.jsEscape( $i18n.getString( "days_after" ) , "'")';
</script>
