<h3>$i18n.getString( "program_indicator_group_management" ) #openHelp( "program_indicator_group" )</h3>

<div id="contextMenu" class="contextMenu">
  <ul id="contextMenuItems" class="contextMenuItems">
    <li><a data-target-fn="showUpdateProgramIndicatorGroupForm"><i class="fa fa-edit"></i>&nbsp;&nbsp;$i18n.getString( "edit" )</a></li>
    <li><a data-target-fn="translateWithContext"><i class="fa fa-globe"></i>&nbsp;&nbsp;$i18n.getString( "translation_translate" )</a></li>
    <li><a data-target-fn="removeProgramIndicatorGrouop"><i class="fa fa-trash-o"></i>&nbsp;&nbsp;$i18n.getString( "remove" )</a></li>
    <li><a data-target-fn="showProgramIndicatorGroupDetails"><i class="fa fa-info-circle"></i>&nbsp;&nbsp;$i18n.getString( "show_details" )</a></li>
  </ul>
</div>

<table class="mainPageTable">
  <tr>
    <td style="vertical-align:top">
      <table width="100%">
        <tr valign="bottom">
          <td>
            #filterDiv( "programIndicatorGroup" )
          </td>
          <td colspan="3" style="text-align:right"><input type="button" value="$i18n.getString( "add_new" )" onclick="window.location.href='showAddProgramIndicatorGroupForm.action'" style="width:70px"></td>
        </tr>
      </table>

      <table class="listTable">
        <col>
        <thead>
        <tr>
          <th>$i18n.getString( "name" )</th>
        </tr>
        </thead>
        <tbody id="list">
        #foreach( $programIndicatorGroup in $programIndicatorGroups )
        <tr id="tr${programIndicatorGroup.id}" data-id="$!programIndicatorGroup.id"
            data-uid="$!programIndicatorGroup.uid" data-type="ProgramIndicatorGroup"
            data-name="$encoder.htmlEncode( $!programIndicatorGroup.displayName )"
            data-can-manage="$security.canManage( $programIndicatorGroup)"
            data-can-update="$security.canUpdate( $programIndicatorGroup )"
            data-can-delete="$security.canDelete( $programIndicatorGroup )">
          <td>$encoder.htmlEncode( $!programIndicatorGroup.displayName )</td>
        </tr>
        #end
        </tbody>
      </table>
      <p></p>
      #parse( "/dhis-web-commons/paging/paging.vm" )
    </td>
    <td id="detailsData">
      <div id="detailsArea">
        <div id="hideDetailsArea">
          <a href="javascript:hideDetails()" title="$i18n.getString( "hide_details" )"><img src="../images/hide.png" alt="$i18n.getString( 'hide_details' )"></a>
        </div>
        <p><label class="bold">$i18n.getString( "name" )</label><br><span id="nameField"></span></p>
        <p><label class="bold">$i18n.getString( "description" ):</label><br><span id="descriptionField"></span></p>
        <p><label class="bold">$i18n.getString( "number_of_program_indicator" ):</label><br><span id="noProgramIndicatorField"></span></p>
        <p><label class="bold">$i18n.getString( "id" ):</label><br><span id="idField"></span></p>
      </div>
    </td>
  </tr>
</table>

<script type="text/javascript">
	var i18n_confirm_delete = '$encoder.jsEscape( $i18n.getString( "confirm_delete_program_indicator_group" ) , "'" )';
	var i18n_none = '$encoder.jsEscape( $i18n.getString( "none" ), "'")';
    var i18n_yes = '$encoder.jsEscape( $i18n.getString( "yes" ) , "'")';
    var i18n_no = '$encoder.jsEscape( $i18n.getString( "no" ) , "'")';
    var i18n_number = '$encoder.jsEscape( $i18n.getString( "number" ) , "'")';
    var i18n_yes_no = '$encoder.jsEscape( $i18n.getString( "yes_no" ) , "'")';
    var i18n_text = '$encoder.jsEscape( $i18n.getString( "text" ) , "'")';
    var i18n_date = '$encoder.jsEscape( $i18n.getString( "date" ) , "'")';
</script>
