<h3>$i18n.getString( "program_stage_notifications" )</h3>

<h5>$encoder.htmlEncode( $programStage.displayName )</h5>

<input type="hidden" id="programStageUid" value="$programStage.uid">
<input type="hidden" id="programStageId" value="$programStage.id">

<div id="contextMenu" class="contextMenu" style="width: 250px;">
    <ul id="contextMenuItems" class="contextMenuItems">
        <li><a data-target-fn="showUpdateProgramNotification"><i class="fa fa-edit"></i>&nbsp;&nbsp;$i18n.getString( "edit" )</a></li>
        <li><a data-target-fn="removeProgramNotification"><i class="fa fa-edit"></i>&nbsp;&nbsp;$i18n.getString( "remove" )</a></li>
    </ul>
</div>

<table class="mainPageTable">
    <tr>
        <td style="vertical-align:top;">
            <table width="100%">
                <tr valign="bottom">
                    <td align="right">
                        <input type="button" value="$i18n.getString( "add_new" )"
                               onclick="window.location.href='showAddProgramStageNotification.action?id=$programStage.id'" style="width: 70px;">
                    </td>
                </tr>
            </table>

            <table class="listTable" id="listTable">
                <col>
                <thead>
                <tr>
                    <th>$i18n.getString( "name" )</th>
                </tr>
                </thead>
                <tbody id="list">
                    #foreach( $template in $programStage.notificationTemplates )
                    <tr id="tr${template.id}"
                        data-id="$!template.id"
                        data-uid="$!template.uid" data-type="ProgramNotificationTemplate"
                        data-name="$encoder.htmlEncode( $!template.displayName )"
                        data-can-manage="$security.canManage( $template )"
                        data-can-update="$security.canUpdate( $template )">
                        <td>$encoder.htmlEncode( $!template.displayName )</td>
                    </tr>
                    #end
                </tbody>
            </table>
            <p></p>
            #parse( "/dhis-web-commons/paging/paging.vm" )
        </td>
    </tr>
</table>

<script type="text/javascript">
    // TODO Intialize i18n strings
    $( function() {
        dhis2.contextmenu.makeContextMenu( {
            menuId: 'contextMenu',
            menuItemActiveClass: 'contextMenuItemActive'
        } );
    } );

    function removeProgramNotification( template ) {

        var programStageUid = document.querySelector( '#programStageUid' ).value;
        var programStageId = document.querySelector( '#programStageId' ).value;

        jQuery.ajax( {
            url : '../api/programStages/' + programStageUid + '/notificationTemplates/' + template.uid,
            type : 'DELETE',
            dataType : 'json'
        } ).success( function ( result ) {
            window.location.href = 'programStageNotification.action?id=' + programStageId;
        } ).fail( function ( result ) {
            setHeaderDelayMessage( "Error: " + result.response );
            throw "Deletion failed";
        } );
    };

    function showUpdateProgramNotification( template ) {
        var programStageUid = document.querySelector( '#programStageUid' ).value;
        window.location.href = 'showUpdateProgramStageNotification.action?programStageUid=' + programStageUid + '&uid=' + template.uid;
    };
</script>