<?xml version="1.0" encoding="UTF-8"?>
<programstages>

	#foreach( $programStage in $programStages )							
		<programstage>							
  			<id>$programStage.id</id>
  			<name>$encoder.xmlEncode( $programStage.displayName )</name>
		</programstage>		
	#end

</programstages>