<script>
  jQuery(document).ready(	function(){
  	validation2( 'updateAttributeForm', function( form )
  	{
  		form.submit();
  	}, {
  		'rules' : getValidationRules( "trackedEntityAttribute" ),
      'beforeValidateHandler' : function() {
        #tblDynamicAttributesJavascript()
      }
  	} );

  	checkValueIsExist( "name", "validateAttribute.action", {id:getFieldValue('id')});
  	checkValueIsExist( "shortName", "validateAttribute.action", {id:getFieldValue('id')});
  	checkValueIsExist( "code", "validateAttribute.action", {id:getFieldValue('id')});
  	checkValueIsExist( "pattern", "validateAttribute.action", {id:getFieldValue('id')});
  });
</script>
<h3>$i18n.getString( "edit_tracked_entity_attribute" ) #openHelp( "tracked_entity_attribute_information" )</h3>

<form id="updateAttributeForm" name="updateAttributeForm" action="updateAttribute.action" method="post" class="inputForm">

<div style="display:inline">
  <input type="hidden" id="id" name="id" value="$attribute.id">
</div>
  
  <table id="detailsList">
    <thead>
      <tr>
        <th colspan="2">$i18n.getString( "tracked_entity_attribute_details" )</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><label for="name">$i18n.getString( "name" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
        <td><input type="text" id="name" name="name" value="$encoder.htmlEncode( $attribute.name )" ></td>
      </tr>     
      <tr>
        <td><label for="shortName">$i18n.getString( "short_name" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
        <td><input type="text" id="shortName" name="shortName" value="$!encoder.htmlEncode( $attribute.shortName )" ></td>
      </tr>     
      <tr>
        <td><label for="code">$i18n.getString( "code" )</label></td>
        <td><input type="text" id="code" name="code" value="$!encoder.htmlEncode( $attribute.code )"></label></td>
      </tr>      
      <tr>
        <td><label for="description">$i18n.getString( "description" )</label></td>
        <td><textarea id="description" name="description">$!encoder.htmlEncode( $attribute.description )</textarea></td>
      </tr>
    
	<!--
	<tr>
		<td><label for="searchScope">$i18n.getString( "search_scope" ) <br /></label></td>
		<td>
            <select id="searchScope" name="searchScope" >
				<option value='SEARCH_ORG_UNITS' #if( $attribute.searchScope=='SEARCH_ORG_UNITS' ) selected #end>$i18n.getString('across_search_orgunits')</option>				
				<option value='DATA_CAPTURE_ORG_UNITS' #if( $attribute.searchScope=='DATA_CAPTURE_ORG_UNITS' ) selected #end>$i18n.getString('across_data_capture_orgunits')</option>
				<option value='ALL_ORG_UNITS' #if( $attribute.searchScope=='ALL_ORG_UNITS' ) selected #end>$i18n.getString('across_all_orgunits')</option>
				<option value='NOT_SEARCHABLE' #if( $attribute.searchScope=='NOT_SEARCHABLE' ) selected #end>$i18n.getString('not_searchable')</option>
			</select>
		</td>
		<td></td>
	</tr>
	-->
	
	<tr>
		<td><label for="optionSetId">$i18n.getString( "option_set" )</label></td>
		<td><select id="optionSetId" name="optionSetId" onchange="optionSetChanged()">
		    <option value="0">[$i18n.getString('please_select')]</option>
			#foreach($optionSet in $optionSets)
				<option data-valuetype="$!optionSet.valueType" value="$optionSet.id" #if($attribute.optionSet.id==$optionSet.id) selected#end>$encoder.htmlEncode($optionSet.name)</option>
			#end
			</select>
		</td>
	</tr>
        
    <tr>
        <td><label for="valueType">$i18n.getString( "value_type" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
        <td>
          <select id="valueType" name="valueType" onchange="typeOnChange();">
			<option value="INTEGER" #if( $attribute.valueType == 'INTEGER' ) selected="selected" #end>$i18n.getString( "integer" )</option>
		    <option value="INTEGER_POSITIVE" #if( $attribute.valueType == 'INTEGER_POSITIVE' ) selected="selected" #end>$i18n.getString( "positive_integer" )</option>
		    <option value="INTEGER_NEGATIVE" #if( $attribute.valueType == 'INTEGER_NEGATIVE' ) selected="selected" #end>$i18n.getString( "negative_integer" )</option>
		    <option value="INTEGER_ZERO_OR_POSITIVE" #if( $attribute.valueType == 'INTEGER_ZERO_OR_POSITIVE' ) selected="selected" #end>$i18n.getString( "zero_positive_int" )</option>
            <option value="NUMBER" #if( $attribute.valueType == 'NUMBER' ) selected="selected" #end>$i18n.getString( "number" )</option>
            <option value="TEXT" #if( $attribute.valueType == 'TEXT' ) selected="selected" #end>$i18n.getString( "text" )</option>
            <option value="LONG_TEXT" #if( $attribute.valueType == 'LONG_TEXT' ) selected="selected" #end>$i18n.getString( "long_text" )</option>
            <option value="LETTER" #if( $attribute.valueType == 'LETTER' ) selected="selected" #end>$i18n.getString( "letter_only" )</option>
            <option value="BOOLEAN" #if( $attribute.unique=='true' ) style='display:none' #end #if( $attribute.valueType == 'BOOLEAN' ) selected="selected" #end>$i18n.getString( "yes_no" )</option>
            <option value="TRUE_ONLY" #if( $attribute.unique=='true' ) style='display:none' #end #if( $attribute.valueType == 'TRUE_ONLY' ) selected="selected" #end >$i18n.getString( "yes_only" )</option>
            <option value="DATE" #if( $attribute.unique=='true' ) style='display:none' #end #if( $attribute.valueType == 'DATE' ) selected="selected" #end>$i18n.getString( "date" )</option>
            <option value="PHONE_NUMBER" #if( $attribute.valueType == 'PHONE_NUMBER' ) selected="selected" #end>$i18n.getString( "phone_number" )</option>
            <option value="EMAIL" #if( $attribute.valueType == 'EMAIL' ) selected="selected" #end>$i18n.getString( "email" )</option>
            <option value="TRACKER_ASSOCIATE" #if( $attribute.unique=='true' ) style='display:none' #end #if( $attribute.valueType == 'TRACKER_ASSOCIATE' ) selected="selected" #end>$i18n.getString( "tracker_associate" )</option>
            <option value="USERNAME" #if( $attribute.unique=='true' ) style='display:none' #end #if( $attribute.valueType == 'USERNAME' ) selected="selected" #end>$i18n.getString( "users" )</option>
            <option value="OPTION_SET" #if( $attribute.unique=='true' ) style='display:none' #end #if( $attribute.valueType == 'OPTION_SET' ) selected="selected" #end>$i18n.getString( "option_set" )</option>
			<option value="COORDINATE" #if( $attribute.valueType == 'COORDINATE' ) selected="selected" #end>$i18n.getString( "coordinate" )</option>
				<option value="ORGANISATION_UNIT" #if( $attribute.valueType == 'ORGANISATION_UNIT' ) selected="selected" #end>$i18n.getString( "organisation_unit" )</option>
          </select>
        </td>
    </tr>

    <tr>
        <td><label for="aggregationType">$i18n.getString( "aggregation_type" )</label></td>
        <td>
            <select id="aggregationType" name="aggregationType">
                <option value="AVERAGE"#if( $attribute.aggregationType == 'AVERAGE' ) selected="selected"#end>$i18n.getString( "average" )</option>
                <option value="SUM"#if( $attribute.aggregationType == 'SUM' ) selected="selected"#end>$i18n.getString( "sum" )</option>
                <option value="COUNT"#if( $attribute.aggregationType == 'COUNT' ) selected="selected"#end>$i18n.getString( "count" )</option>
                <option value="STDDEV"#if( $attribute.aggregationType == 'STDDEV' ) selected="selected"#end>$i18n.getString( "stddev" )</option>
                <option value="VARIANCE"#if( $attribute.aggregationType == 'VARIANCE' ) selected="selected"#end>$i18n.getString( "variance" )</option>
                <option value="MIN"#if( $attribute.aggregationType == 'MIN' ) selected="selected"#end>$i18n.getString( "min" )</option>
                <option value="MAX"#if( $attribute.aggregationType == 'MAX' ) selected="selected"#end>$i18n.getString( "max" )</option>
            </select>
        </td>
    </tr>

	<tr id="trackedEntityRow" #if($attribute.trackedEntity) #else class="hidden" #end>
			<td><label for="trackedEntityId">$i18n.getString( "tracked_entity" ) <em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
			<td><select id="trackedEntityId" name="trackedEntityId" class="{validate:{required:true}}">
					#foreach( $trackedEntity in $trackedEntities )
						<option value="$trackedEntity.id" #if($attribute.trackedEntity.id==$trackedEntity.id) selected#end>$encoder.htmlEncode($trackedEntity.name)</option>
					#end
				</select>
			</td>
		</tr>
    
    <tr>
		<td><label for="unique">$i18n.getString( "unique" )</label></td>
		<td>
			<input type='checkbox' id="unique" name="unique" value='true' #if( $attribute.unique=='true' ) checked #end onchange='uniqueOnChange()' />
			<span id='uniqueTR' name='uniqueTR' style="#if( $attribute.unique=='false' ) display:none; #end" > 
				$i18n.getString('in')
				<select id='scope' name='scope' style='width:275px;' onchange='uniqueOnChange()'>
					<option value=""  #if( $attribute.orgunitScope=='false' && $attribute.programScope=='false' ) selected #end >$i18n.getString("entire_system")</option>
					<option value="1" #if( $attribute.orgunitScope=='true' && $attribute.programScope=='false' ) selected #end >$i18n.getString("orgunit")</option>
					<!-- temporaily hidden, as the program scope is not supported properly yet: https://bugs.launchpad.net/dhis2/+bug/1569793
					<option value="2" #if( $attribute.orgunitScope=='false' && $attribute.programScope=='true' ) selected #end >$i18n.getString("program")</option>
					<option value="3" #if( $attribute.orgunitScope=='true' && $attribute.programScope=='true' ) selected #end>$i18n.getString("program_within_orgunit")</option>
					-->
				</select>
			</span>
		</td>		
		<td></td>				
	</tr>
	
	<tr id="generatedTR" name="generatedTR" style="#if( $attribute.unique == 'false' ) display:none; #end">
		<td><label for="generated">$i18n.getString( "generated" )</label></td>
		<td>
			<input type="checkbox" id="generated" name="generated" value="true" #if( $attribute.generated=='true' ) checked #end onchange="generatedOnChange()">
		</td>	
	</tr>
	
	<tr id="generatedPatternTR" name="generatedPatternTR" style="#if( $attribute.unique == 'false' ) display:none; #end">
		<td>
			<label for="generated">$i18n.getString( "generated_pattern" )</label><br>
			<span class="tipText">($i18n.getString( "generated_pattern_tips" ))</span>
		</td>
		<td>
			<input type="text" id="pattern" name="pattern" value="$encoder.htmlEncode( $attribute.pattern )" />
		</td>
	</tr>
	
	<tr>
		<td><label for="inherit">$i18n.getString( "inherit" )</label></td>
		<td>
			<input type='checkbox' id="inherit" name="inherit" value='true' #if( $attribute.inherit ) checked #end>
		</td>			
	</tr>
	
	<tr>
		<td><label for="confidential">$i18n.getString( "confidential" ) <span class="tipText">($i18n.getString( "search_and_analytics_unavailable" ))</span></label></td>
		<td>
            #if( $encryptionAvailable )
                <input type='checkbox' id="confidential" name="confidential" value='true' #if( $attribute.confidential ) checked #end disabled="disabled" onchange='applyConfidentialEffect();'>
            #else
                <p style="max-width: 312px">
                    <b>$i18n.getString( "encryption_not_available" )</b>
                </p>
            #end
        </td>
		<td></td>				
	</tr>
    
    <tr>
        <td><label for="legendSetId">$i18n.getString( 'legend_set' )</label></td>            
        <td>
            <select id="legendSetId" name="legendSetId">
                <option>[$i18n.getString('please_select')]</option>
                #foreach ( $legendSet in $legendSets )
                <option value="$legendSet.id" #if($attribute.legendSet.id==$legendSet.id) selected#end>$encoder.htmlEncode( $legendSet.name )</option>
                #end
            </select>
        </td>
    </tr>
    
    </tbody>
</table>

#tblDynamicAttributes( { "attributes": $attributes, "attributeValues": $attributeValues } )

<table>
	<tr>
		<td colspan="2" style="padding-top:15px">
			<input type="submit" value="$i18n.getString( 'update' )" style="width:10em">
			<input type="button" value="$i18n.getString( 'cancel' )" onclick="window.location.href='attribute.action'" style="width:10em">
		</td>
	</tr>
  </table>
</form>

<script>
	var isSubmit = true;	
</script>
