<script type="text/javascript" src="javascript/updateRelationshipTypeForm.js"></script>

<h3>$i18n.getString( "edit_relationship_type" )</h3>

<form id="updateRelationshipTypeForm" name="updateRelationshipTypeForm" action="updateRelationshipType.action" method="post" class="inputForm">

<input type="hidden" id="id" name="id" value="$relationshipType.id"/>
  
<table id="detailsList">
    <thead>
      <tr><th colspan="2">$i18n.getString( "relationship_type_details" )</th></tr>
    </thead>
	
    <tbody>
		<tr>
			<td><label for="aIsToB">$i18n.getString( "a_is_to_b" ) <em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
			<td><input type="text" id="aIsToB" name="aIsToB" value="$encoder.htmlEncode( $relationshipType.aIsToB )" /></td>
		</tr>   
		<tr>
			<td><label for="bIsToA">$i18n.getString( "b_is_to_a" ) <em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
			<td><input type="text" id="bIsToA" name="bIsToA" value="$encoder.htmlEncode( $relationshipType.bIsToA )" /></td>
		</tr>
		<tr>
			<td><label for="name">$i18n.getString( "description" ) <em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
			<td><input type="text" id="name" name="name" value="$encoder.htmlEncode( $relationshipType.name )" /></td>
		</tr>
    </tbody>
	<tr>
		<td></td>
		<td>
			<input type="submit" value="$i18n.getString( 'update' )" style="width:10em"/>
			<input type="button" value="$i18n.getString( 'cancel' )" onclick="window.location.href='relationshipType.action'" style="width:10em"/>
		</td>
	</tr>
  </table>  

</form>     
