<script>
	var i18n_run_success = '$encoder.jsEscape( $i18n.getString( "run_success" ) , "'" )';
	var i18n_run_fail = '$encoder.jsEscape( $i18n.getString( "run_fail" ) , "'" )';
	var i18n_show_all_items = '$encoder.jsEscape( $i18n.getString( "show_all_item" ) , "'" )';
	var i18n_all = '[' + '$encoder.jsEscape( $i18n.getString( "all" ) , "'" )' + ']';
</script>

<script type="text/javascript" src="javascript/updateCaseAggregationForm.js"></script>

<h3>$i18n.getString( "edit_aggregation_query_builder" ) #openHelp( "tracked_entity_aggregation_query_builder_information" )</h3>

<form id="updateCaseAggregationForm" action="updateCaseAggregation.action" method="post" onsubmit='setFieldValue("dataSetId",getFieldValue("dataSets") );' class="inputForm">

<input type='hidden' id='id' name='id' value='$caseAggregation.id'>
<input type='hidden' id='dataSetId' name='dataSetId' value='$dataSet.id'>
<table> 
	<thead>
      <tr>
        <th colspan="2">$i18n.getString( "case_aggregation_query_builder_detail" )</th>
      </tr>
    </thead>
	
    <tbody>
	
    <tr>
        <td><label for="name">$i18n.getString( "name" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
        <td><input type="text" id="name" name="name" value="$encoder.htmlEncode($caseAggregation.name)"></td>
    </tr>
    
    <tr>
		<td><label for="dataSets">$i18n.getString( "dataset" )</label></td>
		<td>
			<select id="dataSets" name="dataSets" onchange="getDataElementsByDataset();">
				<option value="">[$i18n.getString('please_select')]</option>
				#foreach( $ds in $dataSets)
					<option value="$ds.id" #if( $dataSet.id=="$ds.id") selected #end >$encoder.htmlEncode($ds.displayName)</option>
				#end
			</select>
		</td>				
	</tr>
    
    <tr>
		<td><label for="aggregationDataElementInput">$i18n.getString( "dataelement" )<em title="$i18n.getString( "required" )" class="required">*</em></label></td>
		<td>
			<input id="aggregationDataElementInput" name="aggregationDataElementInput" value='$caseAggregation.aggregationDataElement.name $caseAggregation.optionCombo.name' style='width:300px;'>
			<a style='width:20px; margin-bottom:-5px;height:20px;' id='dataElementsButton' name='dataElementsButton'></a>
			<input id="aggregationDataElementId" name="aggregationDataElementId" value="$caseAggregation.aggregationDataElement.id.$caseAggregation.optionCombo.id" class="hidden" >
		</td>				
	</tr>
	<tr>
		<td><label for="operator">$i18n.getString( "operator" )</label></td>
		<td>
			<input type="radio" id="operator1" name="operator" value="COUNT" onchange='operatorOnchange(this.value)' #if($caseAggregation.operator=="COUNT") checked #end > <label for='operator1'>$i18n.getString('number_of_tracked_entities')</label><br>
			<input type="radio" id="operator2" name="operator" value="times" onchange='operatorOnchange(this.value)' #if($caseAggregation.operator=="times") checked #end > <label for='operator2'>$i18n.getString('number_of_visits')</label><br>
			<input type="radio" id="operator3" name="operator" value="sum" onchange='operatorOnchange(this.value)' #if($caseAggregation.operator=="sum") checked #end > <label for='operator3'>$i18n.getString('sum_dataelement_value')</label><br>
			<input type="radio" id="operator4" name="operator" value="avg" onchange='operatorOnchange(this.value)' #if($caseAggregation.operator=="avg") checked #end > <label for='operator4'>$i18n.getString('avg_dataelement_value')</label><br>
			<input type="radio" id="operator5" name="operator" value="min" onchange='operatorOnchange(this.value)' #if($caseAggregation.operator=="min") checked #end > <label for='operator5'>$i18n.getString('min_dataelement_value')</label><br>
			<input type="radio" id="operator6" name="operator" value="max" onchange='operatorOnchange(this.value)' #if($caseAggregation.operator=="max") checked #end > <label for='operator6'>$i18n.getString('max_dataelement_value')</label>
		</td>
	</tr>
	<tr>
		<td>
			<label for="programId">$i18n.getString( "program" )</label>
		</td>
		<td>
			<select id="programId" name="programId" onChange="getParams();">
				<option value="">[$i18n.getString('please_select')]</option>
				#foreach( $program in $programs )
					<option value="$program.id" title='$program.displayName' programType='$program.programType.value'>$encoder.htmlEncode( $program.displayName )</option>
				#end
			</select>
		</td>
	</tr>
	
	<tr>
		<td>
			<label for="programStageId">$i18n.getString( "program_stage" )</label>
		</td>
		<td>
			<select id="programStageId" name="programStageId" onChange="getTrackedEntityDataElements();"></select>
		</td>
	</tr>
	
	<tr>
		<td>
			<label for="deSumId">$i18n.getString( "data_element_for_sum_avg_min_max" ) <em title="$i18n.getString( "required" )" class="required">*</em></label>
		</td>
		<td>
			<select id="deSumId" name="deSumId" #if( $caseAggregation.deSum ) #else disabled #end>
				#if( $caseAggregation.deSum )
				<option value='$caseAggregation.deSum.id'>$encoder.htmlEncode($caseAggregation.deSum.displayName)</option>
				#end
			</select>
		</td>
	</tr>
	
	<tr>
        <td colspan="2"><p></p></td>
    </tr>
	
    </tbody>
</table>

#parse( "/dhis-web-maintenance-program/caseAggregationForm.vm" )

<p>
	<input type="submit" value="$i18n.getString( 'update' )" >
	<input type="button" value="$i18n.getString( 'test_condition' )" onclick='testCaseAggregationCondition();'/>
	<input type="button" value="$i18n.getString( 'cancel' )" onclick="cancelOnClick();" >
</p>

</form>

<script>
	#if( $dataSetId )
		getDataElementsByDataset();
		var selectedValue = "$caseAggregation.aggregationDataElement.id" + "." + "$caseAggregation.optionCombo.id";
		jQuery("#aggregationDataElementId").val( selectedValue );
	#end	
</script>	