
#sharingDialog()

<script type="text/javascript">
	jQuery(document).ready(function(){	
		tableSorter( 'categoryComboList' );	
	});

	var i18n_confirm_delete = '$encoder.jsEscape( $i18n.getString( "confirm_delete_data_element_category_combo" ) , "'" )';
</script>

<h3>$i18n.getString( "data_element_category_combo_management" ) #openHelp( "dataElementCategoryCombo" )</h3>

<div id="contextMenu" class="contextMenu">
  <ul id="contextMenuItems" class="contextMenuItems">
    <li data-enabled="canManage"><a data-target-fn="showSharingDialogWithContext"><i class="fa fa-share"></i>&nbsp;&nbsp;$i18n.getString( "sharing_settings" )</a></li>
    <li><a data-target-fn="showUpdateDataElementCategoryComboForm"><i class="fa fa-edit"></i>&nbsp;&nbsp;$i18n.getString( "edit" )</a></li>
    <li><a data-target-fn="translateWithContext"><i class="fa fa-globe"></i>&nbsp;&nbsp;$i18n.getString( "translation_translate" )</a></li>
    <li><a data-target-fn="removeDataElementCategoryCombo"><i class="fa fa-trash-o"></i>&nbsp;&nbsp;$i18n.getString( "remove" )</a></li>
    <li><a data-target-fn="showDataElementCategoryComboDetails"><i class="fa fa-info-circle"></i>&nbsp;&nbsp;$i18n.getString( "show_details" )</a></li>
  </ul>
</div>

<table class="mainPageTable">
  <tr>
    <td style="vertical-align:top">
		<table width="100%">
			<tr>
				<td>#filterDiv( "categoryCombo" )</td>
				<td colspan="3" style="text-align:right"><input type="button" value="$i18n.getString( 'add_new' )" onclick="window.location.href='showAddDataElementCategoryComboForm.action'"/></td>
			</tr>
		</table>
    <table class="listTable" id="categoryComboList">
      <thead>
      <tr>
        <th>$i18n.getString( "name" )</th>
      </tr>
      </thead>

      <tbody id="list">
        #foreach( $dataElementCategoryCombo in $dataElementCategoryCombos )
        #if( $dataElementCategoryCombo.id != $defaultCombo.id )
        <tr id="tr${dataElementCategoryCombo.id}" data-id="$!dataElementCategoryCombo.id" data-uid="$!dataElementCategoryCombo.uid" data-type="CategoryCombo" data-name="$encoder.htmlEncode( $!dataElementCategoryCombo.displayName )"
            data-can-manage="$security.canManage( $dataElementCategoryCombo )"
            data-can-update="$security.canUpdate( $dataElementCategoryCombo )"
            data-can-delete="$security.canDelete( $dataElementCategoryCombo )">
          <td>$encoder.htmlEncode( $!dataElementCategoryCombo.displayName )</td>
        </tr>
        #end
        #end
      </tbody>
    </table>
		<p></p>
		#parse( "/dhis-web-commons/paging/paging.vm" )
    </td>

		<td id="detailsData">
      <div id="detailsArea">
        <div id="hideDetailsArea">
					<a href="javascript:hideDetails()" title="$i18n.getString( 'hide_details' )"><img src="../images/hide.png" alt="$i18n.getString( 'hide_details' )"/></a>
				</div>
				<p><label>$i18n.getString( "name" ):</label><br/><span id="nameField"></span></p>
				<p><label>$i18n.getString( "number_of_categories" ):</label><br/><span id="dataElementCategoryCountField"></span></p>
				<p><label>$i18n.getString( "id" ):</label><br/><span id="idField"></span></p>
				</div>

      <div id="warningArea">
        <div id="hideDetailsArea">
          <a href="javascript:hideWarning()" title="$i18n.getString( 'hide_warning' )"><img src="../images/hide.png" alt="$i18n.getString( 'hide_warning' )"/></a>
        </div>
        <p><span id="warningField"></span></p>
      </div>
			
		</td>
  </tr>
</table>
