<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout  pattern="* %-5p %d{ABSOLUTE} %m (%F [%t])%n" />
            <Filters>
                <!-- Only log warn, error, fatal during testing-->
                <!-- Log4JLogConfigInitializer creates loggers with level INFO for org.hisp.dhis.dxf2, org.hisp.dhis.analytics.table, ...-->
                <!-- There can only be one logger per name, declaring it here competes with the former, one of which will win.-->
                <!-- I chose a filter as I did not know if someone is still interested in the log files created by Log4JLogConfigInitializer -->
                <!-- INFO logs create noise in the build, hide warnings/errors and have a performance cost attached to them-->
                <!-- Surefire by default forks a JVM for every module this sub-process communicates back to the main maven process-->
                <!-- via pipes which can be a bottleneck -->
                <ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.hisp.dhis" level="warn" additivity="true"/>
        <Logger name="com.hazelcast" level="warn" additivity="true"/>
        <Logger name="org.testcontainers" level="warn" additivity="true"/>
        <Logger name="org.springframework.web" level="warn" additivity="true"/>
        <Logger name="org.springframework.test" level="warn" additivity="true"/>
        <!--<Logger name="org.hibernate.SQL" level="DEBUG" additivity="true"/>
        <Logger name="org.hibernate.type" level="trace" additivity="true"/> -->

        <Root level="ERROR">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>