<div  ng-if='!selectedProgramStage.programStageSections.length'>
    <div ng-include="'views/event-details.html'"></div>
    <table class="dhis2-list-table-striped">
        <thead>                        
            <tr>
                <th>
                    {{'data_element'| translate}}                    
                </th>
                <th>
                    {{'value'| translate}}                    
                </th>         
            </tr>                        
        </thead>
        <tbody>
            <tr ng-repeat="eventGridColumn in eventGridColumns" ng-if="eventGridColumn.id !== 'comment' && eventGridColumn.id !== 'uid' && eventGridColumn.id !== 'eventDate' && !hiddenFields[eventGridColumn.id]">
                <td >
                    {{eventGridColumn.name}}<span ng-if="eventGridColumn.compulsory" class="required">*</span>
                </td>
                <td >
                    <ng-form name="innerForm">
                        <div ng-if="prStDes[eventGridColumn.id].dataElement.optionSetValue">
                            <div ng-if="!selectedProgram.dataEntryMethod || optionSets[prStDes[eventGridColumn.id].dataElement.optionSet.id].options.length >= 7">                                
                                <span>
                                    <ui-select ng-model="currentEvent[eventGridColumn.id]"
                                           theme="select2" 
                                           ng-required={{eventGridColumn.compulsory}}
                                           name="foo" 
                                           input-field-id={{eventGridColumn.id}} 
                                           ng-disabled="assignedFields[eventGridColumn.id]"
                                           on-select="saveDatavalue()"
                                           style="width:85%;">
                                        <ui-select-match allow-clear="true" class="form-control-ui-select" placeholder="{{'select_or_search' | translate}}">{{$select.selected.name  || $select.selected}}</ui-select-match>
                                        <ui-select-choices  repeat="option.name as option in optionSets[prStDes[eventGridColumn.id].dataElement.optionSet.id].options | filter: $select.search | limitTo:maxOptionSize">
                                           <span ng-bind-html="option.name | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                    <d2-audit dataelement-id="{{prStDes[eventGridColumn.id].dataElement.id}}" dataelement-name="{{prStDes[eventGridColumn.id].dataElement.name}}"  current-event="{{currentEvent.event}}"></d2-audit>
                                </span>
                            </div>                                    
                            <div ng-if="selectedProgram.dataEntryMethod && optionSets[prStDes[eventGridColumn.id].dataElement.optionSet.id].options.length < 7">                                    
                                <label>
                                    <span>
                                        <input type="radio"
                                           name="foo"
                                           input-field-id={{eventGridColumn.id}}
                                           ng-change="saveDatavalue()" 
                                           ng-required={{eventGridColumn.compulsory}}
                                           ng-disabled="assignedFields[eventGridColumn.id]"
                                           ng-model="currentEvent[eventGridColumn.id]"
                                           value=""> {{'no_value' | translate}}
                                        <d2-audit dataelement-id="{{prStDes[eventGridColumn.id].dataElement.id}}" dataelement-name="{{prStDes[eventGridColumn.id].dataElement.name}}"  current-event="{{currentEvent.event}}"></d2-audit>
                                    </span>
                                    <br>
                                </label>                                    
                                <label ng-repeat="option in  optionSets[prStDes[eventGridColumn.id].dataElement.optionSet.id].options">
                                    <span>
                                        <input type="radio"
                                           name={{eventGridColumn.id}}
                                           input-field-id={{eventGridColumn.id}}    
                                           ng-change="saveDatavalue()" 
                                           ng-required={{eventGridColumn.compulsory}}
                                           ng-disabled="assignedFields[eventGridColumn.id]"
                                           ng-model="currentEvent[eventGridColumn.id]"
                                           value={{option.name}}> {{option.name}}<br>
                                        <d2-audit dataelement-id="{{prStDes[eventGridColumn.id].dataElement.id}}" dataelement-name="{{prStDes[eventGridColumn.id].dataElement.name}}"  current-event="{{currentEvent.event}}"></d2-audit>
                                    </span>
                                </label>
                            </div>
                        </div>
                        <div ng-if="!prStDes[eventGridColumn.id].dataElement.optionSetValue" ng-switch="eventGridColumn.valueType">
                            <div ng-switch-when="NUMBER">
                                <span>
                                    <input type="number"
                                       d2-number-validator
                                       number-type={{eventGridColumn.valueType}}
                                       ng-model="currentEvent[eventGridColumn.id]"                                        
                                       ng-required={{eventGridColumn.compulsory}}
                                       ng-disabled="assignedFields[eventGridColumn.id]"
                                       name="foo" 
                                       input-field-id={{eventGridColumn.id}} 
                                       ng-blur="saveDatavalue()" 
                                       class="form-control input-with-audit"/>
                                    <d2-audit dataelement-id="{{prStDes[eventGridColumn.id].dataElement.id}}" dataelement-name="{{prStDes[eventGridColumn.id].dataElement.name}}"  current-event="{{currentEvent.event}}"></d2-audit>
                                </span>
                            </div>
                            <div ng-switch-when="INTEGER">
                                <span>
                                    <input type="number"
                                       d2-number-validator
                                       number-type={{eventGridColumn.valueType}}
                                       ng-model="currentEvent[eventGridColumn.id]"                                        
                                       ng-required={{eventGridColumn.compulsory}}
                                       ng-disabled="assignedFields[eventGridColumn.id]"
                                       name="foo" 
                                       input-field-id={{eventGridColumn.id}} 
                                       ng-blur="saveDatavalue()" 
                                       class="form-control input-with-audit"/>
                                    <d2-audit dataelement-id="{{prStDes[eventGridColumn.id].dataElement.id}}" dataelement-name="{{prStDes[eventGridColumn.id].dataElement.name}}"  current-event="{{currentEvent.event}}"></d2-audit>
                                </span>
                            </div>
                            <div ng-switch-when="INTEGER_POSITIVE">
                                <span>
                                    <input type="number"
                                       d2-number-validator
                                       number-type={{eventGridColumn.valueType}}
                                       ng-model="currentEvent[eventGridColumn.id]"                                        
                                       ng-required={{eventGridColumn.compulsory}}
                                       ng-disabled="assignedFields[eventGridColumn.id]"
                                       name="foo" 
                                       input-field-id={{eventGridColumn.id}} 
                                       ng-blur="saveDatavalue()" 
                                       class="form-control input-with-audit"/>
                                    <d2-audit dataelement-id="{{prStDes[eventGridColumn.id].dataElement.id}}" dataelement-name="{{prStDes[eventGridColumn.id].dataElement.name}}"  current-event="{{currentEvent.event}}"></d2-audit>
                                </span>
                            </div>
                            <div ng-switch-when="INTEGER_NEGATIVE">
                                <span>
                                    <input type="number"
                                       d2-number-validator
                                       number-type={{eventGridColumn.valueType}}
                                       ng-model="currentEvent[eventGridColumn.id]"                                        
                                       ng-required={{eventGridColumn.compulsory}}
                                       ng-disabled="assignedFields[eventGridColumn.id]"
                                       name="foo" 
                                       input-field-id={{eventGridColumn.id}} 
                                       ng-blur="saveDatavalue()" 
                                       class="form-control input-with-audit"/>
                                    <d2-audit dataelement-id="{{prStDes[eventGridColumn.id].dataElement.id}}" dataelement-name="{{prStDes[eventGridColumn.id].dataElement.name}}"  current-event="{{currentEvent.event}}"></d2-audit>
                                </span>
                            </div>
                            <div ng-switch-when="INTEGER_ZERO_OR_POSITIVE">
                                <span>
                                    <input type="number"
                                       d2-number-validator
                                       number-type={{eventGridColumn.valueType}}
                                       ng-model="currentEvent[eventGridColumn.id]"                                        
                                       ng-required={{eventGridColumn.compulsory}}
                                       ng-disabled="assignedFields[eventGridColumn.id]"
                                       name="foo" 
                                       input-field-id={{eventGridColumn.id}} 
                                       ng-blur="saveDatavalue()" 
                                       class="form-control input-with-audit"/>
                                    <d2-audit dataelement-id="{{prStDes[eventGridColumn.id].dataElement.id}}" dataelement-name="{{prStDes[eventGridColumn.id].dataElement.name}}"  current-event="{{currentEvent.event}}"></d2-audit>
                                </span>
                            </div>
                            <div ng-switch-when="TEXT">
                                <span>
                                    <input type="text"
                                        ng-model="currentEvent[eventGridColumn.id]"                                        
                                        ng-required={{eventGridColumn.compulsory}}
                                        ng-disabled="assignedFields[eventGridColumn.id]"
                                        name="foo" 
                                        input-field-id={{eventGridColumn.id}} 
                                        ng-blur="saveDatavalue()" 
                                        class="form-control input-with-audit"/>
                                    <d2-audit dataelement-id="{{prStDes[eventGridColumn.id].dataElement.id}}" dataelement-name="{{prStDes[eventGridColumn.id].dataElement.name}}"  current-event="{{currentEvent.event}}"></d2-audit>
                                </span>
                            </div>
                            <div ng-switch-when="LONG_TEXT">
                                <span>
                                    <textarea rows="3"
                                        ng-model="currentEvent[eventGridColumn.id]"                                        
                                        ng-required={{eventGridColumn.compulsory}}
                                        ng-disabled="assignedFields[eventGridColumn.id]"
                                        name="foo" 
                                        input-field-id={{eventGridColumn.id}} 
                                        ng-blur="saveDatavalue()" 
                                        class="form-control input-with-audit">
                                    </textarea>
                                    <d2-audit dataelement-id="{{prStDes[eventGridColumn.id].dataElement.id}}" dataelement-name="{{prStDes[eventGridColumn.id].dataElement.name}}"  current-event="{{currentEvent.event}}"></d2-audit>
                                </span>
                            </div>
                            <div ng-switch-when="BOOLEAN" class="form-control">
                                <label class="radio-inline">
                                    <span>
                                        <input  type="radio"
                                            ng-model="currentEvent[eventGridColumn.id]"                                                                
                                            ng-required={{eventGridColumn.compulsory}}
                                            ng-disabled="assignedFields[eventGridColumn.id]"
                                            input-field-id={{eventGridColumn.id}} 
                                            ng-change="saveDatavalue()"
                                           value="">
                                        {{'no_value'| translate}}
                                        <d2-audit dataelement-id="{{prStDes[eventGridColumn.id].dataElement.id}}" dataelement-name="{{prStDes[eventGridColumn.id].dataElement.name}}"  current-event="{{currentEvent.event}}"></d2-audit>
                                    </span>
                                </label>
                                <label class="radio-inline">
                                    <span>
                                        <input  type="radio"
                                            ng-model="currentEvent[eventGridColumn.id]"                                                                
                                            ng-required={{eventGridColumn.compulsory}}
                                            ng-disabled="assignedFields[eventGridColumn.id]"
                                            input-field-id={{eventGridColumn.id}} 
                                            ng-change="saveDatavalue()" 
                                           value="true"> 
                                        {{'yes'| translate}}
                                        <d2-audit dataelement-id="{{prStDes[eventGridColumn.id].dataElement.id}}" dataelement-name="{{prStDes[eventGridColumn.id].dataElement.name}}"  current-event="{{currentEvent.event}}"></d2-audit>
                                    </span>
                                </label>
                                <label class="radio-inline">
                                    <span>
                                        <input  type="radio"
                                            ng-model="currentEvent[eventGridColumn.id]"                                                                
                                            ng-required={{eventGridColumn.compulsory}}
                                            ng-disabled="assignedFields[eventGridColumn.id]"
                                            input-field-id={{eventGridColumn.id}} 
                                            ng-change="saveDatavalue()" 
                                            value="false">
                                           {{'no'| translate}}
                                         <d2-audit dataelement-id="{{prStDes[eventGridColumn.id].dataElement.id}}" dataelement-name="{{prStDes[eventGridColumn.id].dataElement.name}}"  current-event="{{currentEvent.event}}"></d2-audit>
                                    </span>
                                </label>
                            </div>
                            <div ng-switch-when="DATE">
                                <span>
                                    <input type="text"
                                       placeholder="{{dhis2CalendarFormat.keyDateFormat}}"
                                       d2-date
                                       max-date="prStDes[eventGridColumn.id].allowFutureDate ? '' : 0"                                        
                                       d2-date-validator
                                       ng-model="currentEvent[eventGridColumn.id]"                                                               
                                       ng-required={{eventGridColumn.compulsory}}
                                       ng-disabled="assignedFields[eventGridColumn.id]"
                                       name="foo" 
                                       input-field-id={{eventGridColumn.id}} 
                                       blur-or-change="saveDatavalue()" 
                                       class="form-control input-with-audit">
                                 <d2-audit dataelement-id="{{prStDes[eventGridColumn.id].dataElement.id}}" dataelement-name="{{prStDes[eventGridColumn.id].dataElement.name}}"  current-event="{{currentEvent.event}}"></d2-audit>
                                </span>
                            </div>
                            <div ng-switch-when="DATETIME">
                                <span>
                                    <input type="text"
                                       placeholder="{{dhis2CalendarFormat.keyDateFormat}}"
                                       d2-date
                                       max-date="prStDes[eventGridColumn.id].allowFutureDate ? '' : 0"
                                       ng-model="currentEvent[eventGridColumn.id]"
                                       ng-required={{eventGridColumn.compulsory}}
                                       ng-disabled="assignedFields[eventGridColumn.id]"
                                       name="foo"
                                       input-field-id={{eventGridColumn.id}}
                                       style="width:85%;"/>
                                    <d2-audit dataelement-id="{{prStDes[eventGridColumn.id].dataElement.id}}" dataelement-name="{{prStDes[eventGridColumn.id].dataElement.name}}"  current-event="{{currentEvent.event}}"></d2-audit>
                                </span>
                            </div>
                            <div ng-switch-when="TRUE_ONLY">
                                <span>
                                    <input type="checkbox"
                                       ng-model="currentEvent[eventGridColumn.id]"                                                               
                                       ng-required={{eventGridColumn.compulsory}}
                                       ng-disabled="assignedFields[eventGridColumn.id]"
                                       name="foo" 
                                       input-field-id={{eventGridColumn.id}} 
                                       ng-change="saveDatavalue()" />
                                    <d2-audit dataelement-id="{{prStDes[eventGridColumn.id].dataElement.id}}" dataelement-name="{{prStDes[eventGridColumn.id].dataElement.name}}"  current-event="{{currentEvent.event}}"></d2-audit>
                                </span>

                            </div>
                            <div ng-switch-when="FILE_RESOURCE">                                
                                <div class="input-group">
                                    <div class="form-control">
                                        <span ng-if="!currentEvent.event || currentEvent.event ==='SINGLE_EVENT'">{{fileNames[currentEvent.event][eventGridColumn.id]}}</span>
                                        <a ng-if="currentEvent.event && currentEvent.event !=='SINGLE_EVENT'" href ng-click="downloadFile(currentEvent.event, eventGridColumn.id)">{{fileNames[currentEvent.event][eventGridColumn.id]}}</a>                                        
                                    </div>
                                    <span class="input-group-btn">
                                        <span class="btn btn-primary btn-file" ng-if="currentEvent[eventGridColumn.id]" ng-click="deleteFile(eventGridColumn.id)">
                                            <span
                                                  title="{{'delete' | translate}}" 
                                                  d2-file-input-name="fileNames[currentEvent.event][eventGridColumn.id]" 
                                                  d2-file-input-delete="currentEvent[eventGridColumn.id]">
                                                <i class="fa fa-trash"></i>
                                            </span>
                                        </span>
                                        <span class="btn btn-primary btn-file" ng-if="!currentEvent[eventGridColumn.id]">
                                            <span title="{{'upload' | translate}}">
                                                <i class="fa fa-upload"></i>
                                                <input type="file" 
                                                       ng-required={{eventGridColumn.compulsory}}
                                                       ng-disabled="assignedFields[eventGridColumn.id]"
                                                       name="foo"
                                                       input-field-id={{eventGridColumn.id}}
                                                       d2-file-input-ps="currentStage"
                                                       d2-file-input="currentEvent" 
                                                       d2-file-input-current-name="currentFileNames"
                                                       d2-file-input-name="fileNames">
                                            </span>                                                
                                        </span>
                                    </span>                
                                </div>
                            </div>
                            <div ng-switch-default>
                                <span>
                                    <input type="text"
                                        ng-model="currentEvent[eventGridColumn.id]"
                                        ng-required={{eventGridColumn.compulsory}}
                                        ng-disabled="assignedFields[eventGridColumn.id]"
                                        name="foo"
                                        input-field-id={{eventGridColumn.id}}
                                        ng-blur="saveDatavalue()"
                                        class="form-control input-with-audit">
                                    <d2-audit dataelement-id="{{prStDes[eventGridColumn.id].dataElement.id}}" dataelement-name="{{prStDes[eventGridColumn.id].dataElement.name}}"  current-event="{{currentEvent.event}}"></d2-audit>
                                </span>
                            </div>
                        </div>                        
                        <div ng-messages="innerForm.foo.$error" ng-if="interacted(innerForm.foo)" class="required" ng-messages-include="../dhis-web-commons/angular-forms/error-messages.html">                                         
                        </div>                        
                    </ng-form>                    
                </td>
            </tr>        
        </tbody>
    </table>
</div>

<div ng-if='selectedProgramStage.programStageSections.length'>
    <div ng-include="'views/event-details.html'"></div>
    <div ng-repeat='section in selectedProgramStage.programStageSections' ng-if="section.id === selectedSection.id || selectedSection.id === 'ALL' && !hiddenSections[section.id] ">
        <div class="vertical-spacing section-label">
           {{section.name}}
        </div>
        
        <div class="vertical-spacing" ng-if="!section.programStageDataElements || section.programStageDataElements.length === 0">
            <div class="alert alert-warning">{{'section'| translate}} {{section.name}} {{'has_no_dataelements'| translate}}</div>
        </div>  
        
        <table class="dhis2-list-table-striped">                    
            <thead>                        
                <tr>
                    <th>
                        {{'data_element'| translate}}                    
                    </th>
                    <th>
                        {{'value'| translate}}                    
                    </th>         
                </tr>                        
            </thead>
            <tbody>       
                <tr ng-repeat="de in section.programStageDataElements" ng-if="!hiddenFields[de.dataElement.id]">
                    <td >
                        {{prStDes[de.dataElement.id].dataElement.displayFormName}}
                        <span ng-if="prStDes[de.dataElement.id].compulsory" class="required">*</span>
                    </td>
                    <td >
                        <ng-form name="innerForm">
                            <div ng-if="prStDes[de.dataElement.id].dataElement.optionSetValue">
                                <span ng-if="!selectedProgram.dataEntryMethod || optionSets[prStDes[de.dataElement.id].dataElement.optionSet.id].options.length >= 7">
                                    <span>
                                        <ui-select ng-model="currentEvent[de.dataElement.id]"
                                               theme="select2" 
                                               ng-required={{prStDes[de.dataElement.id].compulsory}}
                                               ng-disabled="assignedFields[de.dataElement.id]"
                                               name="foo" 
                                               input-field-id={{de.dataElement.id}} 
                                               on-select="saveDatavalue()"
                                               style="width:85%;">
                                            <ui-select-match allow-clear="true" class="form-control-ui-select" placeholder="{{'select_or_search' | translate}}">{{$select.selected.name || $select.selected}}</ui-select-match>
                                            <ui-select-choices  repeat="option.name as option in optionSets[prStDes[de.dataElement.id].dataElement.optionSet.id].options | filter: $select.search | limitTo:maxOptionSize">
                                                <span ng-bind-html="option.name | highlight: $select.search"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                        <d2-audit dataelement-id="{{de.dataElement.id}}" dataelement-name="{{prStDes[de.dataElement.id].dataElement.name}}"  current-event="{{currentEvent.event}}"></d2-audit>
                                    </span>
                                </span>
                                <span ng-if="selectedProgram.dataEntryMethod && optionSets[prStDes[de.dataElement.id].dataElement.optionSet.id].options.length < 7">                                    
                                    <label>
                                        <span>
                                            <input type="radio"
                                               name={{de.dataElement.id}}
                                               input-field-id={{de.dataElement.id}} 
                                               ng-change="saveDatavalue()" 
                                               ng-required={{prStDes[de.dataElement.id].compulsory}}
                                               ng-disabled="assignedFields[de.dataElement.id]"
                                               ng-model="currentEvent[de.dataElement.id]"
                                               value="">{{'no_value' | translate}}
                                            <d2-audit dataelement-id="{{de.dataElement.id}}" dataelement-name="{{prStDes[de.dataElement.id].dataElement.name}}"  current-event="{{currentEvent.event}}"></d2-audit>
                                        </span>
                                        <br>
                                    </label><br>
                                    <span ng-repeat="option in optionSets[prStDes[de.dataElement.id].dataElement.optionSet.id].options">
                                        <label>
                                            <span>
                                                <input type="radio"
                                                   name={{de.dataElement.id}}
                                                   input-field-id={{de.dataElement.id}}
                                                   ng-change="saveDatavalue()" 
                                                   ng-required={{prStDes[de.dataElement.id].compulsory}}
                                                   ng-disabled="assignedFields[de.dataElement.id]"
                                                   ng-model="currentEvent[de.dataElement.id]"
                                                   value={{option.name}}> {{option.name}}
                                                <d2-audit dataelement-id="{{de.dataElement.id}}" dataelement-name="{{prStDes[de.dataElement.id].dataElement.name}}"  current-event="{{currentEvent.event}}"></d2-audit>
                                            </span>
                                                <br>
                                        </label><br>
                                    </span>                                    
                                </span>
                            </div>
                            <div ng-if="!prStDes[de.dataElement.id].dataElement.optionSetValue" ng-switch="prStDes[de.dataElement.id].dataElement.valueType">                                
                                <div ng-switch-when="NUMBER">
                                    <span>
                                        <input type="number"
                                            d2-number-validator
                                            number-type={{prStDes[de.dataElement.id].dataElement.valueType}}
                                            ng-model="currentEvent[de.dataElement.id]"
                                            ng-required={{prStDes[de.dataElement.id].compulsory}}
                                            ng-disabled="assignedFields[de.dataElement.id]"
                                            name="foo"
                                            input-field-id={{de.dataElement.id}}
                                            ng-blur="saveDatavalue()"
                                            class="form-control input-with-audit"/>
                                        <d2-audit dataelement-id="{{de.dataElement.id}}" dataelement-name="{{prStDes[de.dataElement.id].dataElement.name}}"  current-event="{{currentEvent.event}}"></d2-audit>
                                    </span>
                                </div>
                                <div ng-switch-when="INTEGER">
                                    <span>
                                        <input type="number"
                                           d2-number-validator 
                                           number-type={{prStDes[de.dataElement.id].dataElement.valueType}}
                                           ng-model="currentEvent[de.dataElement.id]"                                                
                                           ng-required={{prStDes[de.dataElement.id].compulsory}}
                                           ng-disabled="assignedFields[de.dataElement.id]"
                                           name="foo" 
                                           input-field-id={{de.dataElement.id}} 
                                           ng-blur="saveDatavalue()" 
                                           class="form-control input-with-audit"/>
                                        <d2-audit dataelement-id="{{de.dataElement.id}}" dataelement-name="{{prStDes[de.dataElement.id].dataElement.name}}"  current-event="{{currentEvent.event}}"></d2-audit>
                                    </span>
                                </div>
                                <div ng-switch-when="INTEGER_POSITIVE">
                                    <span>
                                        <input type="number"
                                           d2-number-validator 
                                           number-type={{prStDes[de.dataElement.id].dataElement.valueType}}
                                           ng-model="currentEvent[de.dataElement.id]"                                                
                                           ng-required={{prStDes[de.dataElement.id].compulsory}}
                                           ng-disabled="assignedFields[de.dataElement.id]"
                                           name="foo" 
                                           input-field-id={{de.dataElement.id}} 
                                           ng-blur="saveDatavalue()" 
                                           class="form-control input-with-audit"/>
                                        <d2-audit dataelement-id="{{de.dataElement.id}}" dataelement-name="{{prStDes[de.dataElement.id].dataElement.name}}"  current-event="{{currentEvent.event}}"></d2-audit>
                                    </span>
                                </div>
                                <div ng-switch-when="INTEGER_NEGATIVE">
                                    <span>
                                        <input type="number"
                                           d2-number-validator 
                                           number-type={{prStDes[de.dataElement.id].dataElement.valueType}}
                                           ng-model="currentEvent[de.dataElement.id]"                                                
                                           ng-required={{prStDes[de.dataElement.id].compulsory}}
                                           ng-disabled="assignedFields[de.dataElement.id]"
                                           name="foo" 
                                           input-field-id={{de.dataElement.id}} 
                                           ng-blur="saveDatavalue()" 
                                           class="form-control input-with-audit"/>
                                        <d2-audit dataelement-id="{{de.dataElement.id}}" dataelement-name="{{prStDes[de.dataElement.id].dataElement.name}}"  current-event="{{currentEvent.event}}"></d2-audit>
                                    </span>
                                </div>
                                <div ng-switch-when="INTEGER_ZERO_OR_POSITIVE">
                                    <span>
                                        <input type="number"
                                           d2-number-validator 
                                           number-type={{prStDes[de.dataElement.id].dataElement.valueType}}
                                           ng-model="currentEvent[de.dataElement.id]"                                                
                                           ng-required={{prStDes[de.dataElement.id].compulsory}}
                                           ng-disabled="assignedFields[de.dataElement.id]"
                                           name="foo" 
                                           input-field-id={{de.dataElement.id}} 
                                           ng-blur="saveDatavalue()" 
                                           class="form-control input-with-audit"/>
                                        <d2-audit dataelement-id="{{de.dataElement.id}}" dataelement-name="{{prStDes[de.dataElement.id].dataElement.name}}"  current-event="{{currentEvent.event}}"></d2-audit>
                                    </span>
                                </div>
                                <div ng-switch-when="TEXT">
                                    <span>
                                        <input type="text"
                                            ng-model="currentEvent[de.dataElement.id]"                                   
                                            ng-required={{prStDes[de.dataElement.id].compulsory}}
                                            ng-disabled="assignedFields[de.dataElement.id]"
                                            name="foo" 
                                            input-field-id={{de.dataElement.id}} 
                                            ng-blur="saveDatavalue()" 
                                            class="form-control input-with-audit">
                                        <d2-audit dataelement-id="{{de.dataElement.id}}" dataelement-name="{{prStDes[de.dataElement.id].dataElement.name}}"  current-event="{{currentEvent.event}}"></d2-audit>
                                    </span>
                                </div>
                                <div ng-switch-when="LONG_TEXT">
                                    <span>
                                        <textarea rows="3"
                                            ng-model="currentEvent[de.dataElement.id]"
                                            ng-required={{prStDes[de.dataElement.id].compulsory}}
                                            ng-disabled="assignedFields[de.dataElement.id]"
                                            name="foo"
                                            input-field-id={{de.dataElement.id}}
                                            ng-blur="saveDatavalue()"
                                            class="form-control input-with-audit">
                                        </textarea>
                                        <d2-audit dataelement-id="{{de.dataElement.id}}" dataelement-name="{{prStDes[de.dataElement.id].dataElement.name}}"  current-event="{{currentEvent.event}}"></d2-audit>
                                    </span>
                                </div>
                                <span>
                                <div ng-switch-when="BOOLEAN">
                                    <span class="form-control input-with-audit">
                                        <label class="radio-inline">
                                            <input type="radio"
                                                ng-model="currentEvent[de.dataElement.id]"
                                                ng-required={{prStDes[de.dataElement.id].compulsory}}
                                                ng-disabled="assignedFields[de.dataElement.id]"
                                                input-field-id={{de.dataElement.id}}
                                                ng-change="saveDatavalue()"
                                                value="">
                                            {{'no_value'| translate}}
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio"
                                                ng-model="currentEvent[de.dataElement.id]"
                                                ng-required={{prStDes[de.dataElement.id].compulsory}}
                                                ng-disabled="assignedFields[de.dataElement.id]"
                                                input-field-id={{de.dataElement.id}}
                                                ng-change="saveDatavalue()"
                                                value="true">
                                            {{'yes'| translate}}
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio"
                                                ng-model="currentEvent[de.dataElement.id]"
                                                ng-required={{prStDes[de.dataElement.id].compulsory}}
                                                ng-disabled="assignedFields[de.dataElement.id]"
                                                input-field-id={{de.dataElement.id}}
                                                ng-change="saveDatavalue()"
                                                value="false">
                                                {{'no'| translate}}
                                        </label>
                                    </span>
                                    <d2-audit dataelement-id="{{de.dataElement.id}}" dataelement-name="{{prStDes[de.dataElement.id].dataElement.name}}"  current-event="{{currentEvent.event}}"></d2-audit>
                                </div>


                                <div ng-switch-when="DATE">
                                    <span>
                                        <input type="text"
                                           placeholder="{{dhis2CalendarFormat.keyDateFormat}}"
                                           d2-date
                                           max-date="prStDes[de.dataElement.id].allowFutureDate ? '' : 0"                                                  
                                           d2-date-validator
                                           ng-model="currentEvent[de.dataElement.id]"                                                               
                                           ng-required={{prStDes[de.dataElement.id].compulsory}}
                                           ng-disabled="assignedFields[de.dataElement.id]"
                                           name="foo" 
                                           input-field-id={{de.dataElement.id}} 
                                           blur-or-change="saveDatavalue()" 
                                           class="form-control input-with-audit"/>
                                        <d2-audit dataelement-id="{{de.dataElement.id}}" dataelement-name="{{prStDes[de.dataElement.id].dataElement.name}}"  current-event="{{currentEvent.event}}"></d2-audit>
                                    </span>
                                </div>
                                <div ng-switch-when="DATETIME">
                                    <span>
                                        <input type="text"
                                           placeholder="{{dhis2CalendarFormat.keyDateFormat}}"
                                           d2-date
                                           max-date="prStDes[de.dataElement.id].allowFutureDate ? '' : 0"
                                           d2-date-validator
                                           ng-model="currentEvent[de.dataElement.id]"
                                           ng-required={{prStDes[de.dataElement.id].compulsory}}
                                           ng-disabled="assignedFields[de.dataElement.id]"
                                           name="foo"
                                           input-field-id={{de.dataElement.id}}
                                           blur-or-change="saveDatavalue()"
                                           class="form-control input-with-audit"/>
                                        <d2-audit dataelement-id="{{de.dataElement.id}}" dataelement-name="{{prStDes[de.dataElement.id].dataElement.name}}"  current-event="{{currentEvent.event}}"></d2-audit>
                                    </span>
                                </div>
                                <div ng-switch-when="TRUE_ONLY">
                                    <span>
                                        <input type="checkbox"
                                           ng-model="currentEvent[de.dataElement.id]"                                                               
                                           ng-required={{prStDes[de.dataElement.id].compulsory}}
                                           ng-disabled="assignedFields[de.dataElement.id]"
                                           name="foo" 
                                           input-field-id={{de.dataElement.id}}
                                           ng-change="saveDatavalue()" />
                                        <d2-audit dataelement-id="{{de.dataElement.id}}" dataelement-name="{{prStDes[de.dataElement.id].dataElement.name}}"  current-event="{{currentEvent.event}}"></d2-audit>
                                    </span>
                                </div>
                                <div ng-switch-when="FILE_RESOURCE">
                                    <div class="input-group">
                                        <div class="form-control">
                                            <span ng-if="!currentEvent.event || currentEvent.event ==='SINGLE_EVENT'">{{fileNames[currentEvent.event][de.dataElement.id]}}</span>
                                            <a ng-if="currentEvent.event && currentEvent.event !=='SINGLE_EVENT'" href ng-click="downloadFile(currentEvent.event, de.dataElement.id)">{{fileNames[currentEvent.event][de.dataElement.id]}}</a>                                        
                                        </div>
                                        <span class="input-group-btn">
                                            <span class="btn btn-primary btn-file"  ng-if="currentEvent[de.dataElement.id]" ng-click="deleteFile(de.dataElement.id)">
                                                <span
                                                      title="{{'delete' | translate}}" 
                                                      d2-file-input-name="fileNames[currentEvent.event][de.dataElement.id]" 
                                                      d2-file-input-delete="currentEvent[de.dataElement.id]">
                                                    <i class="fa fa-trash"></i>
                                                </span>
                                            </span>
                                            <span class="btn btn-primary btn-file" ng-if="!currentEvent[de.dataElement.id]" >
                                                <span title="{{'upload' | translate}}">
                                                    <i class="fa fa-upload"></i>
                                                    <input type="file" 
                                                           ng-required={{eventGridColumn.compulsory}}
                                                           ng-disabled="assignedFields[de.dataElement.id]"
                                                           name="foo"
                                                           input-field-id={{de.dataElement.id}}
                                                           d2-file-input-ps="currentStage"
                                                           d2-file-input="currentEvent" 
                                                           d2-file-input-current-name="currentFileNames"
                                                           d2-file-input-name="fileNames">
                                                </span>                                                
                                            </span>
                                        </span>                
                                    </div>                                    
                                </div>
                                <div ng-switch-default>
                                    <span>
                                        <input type="text"
                                            ng-model="currentEvent[de.dataElement.id]"
                                            ng-required={{prStDes[de.dataElement.id].compulsory}}
                                            ng-disabled="assignedFields[de.dataElement.id]"
                                            name="foo"
                                            input-field-id={{de.dataElement.id}}
                                            ng-blur="saveDatavalue()"
                                            class="form-control input-with-audit"/>
                                        <d2-audit dataelement-id="{{de.dataElement.id}}" dataelement-name="{{prStDes[de.dataElement.id].dataElement.name}}"  current-event="{{currentEvent.event}}"></d2-audit>
                                    </span>
                                </div>
                            </div>                        
                            <div ng-messages="innerForm.foo.$error" ng-if="interacted(innerForm.foo)" class="required" ng-messages-include="../dhis-web-commons/angular-forms/error-messages.html">                                         
                            </div>
                            <div ng-if="warningMessages[de.dataElement.id]">
                                {{warningMessages[de.dataElement.id]}}
                            </div>
                        </ng-form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div> 
    
</div>