<table style='width: 50%;'>
    <tr ng-if="selectedProgramStage.preGenerateUID">
        <td>
            {{'form_id'| translate}}
        </td>
        <td>
            <input type="text" ng-disabled="true" ng-model="currentEvent['uid']" class="form-control">
        </td>
    </tr>
    <tr ng-if="!customForm.hasEventDate">
        <td>
            {{selectedProgramStage.reportDateDescription ? selectedProgramStage.reportDateDescription : 'incident_date'| translate }}
        </td>
        <td>
            <input type="text"                                                   
                    placeholder="{{dhis2CalendarFormat.keyDateFormat}}"
                    d2-date
                    max-date='0'
                    ng-model="currentEvent.eventDate"  
                    ng-required="true"                     
                    d2-date-validator
                    name="eventDate" 
                    input-field-id='eventDate' 
                    class="form-control">
            <div ng-messages="outerForm.eventDate.$error" ng-if="interacted(outerForm.eventDate)" class="required" ng-messages-include="../dhis-web-commons/angular-forms/error-messages.html">                                         
            </div>
        </td>
    </tr>
    <tr ng-if="selectedProgramStage.captureCoordinates">
        <td>
            {{'latitude'| translate}}<span class="pull-right"><a href ng-click="showMap(currentEvent)" title="{{'get_from_map'| translate}}"><i class="fa fa-map-marker fa-2x"></i></a></span>
        <td>
            <input type="number" 
                   ng-model="currentEvent.coordinate.latitude"                    
                   name="latitude"
                   d2-coordinate-validator
                   ng-required="false"
                   class="form-control"/>
            <div ng-messages="outerForm.latitude.$error" ng-if="interacted(outerForm.latitude)" class="required" ng-messages-include="../dhis-web-commons/angular-forms/error-messages.html">                        
            </div>
        </td>                                            
    </tr>
    <tr ng-if="selectedProgramStage.captureCoordinates">
        <td>
            {{'longitude'| translate}}<span class="pull-right"><a href ng-click="showMap(currentEvent)" title="{{'get_from_map'| translate}}"><i class="fa fa-map-marker fa-2x"></i></a></span>
        </td>
        <td>
            <input type="number" 
                   ng-model="currentEvent.coordinate.longitude"                    
                   name="longitude" 
                   d2-coordinate-validator
                   ng-required="false"
                   class="form-control"/>
            <div ng-messages="outerForm.longitude.$error" ng-if="interacted(outerForm.longitude)" class="required" ng-messages-include="../dhis-web-commons/angular-forms/error-messages.html">
            </div>
        </td>                                                            
    </tr>
</table>
<div ng-include="'../dhis-web-commons/angular-forms/custom-form.html'"></div>