<div ng-show="currentEvent" class='remove-default-padding overflow-ellipsis'>
<div class='row'><hr></div>
<div class="add-default-padding">
    <textarea class="form-control" rows="3" ng-model="note.value" placeholder="{{'add_new_note_here'| translate}}"></textarea> 
    <div class="vertical-spacing hideInPrint">
        <button type="button" 
                class="btn btn-primary"
                ng-click="addNote()">
            {{'add'| translate}}
        </button>        
        <button type="button" 
                class="btn btn-default small-horizonal-spacing hideInPrint"
                ng-click="clearNote()">
            {{'clear'| translate}}
        </button>
    </div>
</div>
<table class="table table-striped dhis2-table-hover">
    <tr ng-repeat="note in currentEvent.notes">
        <td class="add-default-left-padding">
            <d2-pop-over content="note" template="popover.html" details="{{'details'| translate}}">
                <div>{{note.heading}}</div>
            </d2-pop-over>
            <script type="text/ng-template" id="popover.html">
                <div class="wrap-text">{{content.value}}</div>
                <hr>
                <p><strong>{{'created_by' | translate}}: </strong>{{content.storedBy}}</p>
                <p><strong>{{'date' | translate}}: </strong>{{content.storedDate}}</p>                           
            </script>
        </td> 
    </tr>
</table>
</div>
<div ng-show="currentEvent && !currentEvent.notes" class="alert alert-warning">{{'no_notes_exist'| translate}}</div> 