<div class="modal-header page">
    <h3>{{'new_event'| translate}} - {{dhis2Event.name}}</h3>
</div>
<div class="modal-body page">
    <form name="eventCreationForm" class="form-horizontal" role="form" novalidate>
        <div ng-if="!selectedStage.periodType">
            <div class="form-group">
                <label class="col-sm-2 control-label">{{'due_date'| translate}}</label>
                <div class="col-sm-10">
                    <input type="text" 
                           class="form-control" 
                           name="dueDate"
                           placeholder="{{dhis2CalendarFormat.keyDateFormat}}" 
                           ng-rquired="true" 
                           d2-date
                           ng-model="dhis2Event.dueDate">
                    <span ng-if="dueDateInvalid" class="error">{{'required'| translate}}</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{dhis2Event.excecutionDateLabel}}</label>
                <div class="col-sm-10">
                    <input type="text" 
                           class="form-control" 
                           name="eventDate"
                           placeholder="{{dhis2CalendarFormat.keyDateFormat}}" 
                           ng-rquired="false" 
                           d2-date
                           max-date="0"
                           min-date=""
                           ng-model="dhis2Event.eventDate">
                    <span ng-if="eventDateInvalid" class="error">{{'required'| translate}}</span>
                </div>
            </div>
        </div>
        <div ng-if="selectedStage.periodType">
            <div class="form-group">
                <label class="control-label">
                    {{'period'| translate}}
                </label>                
                <select class="form-control-program" 
                        ng-model="dhis2Event.selectedPeriod"
                        ng-options="period.name for period in dhis2Event.periods">
                </select>                
                <button ng-disabled="true" type="button" class="btn btn-default small-horizonal-spacing trim" ng-click="fetchPeriod('PREV')" title="{{'prev_period'| translate}}"><i class="fa fa-backward"></i></button>        
                <button ng-disabled="true" type="button" class="btn btn-default small-horizonal-spacing trim" ng-click="fetchPeriod('NEXT')" title="{{'nxt_period'| translate}}"><i class="fa fa-forward"></i></button>        
        
            </div>            
        </div>
    </form>  
</div>
<div class="modal-footer page">        
    <button class="btn btn-primary" data-ng-click="save()">{{'save'| translate}}</button>
    <button class="btn btn-default" data-ng-click="cancel()">{{'cancel'| translate}}</button>
</div>