## ============================================================================
<h2>
	$i18n.getString( "interpretation" )
</h2>

<p>
	#if($interpretation.getType() == "chart")
		<img src="getChart.action?id=$interpretation.getChart().getId()" style="width:100%"></br>
	#end
</p>


## ============================================================================
<h3>
	$i18n.getString( "interpretation_comment" )
</h3>

<p>
	#foreach( $interpretationComment in $interpretation.getComments() )
		<li>
			$interpretationComment.getText()
		</li>
	#end
</p>


## ============================================================================
<h3>$i18n.getString("interpretation_add_comment")</h3>

<form method="POST" action="postInterpretationComment.action">
	<input type="hidden" name="interpretationId" value="$interpretationId" />
	<div class="header-box" align="center">
		<p style="text-align: left;">			
			<input type="text" size="24" name="comment" />			
			<input type="submit" style="width: 100%;" value="$i18n.getString("interpretation_post_comment")" />
		</p>
	</div>
</form>


## ============================================================================
<div id="footer">
	<h2>
		$i18n.getString( "navigate_to" )
	</h2>
	
	<ul>
		<li>
			<a href="index.action">
				$i18n.getString("home")
			</a>
		</li>
	</ul>
</div>
