version: "3.8"

services:
  redis:
    image: redis:5.0.5-alpine
    volumes:
      - ./config/redis/redis.conf:/usr/local/etc/redis.conf
    ports:
      - "6379"

  db:
    image: postgis/postgis:10-2.5-alpine
    command: postgres -c max_locks_per_transaction=100
    restart: unless-stopped
    environment:
      POSTGRES_USER: dhis
      POSTGRES_DB: dhis
      POSTGRES_PASSWORD: &postgres_password dhis
      PGPASSWORD: *postgres_password # needed by psql in healthcheck
    healthcheck:
      test: ["CMD-SHELL", "psql --no-password --quiet --username $$POSTGRES_USER postgres://127.0.0.1/$$POSTGRES_DB -p 5432 --command \"SELECT 'ok'\" > /dev/null"]
      start_period: 30s
      interval: 1s
      timeout: 3s
      retries: 3

  web:
    image: "${DHIS2_IMAGE:-dhis2/core-dev:local}"
    pull_policy: missing
    volumes:
      - ./config/dhis2_home/dhis.conf:/opt/dhis2/dhis.conf:ro
    environment:
      - WAIT_FOR_DB_CONTAINER=db:5432 -t 0
    depends_on:
      - db
      - redis
    ports:
      - "8080"
