
input[type="text"] 
{
    width: 260px;
}

select
{
    width: 265px;
}

select.search-field
{
	width: 180px;
}

.large-button
{
	width: 110px;
}

.hidden
{
	display:none;
}

.advanced-search 
{
  position: relative;
  border: 1px solid #a4d2a3;
  background-color: #d5efd5;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-left: 20px;
  margin-bottom: 15px;
  border-radius: 3px;
}