
<input type="hidden" id="curLocaleCode" value="$locale.getLanguage()_$locale.getCountry()"/>

<form id="translateForm" action="translate.action" method="post">

<h3>$i18n.getString( "translation_translate" ) #openHelp( "translation" )</h3>

<div>
	<input type="hidden" id="uid" name="uid" value="$uid"/>
	<input type="hidden" id="className" name="className" value="$className"/>
	<input type="hidden" id="returnUrl" name="returnUrl" value="$returnUrl"/>
</div>
<table>
	<tr>
		<th>$i18n.getString( "translation_details" )</th>
		<th>$i18n.getString( "translation_locale" )</th>
		<th>$i18n.getString( "translation_reference" )</th>
	</tr>
	<tr>
	<td style="width:12em"></td>
	<td style="width:20em">
        <select id="loc" name="loc" onchange="getTranslation()" style="min-width:20em">
            <option value="NONE">$i18n.getString( "translation_select_locale" )</option>
			#foreach ( $loc in $availableLocales )
				<option value="$loc" #if( $currentLocale && $loc == $currentLocale ) selected="selected" #end>$!loc.displayName</option>
			#end
		</select>
    </td>
    <td style="width:20em"></td>
    </tr>
	#foreach ( $propertyName in $propertyNames )
	<tr>
		<td style="width:10em"><label style="width:20em">$i18n.getString( "translation_label_$propertyName" )</label></td>
		<td><input type="text" id="$propertyName" name="$propertyName" value="$!encoder.htmlEncode( $translations.get( $propertyName.toLowerCase() ) )" style="width:20em"/></td>
		<td><span style="width:20em">$!encoder.htmlEncode( $referenceTranslations.get( $propertyName ) )</span></td>
	</tr>
	#end
	<tr>
		<td></td>
		<td><input type="submit" value="$i18n.getString( 'translation_save' )" style="width:10em"/>
		    <input type="button" value="$i18n.getString( 'translation_cancel' )" onclick="javascript:location.href='$returnUrl'" style="width:10em"/>
	    </td>
		<td></td>
	</tr>
</table>
</form>

<span id="message"></span>

<script type="text/javascript">
    var propNames = new Array()
    #set( $count = 0 )
    #foreach ( $propertyName in $propertyNames )
        propNames[$count] = "$propertyName";
        #set( $count = $count + 1 )
    #end
</script>
