{ "validationRuleGroup":
  {
    "id": "$!{validationRuleGroup.id}",
    "uid": "$!{validationRuleGroup.uid}",
    "name": "$!encoder.jsonEncode( ${validationRuleGroup.name} )",
    "description": "$!encoder.jsonEncode( ${validationRuleGroup.description} )",
    "memberCount": "${validationRuleGroup.members.size()}",
    "userGroupsToAlertCount": "$!{validationRuleGroup.userGroupsToAlert.size()}",
    "alertByOrgUnits": "$!{validationRuleGroup.alertByOrgUnits}"
  }
}
