
<h2>$i18n.getString( "validation_rule" )&nbsp;</h2>
<ul>
	#if( $security.canView( "validationRule" ) )<li><a href="validationRule.action">$i18n.getString( "validation_rule" )&nbsp;</a></li>#end
	#if( $security.canView( "validationRuleGroup" ) )<li><a href="validationRuleGroup.action">$i18n.getString( "validation_rule_group" )&nbsp;</a></li>#end
</ul>

<h2>$i18n.getString( "data_analysis" )&nbsp;</h2>
<ul>
	<li><a href="showRunValidationForm.action">$i18n.getString( "validation_rule_analysis" )&nbsp;</a></li>
    <li><a href="viewAnalysisForm.action?key=stddevoutlier">$i18n.getString( "stddevoutlier_analysis" )&nbsp;</a></li>
    <li><a href="viewAnalysisForm.action?key=minmaxoutlier">$i18n.getString( "minmaxoutlier_analysis" )&nbsp;</a></li>
    <li><a href="viewFollowupAnalysisForm.action">$i18n.getString( "followup_analysis" )&nbsp;</a></li>
</ul>
