<script type="text/javascript">
  jQuery(document).ready(function() {
    tableSorter('listTable');

    dhis2.contextmenu.makeContextMenu({
      menuId: 'contextMenu',
      menuItemActiveClass: 'contextMenuItemActive'
    });
  });

	// add jquery.tablesorter parser for sorting the importance column:
	// high => 3 medium => 2 low => 1
  jQuery.tablesorter.addParser({
    id: 'importanceSorter',
    is: function( s ) {
      // return false so this parser is not auto-detected
      return false;
    },
    format: function( s ) {
      return s
        .replace('$i18n.getString( "high" )', 3)
        .replace('$i18n.getString( "medium" )', 2)
        .replace('$i18n.getString( "low" )', 1);
    },
    type: 'numeric'
  });

  function exportPDF( type ) {
    var params = "type=" + type;
    exportPdfByType(type, params);
  }

  var i18n_high = '$i18n.getString( "high" )';
  var i18n_medium = '$i18n.getString( "medium" )';
  var i18n_low = '$i18n.getString( "low" )';
  var i18n_validation = '$i18n.getString( "validation" )';
  var i18n_surveillance = '$i18n.getString( "surveillance" )';
  var i18n_confirm_delete = '$i18n.getString( "confirm_delete_validation_rule" )';
  var i18n_none = '$i18n.getString( "none" )';
  var i18n_equal_to = '$i18n.getString( "equal_to" )';
  var i18n_not_equal_to = '$i18n.getString( "not_equal_to" )';
  var i18n_greater_than = '$i18n.getString( "greater_than" )';
  var i18n_greater_than_or_equal_to = '$i18n.getString( "greater_than_or_equal_to" )';
  var i18n_less_than = '$i18n.getString( "less_than" )';
  var i18n_less_than_or_equal_to = '$i18n.getString( "less_than_or_equal_to" )';
  var i18n_compulsory_pair = '$i18n.getString( "compulsory_pair" )';
  var i18n_exclusive_pair = '$i18n.getString( "exclusive_pair" )';
</script>

<h3>$encoder.htmlEncode( $i18n.getString( "validation_rule_management" ) ) #openHelp( "validationRule" )</h3>

<div id="contextMenu" class="contextMenu">
  <ul id="contextMenuItems" class="contextMenuItems">
    <li><a data-target-fn="showUpdateValidationRuleForm"><i class="fa fa-edit"></i>&nbsp;&nbsp;$i18n.getString( "edit" )</a></li>
    <li><a data-target-fn="translateWithContext"><i class="fa fa-globe"></i>&nbsp;&nbsp;$i18n.getString( "translation_translate" )</a></li>
    <li data-enabled="canDelete"><a data-target-fn="removeValidationRule"><i class="fa fa-trash-o"></i>&nbsp;&nbsp;$i18n.getString( "remove" )</a></li>
    <li><a data-target-fn="showValidationRuleDetails"><i class="fa fa-info-circle"></i>&nbsp;&nbsp;$i18n.getString( "show_details" )</a></li>
  </ul>
</div>

<table class="mainPageTable">
	<tr>
		<td style="vertical-align:top">
			<table width="100%">
				<tr>
					<td>#filterDiv( "validationRule" )</td>
					<td style="text-align:right">
						<input type="button" value="$i18n.getString( 'add_new' )" onclick="window.location.href='showAddValidationRuleForm.action'">
					</td>
				</tr>	
			</table>
			<table class="listTable" id="listTable"> 
				<col/>
				<col/>
				<col width="120px">				
				<thead>							
				<tr>
					<th>$encoder.htmlEncode( $i18n.getString( "name" ) )&nbsp;&nbsp;&nbsp;&nbsp;</th>
					<!-- Note: column-level sortInitialOrder only works in tablesorter 2.0.8 and later (an earlier version in use as of this writing.) --->
					<th class="{sorter: 'importanceSorter', sortInitialOrder: 'desc'}">$encoder.htmlEncode( $i18n.getString("importance") )&nbsp;&nbsp;&nbsp;&nbsp;</th>
					<th>$encoder.htmlEncode( $i18n.getString("period_type") )&nbsp;&nbsp;&nbsp;&nbsp;</th>
				</tr>
				</thead>			
				<tbody id="list">
				#foreach( $validationRule in $validationRulesList )
				<tr id="tr${validationRule.id}" data-id="$!validationRule.id" data-uid="$!validationRule.uid" data-type="ValidationRule" data-name="$encoder.htmlEncode( $!validationRule.displayName )"
				    data-can-manage="$security.canManage( $validationRule )"
				    data-can-update="$security.canUpdate( $validationRule )"
				    data-can-delete="#if($auth.hasAccess( "dhis-web-validationrule", "removeValidationRule" ) )true#{else}false#end">
				    <td>$encoder.htmlEncode( $!validationRule.displayName )</td>
				    <td>$encoder.htmlEncode( $i18n.getString("$!validationRule.importance") )</td>
				    <td>$encoder.htmlEncode( $i18n.getString($!validationRule.periodType.name) )</td>
				</tr>
				#end
				</tbody>               
			</table>
			<p></p>
			#parse( "/dhis-web-commons/paging/paging.vm" )
		</td>

		<td id="detailsData">
      <div id="detailsArea">
        <div id="hideDetailsArea">
					<a href="javascript:hideDetails()" title="$i18n.getString( 'hide_details' )"><img src="../images/hide.png" alt="$i18n.getString( 'hide_details' )"></a>
				</div>				
				<p><label>$i18n.getString( "name" ):</label><br><span id="nameField"></span></p>
				<p><label>$i18n.getString( "description" ):</label><br><span id="descriptionField"></span></p>
				<p><label>$i18n.getString( "rule_type" ):</label><br><span id="ruleTypeField"></span></p>
				<p id="organisationUnitLevelP"><label>$i18n.getString( "organisation_unit_level" ):</label><br><span id="organisationUnitLevelField"></span></p>
				<p id="sequentialSampleCountP"><label>$i18n.getString( "sequential_sample_count" ):</label><br><span id="sequentialSampleCountField"></span></p>
				<p id="annualSampleCountP"><label>$i18n.getString( "annual_sample_count" ):</label><br><span id="annualSampleCountField"></span></p>
				<p id="sequentialSkipCountP"><label>$i18n.getString( "sequential_skip_count" ):</label><br><span id="sequentialSkipCountField"></span></p>
				<p><label>$i18n.getString( "left_side_description" ):</label><br><span id="leftSideDescriptionField"></span></p>
				<p><label>$i18n.getString( "operator" ):</label><br><span id="operatorField"></span></p>
				<p><label>$i18n.getString( "right_side_description" ):</label><br><span id="rightSideDescriptionField"></span></p>
				<p><label>$i18n.getString( "id" ):</label><br><span id="idField"></span></p>
			</div>
			
			<div id="warningArea">
				<div id="hideDetailsArea">
					<a href="javascript:hideWarning()" title="$i18n.getString( 'hide_warning' )"><img src="../images/hide.png" alt="$i18n.getString( 'hide_warning' )"></a>
				</div>
				<p><span id="warningField"></span></p>
			</div>
		</td>

	</tr>
</table>
