
<h3>$i18n.getString( "validation_result_details" )</h3>

<table>
	<col style="width:10em">
    <col style="width:20em">
    <tr>
    	<th>$i18n.getString( "validation_rule_" )</th>
    	<th></th>
    </tr>
    <tr>
    	<td>$i18n.getString( "name" )</th>
    	<td>$!encoder.htmlEncode( $validationRule.name )</td>
    </tr>
    <tr>
    	<td>$i18n.getString( "description" )</td>
    	<td>$!encoder.htmlEncode( $validationRule.description )</td>
    </tr>
</table>

<h3>$i18n.getString( "left_side" )</h3>

<table>
	<col style="width:25em">
	<col style="width:5em">
	<tr>
		<th>$i18n.getString( "data_element" )</th>
		<th>$i18n.getString( "value" )</th>
	</tr>
	#foreach ( $dataElementName in $leftSideMap.keySet() )
	<tr>
		<td>$encoder.htmlEncode( $dataElementName )</td>
		<td style="text-align:center">$encoder.htmlEncode( $leftSideMap.get( $dataElementName ) )</td>
	</tr>
	#end
</table>

<h3>$i18n.getString( "right_side" )</h3>

<table>
	<col style="width:25em">
	<col style="width:5em">
	<tr>
		<th>$i18n.getString( "data_element" )</th>
		<th>$i18n.getString( "value" )</th>
	</tr>
	#foreach ( $dataElementName in $rightSideMap.keySet() )
	<tr>
		<td>$encoder.htmlEncode( $dataElementName )</td>
		<td style="text-align:center">$encoder.htmlEncode( $rightSideMap.get( $dataElementName ) )</td>
	</tr>
	#end
</table>
