<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="* %-5p %d{ISO8601} %m (%F [%t])%n %X{sessionId} %X{xRequestID}"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="org.hisp.dhis" level="INFO" additivity="true"/>
        <Logger name="org.hisp.dhis.webapi.mvc" level="WARN" additivity="false"/>
        <Logger name="org.hibernate.cache.ehcache.internal.strategy.AbstractReadWriteEhcacheAccessStrategy"
                level="ERROR" additivity="false"/>
        <Logger name="org.hibernate.cache.ehcache.AbstractEhcacheRegionFactory" level="ERROR" additivity="false"/>
        <Logger name="org.hibernate.engine.internal.StatefulPersistenceContext" level="ERROR" additivity="false"/>
        <Logger name="org.springframework.web.servlet.view.ContentNegotiatingViewResolver" level="ERROR"
                additivity="false"/>
        <Logger name="org.hibernate.orm.deprecation" level="ERROR" additivity="false"/>
        <Logger name="org.apache.activemq" level="ERROR" additivity="false"/>
        <Logger name="org.hibernate" level="ERROR" additivity="false"/>
        <Logger name="io.debezium.connector.postgresql.PostgresTaskContext" level="ERROR" additivity="false"/>

        <Root level="WARN">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>
