<script type="text/javascript" src="../dhis-web-commons/ouwt/ouwt.js"></script>

<style type="text/css">
div#orgUnitTree
{
  width: 475px;
  border: 1px solid #ccc;
}

.vertical-spacing {
	padding-top: 20px;
}

.ui-widget-content {
    border: none !important;
}
</style>

<div class="vertical-spacing">
    <div id="orgUnitTree">
        <ul>
        </ul>
    </div>
</div>