<script type="text/javascript" src="javascript/user_tmpl.js"></script>
<script type="text/javascript">
	var i18n_confirm_delete = '$encoder.jsEscape( $i18n.getString( "confirm_delete_user" ) , "'")';
    var i18n_none = '$encoder.jsEscape( $i18n.getString( "none" ) , "'")';
    var i18n_yes = '$encoder.jsEscape( $i18n.getString( "yes" ) , "'")';
    var i18n_no = '$encoder.jsEscape( $i18n.getString( "no" ) , "'")';
    var i18n_edit = '$encoder.jsEscape( $i18n.getString( "edit" ) , "'")';
    var i18n_remove = '$encoder.jsEscape( $i18n.getString( "remove" ) , "'")';
    var i18n_show_details = '$encoder.jsEscape( $i18n.getString( "show_details" ) , "'")';
    var i18n_username = '$encoder.jsEscape( $i18n.getString( "username" ) , "'")';
    var i18n_name = '$encoder.jsEscape( $i18n.getString( "name" ) , "'")';
    var i18n_operations = '$encoder.jsEscape( $i18n.getString( "operations" ) , "'")';
    var currentUserName = '$currentUsername';
</script>

<h3>$i18n.getString( "user_management" ) #openHelp( "user_by_org_unit" )</h3>

<div id="contextMenu" class="contextMenu">
  <ul id="contextMenuItems" class="contextMenuItems">
    <li><a data-target-fn="showUpdateUserForm"><i class="fa fa-edit"></i>&nbsp;&nbsp;$i18n.getString( "edit" )</a></li>
    <li data-enabled="canDelete"><a data-target-fn="removeUser"><i class="fa fa-trash-o"></i>&nbsp;&nbsp;$i18n.getString( "remove" )</a></li>
    <li><a data-target-fn="showUserDetails"><i class="fa fa-info-circle"></i>&nbsp;&nbsp;$i18n.getString( "show_details" )</a></li>
  </ul>
</div>

<table style="width:100%">
	<tr>
		<td style="vertical-align:top">
			<table width='100%'>
				<tr>
					<td>#filterDiv( "user" )</td>
					<td colspan="3" style="text-align:right"><input type="button" value="$i18n.getString( 'add_new' )" onclick="window.location.href='showAddUserForm.action'"/></td>
				</tr>
			</table>
			<table class="listTable" id="userList" width='100%'>
				<thead>
				<tr>
					<th>$i18n.getString( "name" )</th>
					<th>$i18n.getString( "username" )</th>
				</tr>
				</thead>
				<tbody id="list">
				#foreach( $user in $users )
				<tr id="tr${user.id}" data-id="$!user.id" data-uid="$!user.uid" data-type="UserCredentials" data-name="$encoder.htmlEncode( $!user.displayName )"
				    data-can-manage="$security.canManage( $user.userCredentials )"
				    data-can-update="$security.canUpdate( $user.userCredentials )"
				    data-can-delete="#if( $currentUsername != $user.userCredentials.username )true#{else}false#end">
				    <td>$encoder.htmlEncode( $!user.surname ), $encoder.htmlEncode( $!user.firstName )</td>
				    <td>$encoder.htmlEncode( $!user.userCredentials.username )</td>
				</tr>
				#end
				</tbody>
			</table>
			<p></p>
	  		<div class="paging-container">
				#parse( "/dhis-web-commons/paging/paging.vm" )
			</div>
		</td>

    <td id="detailsData">

			<div id="detailsArea" style="display:none">
				<div style="float:right">
					<a href="javascript:hideDetails()" title="$i18n.getString( 'hide_details' )"><img src="../images/close.png" alt="$i18n.getString( 'hide_details' )"/></a>
				</div>	
				<p><label>$i18n.getString( "username" ):</label><br/><span id="usernameField"></span></p>
				<p><label>$i18n.getString( "surname" ):</label><br/><span id="surnameField"></span></p>
				<p><label>$i18n.getString( "firstName" ):</label><br/><span id="firstNameField"></span></p>
				<p><label>$i18n.getString( "email" ):</label><br/><span id="emailField"></span></p>
                <p><label>$i18n.getString( "phone_number" ):</label><br/><span id="phoneNumberField"></span></p>
				<p><label>$i18n.getString( "last_login"):</label><br/><span id="lastLoginField"></span></p>
				<p><label>$i18n.getString( "organisation_units" ):</label><br/><span id="assignedOrgunitField"></span></p>
				<p><label>$i18n.getString( "roles" ):</label><br/><span id="roleField"></span></p>
				<p><label>$i18n.getString( "id" ):</label><br/><span id="idField"></span></p>
			</div>

			<div id="warningArea" style="position:fixed;right:10px;top:200px;display:none">
				<div style="float:right">
					<a href="javascript:hideWarning()" title="$i18n.getString( 'hide_warning' )"><img src="../images/close.png" alt="$i18n.getString( 'hide_warning' )"/></a>
				</div>
				<p><span id="warningField"></span></p>
			</div>

		</td>
	</tr>
</table>
