
#set( $tabIndex = 1 )
#set( $hasAccess = $auth.hasAccess( "dhis-web-dataentry", "saveValue" ) )
#set( $decoration = $dataSet.dataElementDecoration )

#if( $dataSet.renderAsTabs )
    <div id="tabs">
        <ul>
        #foreach( $section in $sections )
            #if( $section.displayName )
                <li><a href="#tab-${section.uid}">$encoder.htmlEncode( $section.displayName )</a></li>
            #else
                <li><a href="#tab-${section.uid}">$i18n.getString("section") $velocityCount</a></li>
            #end
        #end
        </ul>
        #foreach( $section in $sections )
            <div id="tab-${section.uid}">
                #renderSection( $section $section.indicators )
            </div>
        #end
    </div>
#else
    #foreach( $section in $sections )
        #renderSection( $section $section.indicators $section.displayName $section.description )
    #end
#end

#*
@param $section section to be rendered
@param $indicators indicators to be rendered.
@param $args.title include if you want a title rendered in section.
*#
#macro( renderSection $section $indicators $title $description )
    
    <div class="formSection sectionContainer">
        <div class="cent"><h3>$!encoder.htmlEncode( $title ) </h3></div>
        #if ( $description )
            <div class="cent sectionDescription">$!encoder.htmlEncode( $description )</div>
        #end
        #set( $categoryComboIds = "null" )
        #set( $categoryComboIds = $sectionCombos.get( $section.id ) )

        #foreach( $categoryComboId in $categoryComboIds )
            #set( $seCbId = "${section.id}-${categoryComboId}" )
            #set( $dataElements = $sectionCategoryComboDataElements.get( $seCbId ) )	
            #set( $optionCombos = $orderedCategoryOptionCombos.get( $categoryComboId )  )

            <table id="sectionTable" class="sectionTable" cellspacing="0">
                #set( $colCount = $numberOfTotalColumns.get( $categoryComboId ) )
                #set( $categories = $orderedCategories.get( $categoryComboId ) )
                #set( $optionsMap = $orderedOptionsMap.get( $categoryComboId ) )
                #set( $colRepeat = $catColRepeat.get( $categoryComboId ) )
                #set( $hasFilterInSection = false )
                #set( $mark = 0 )                
                
                <thead>                    
                    #set( $rowTotalRendered = false )
                    #foreach( $category in $categories )
                        #set( $categoryOptions = $optionsMap.get( $category.id ) )
                        #set( $colCount = $colCount / $categoryOptions.size() )                        
                        <tr>
                            <td>#if( $hasFilterInSection == false )<input type="text" class="sectionFilter" placeholder="$encoder.jsEscape( $i18n.getString( "filter_in_section" ) , "'")" onkeyup="dhis2.de.filterInSection($(this));">#set( $hasFilterInSection = true )#end</td>
                            #set( $cols = $colRepeat.get( $category.id ) )
                            #foreach( $col in $cols )
                                #foreach( $categoryOption in $categoryOptions )
                                    <th colspan="$colCount" scope="col">
                                        <span align="center">
                                            #if( $categoryOption.isDefault() )
                                                ${i18n.getString( "value" )}
                                            #else 
                                                ${encoder.htmlEncode( $categoryOption.displayName )}
                                            #end
                                        </span>
                                    </th>
                                #end                                
                            #end
                            #if( $section.showRowTotals == "true" && $rowTotalRendered == "false" && $optionCombos.size() > 1)
                                #set( $rowTotalRendered = true )
                                <th rowspan="$categories.size()">
                                    ${i18n.getString( "total" )}
                                </th>
                            #end
                        </tr>
                    #end
                </thead>

                #foreach( $optionCombo in $optionCombos )<span id="${optionCombo.uid}-optioncombo" class="hidden">${encoder.htmlEncode( $optionCombo.displayName )}</span>
                #end
                <tbody>                    
                    #foreach( $dataElement in $dataElements )
                        #set( $rowTotalIds = "row-$dataElement.uid" )                        
                        #set( $cellCounter = 1 )
                        #if( $mark == 1 )
                            #set( $mark = 0 )
                        #else
                            #set( $mark = 1 )
                        #end
                        <tr>
                            <td id="${dataElement.uid}-cell" #if( $mark == 1 )class="alt"#else class="reg"#end>
                                <span id="${dataElement.uid}-dataelement" #if( $decoration && $dataElement.hasDescription() ) title="$!{dataElement.displayDescription}"#end >
                                    #if( $decoration && $!dataElement.hasUrl() )<a href="${dataElement.url}" target="_blank">#end${encoder.htmlEncode( $dataElement.displayFormName )}#if( $decoration && $dataElement.hasUrl() )</a>#end
                                </span>
                            </td>    
                            #foreach( $optionCombo in $optionCombos )
                                #set( $compulsory = false )
                                #foreach( $compulsoryDe in $dataSet.compulsoryDataElementOperands )
                                    #if( $dataElement.uid == $compulsoryDe.dataElement.uid && $optionCombo.uid == $compulsoryDe.categoryOptionCombo.uid )
                                        #set( $compulsory = true )
                                    #end
                                #end
                                #set( $dataEntryId = "${dataElement.uid}-${optionCombo.uid}-val" )
                                #set( $commentId = "${dataElement.uid}-${optionCombo.uid}-comment" )
                                #set( $rowTotalIds = "${rowTotalIds}-$optionCombo.uid" )
                                #set( $greyedField = false )
                                #set( $greyedField = $greyedFields.get( "${dataElement.uid}:${optionCombo.uid}" ) )
                                #if( $dataElement.valueType == "BOOLEAN" )
                                    <td>
                                        <label>
                                            <input #if( $compulsory ) required="required" #end  type="radio" name="${dataEntryId}" class="entryselect" id="${dataEntryId}" value="" tabindex="${tabIndex}"#if( $greyedField || !$hasAccess ) disabled="disabled"#end>
                                            $i18n.getString( "no_value" )		
                                        </label>
                                        <label>
                                            <input #if( $compulsory ) required="required" #end  type="radio" name="${dataEntryId}" class="entryselect" id="${dataEntryId}" value="true" tabindex="${tabIndex}"#if( $greyedField || !$hasAccess ) disabled="disabled"#end>
                                            $i18n.getString( "yes" )
                                        </label>
                                        <label>
                                                <input #if( $compulsory ) required="required" #end  type="radio" name="${dataEntryId}" class="entryselect" id="${dataEntryId}" value="false" tabindex="${tabIndex}"#if( $greyedField || !$hasAccess ) disabled="disabled"#end>
                                                $i18n.getString( "no" )			
                                        </label>
                                        <img class="commentlink" id="${commentId}">
                                    </td>
                                #elseif( $dataElement.valueType == "TRUE_ONLY" )
                                    <td><input #if( $compulsory ) required="required" #end name="entrytrueonly" class="entrytrueonly" id="${dataEntryId}" type="checkbox" tabindex="${tabIndex}"#if( $greyedField || !$hasAccess ) disabled="disabled"#end><img class="commentlink" id="${commentId}"></td>
                                #elseif( "LONG_TEXT" == $dataElement.valueType )
                                    <td><textarea #if( $compulsory ) required="required" #end name="entryfield" class="entryfield entryarea" id="${dataEntryId}" tabindex="${tabIndex}" #if( $greyedField || !$hasAccess ) disabled="disabled"#end></textarea></td>
                                #elseif( "URL" == $dataElement.valueType )
                                    <td><input #if( $compulsory ) required="required" #end type="url" name="entryfield" class="entryfieldclear" id="${dataEntryId}" tabindex="${tabIndex}" #if( $greyedField || !$hasAccess ) disabled="disabled"#end></input></td>
                                #elseif( "FILE_RESOURCE" == $dataElement.valueType )
                                    <td>
                                        <div class="entryfileresource" id="${dataEntryId}" tabindex="${tabIndex}">
                                            <input class="entryfileresource-input" id="input-${dataEntryId}" #if( $greyedField || !$hasAccess ) disabled="disabled" #end>
                                            <div class="upload-field">
                                                <div class="upload-fileinfo">
                                                    <div class="upload-fileinfo-size"></div>
                                                    <div class="upload-fileinfo-name"></div>
                                                </div>
                                                <div class="upload-progress">
                                                    <div class="upload-progress-bar"></div>
                                                    <div class="upload-progress-info"></div>
                                                </div>
                                            </div>
                                            <div class="upload-button-group">
                                                <button class="upload-button"></button>
                                            </div>
                                            <input type="file" style="display: none;">
                                        </div>
                                    </td>
                                #elseif( $dataElement.valueType == "TIME" )
                                    <td>
                                        <input #if( $compulsory ) required="required" #end type="text" name="entrytime" class="entryfield" id="${dataEntryId}" tabindex="${tabIndex}" />
                                    </td>
                                #else
                                    #if( $dataElement.optionSet )
                                      <td><input #if( $compulsory ) required="required" #end  name="entryoptionset" class="entryoptionset" id="${dataEntryId}" type="text" tabindex="${tabIndex}"#if( $greyedField || !$hasAccess ) disabled="disabled"#end><img class="commentlink" id="${commentId}"></td>
                                    #else
                                      <td><input #if( $compulsory ) required="required" #end  name="entryfield" class="entryfield" id="${dataEntryId}" type="text" tabindex="${tabIndex}"#if( $greyedField || !$hasAccess ) disabled="disabled"#end></td>
                                    #end
                                #end
                                #set( $tabIndex = $tabIndex + 1 )                                
                            #end
                            #set( $needRowColumnTotal = false )
                            #if($section.showRowTotals == "true" &&  $optionCombos.size() > 1 )
                                #set( $needRowColumnTotal = true )
                                <td>
                                    <input class="total-cell" type="text" id="$rowTotalIds" disabled>
                                </td>
                            #end
                        </tr>
                    #end
                    #if($section.showColumnTotals == "true" && $dataElements.size() > 1)
                        #if( $mark == 1 )
                            #set( $mark = 0 )
                        #else
                            #set( $mark = 1 )
                        #end
                        <tr>
                            <td #if( $mark == 1 )class="alt"#else class="reg"#end>
                                ${i18n.getString( "total" )}
                            </td>                            
                            #set( $columnTotalIds = "col" )                            
                            #foreach( $optionCombo in $optionCombos )
                                #set( $columnTotalIds = "${columnTotalIds}-$optionCombo.uid" )
                                <td>                                
                                    <input class="total-cell" type="text" id="col-${optionCombo.uid}" disabled>
                                </td>
                            #end
                            #if( $needRowColumnTotal == "true")
                                <td>
                                    <input class="total-cell" type="text" id="$columnTotalIds" disabled>
                                </td> 
                            #end
                        </>
                    #end
                </tbody>
            </table>
            #if( $indicators.size() > 0 )
                #set( $mark = 0 )
                <div class="indicatorArea">
                    <table>
                        #foreach( $indicator in $indicators )
                            #if( $mark == 1 )
                                #set( $mark = 0 )
                            #else
                                #set( $mark = 1 )
                            #end
                            <tr>
                                <td #if( $mark == 1 )class="alt"#else class="reg"#end><span>$indicator.displayName</span></td>
                                <td><input id="indicator${indicator.id}" indicatorid="${indicator.uid}" name="indicator" type="text" class="indicator"></td>
                            </tr>
                        #end
                    </table>
                </div>
            #end
        #end
        
    </div>
    <div></div>

#end