<h3>$i18n.getString( "validation_result" ) &nbsp;<img src="../images/warning_small.png"></h3>

#if( !$validationResults.isEmpty() )
    #foreach( $key in $validationResults.keySet() )
    #set( $results = $validationResults.get($key))

    #if( $multiOu )<h3>$key.displayName</h3>#end

    <p class="bold">$i18n.getString( "data_entry_screen_has_following_errors" )</p>
    
    <table class="listTable" width="100%">
        <tr>
            <th>$i18n.getString( "validation_rule" )</th>                
            <th style="width:80px">$i18n.getString( "left_side" )</th>
            <th style="width:80px">$i18n.getString( "operator" )</th>
            <th style="width:80px">$i18n.getString( "right_side" )</th>
        </tr>
        #set( $mark = false )   
        #foreach( $validationResult in $results )
            #set ( $id = $validationResult.validationRule.id )
            #set ( $leftFormula = $leftSideFormulaMap.get( $key ).get( $id ) )
            #set ( $rightFormula = $rightSideFormulaMap.get( $key ).get( $id ) )
            <tr>
                <td style="height:32px"#alternate( $mark )>$!encoder.htmlEncode( $validationResult.validationRule.getInstructionFallback() )</td>
                <td #alternate( $mark )>$validationResult.leftsideValue</td>
                <td #alternate( $mark )>$encoder.htmlEncode( $i18n.getString( $validationResult.validationRule.operator.mathematicalOperator ) )</td>
                <td #alternate( $mark )>$validationResult.rightsideValue</td>
            </tr>
        #if( $mark )
            #set( $mark = false )
        #else
            #set( $mark = true )
        #end
        #end
    </table><br>       
    #end
#end

#if( !$dataValues.isEmpty() )
    #foreach( $key in $dataValues.keySet() )
    #set( $results = $dataValues.get( $key ))

    #if( $multiOu )<h3>$key.displayName</h3>#end

    <p class="bold">$encoder.htmlEncode( $i18n.getString( "the_following_values_are_outliers" ) )</p>
    
    <table class="listTable" style="width:100%">
	    <tr>
	        <th>$i18n.getString( "data_element" )</th>
	        <th style="width:80px">$i18n.getString( "min" )</th>
	        <th style="width:80px">$i18n.getString( "value" )</th>
	        <th style="width:80px">$i18n.getString( "max" )</th>
	    </tr>
	    #set( $mark = false )	    
	    #foreach( $value in $results )
	    <tr>	    
	        <td style="height:32px"#alternate( $mark )>$encoder.htmlEncode( $value.dataElementName ) $encoder.htmlEncode( $value.categoryOptionComboNameParsed )</td>	        
	        <td #alternate( $mark )>$value.min</td>	        
	        <td #alternate( $mark )>$value.value</td>	        
	        <td #alternate( $mark )>$value.max</td>
	    </tr>
        #if( $mark )
            #set( $mark = false )
        #else
            #set( $mark = true )
        #end
	    #end
	</table>
    #end
#end

#if ( !$commentViolations.isEmpty() )
	#foreach( $key in $commentViolations.keySet() )
	#set( $operands = $commentViolations.get( $key ))
			
    #if( $multiOu )<h3>$key.displayName</h3>#end
    
    <p class="bold">$encoder.htmlEncode( $i18n.getString( "the_following_fields_require_comment" ) )</p>
			
    <table class="listTable" style="width:100%">
        <tr>
            <th>$i18n.getString( "form_field" )</th>        	
        </tr>
        #set( $mark = false )
        #foreach( $operand in $operands )
        <tr>
        	<td style="height:32px"#alternate( $mark )>$encoder.htmlEncode( $operand.prettyName )</td>
        </tr>
        #if( $mark )
            #set( $mark = false )
        #else
            #set( $mark = true )
        #end
        #end
    </table>
	#end
#end
