CACHE MANIFEST
# 2.23 $!systemInfo.revision
# appcache for user: $username
# system calendar: $keyCalendar
NETWORK:
*
CACHE:
../dhis-web-commons/font-awesome/css/font-awesome.min.css?_rev=$!{buildRevision}
../dhis-web-commons/css/light_blue/light_blue.css?_rev=$!{buildRevision}
../dhis-web-commons/css/light_blue/logo_banner.png
../dhis-web-commons/css/india/india.css?_rev=$!{buildRevision}
../dhis-web-commons/css/india/logo_banner.png
../dhis-web-commons/css/green/green.css?_rev=$!{buildRevision}
../dhis-web-commons/css/green/logo_banner.png
../dhis-web-commons/css/vietnam/vietnam.css?_rev=$!{buildRevision}
../dhis-web-commons/css/vietnam/logo_banner.png
css/widgets.css?_rev=$!{buildRevision}
css/print.css?_rev=$!{buildRevision}
../dhis-web-dataentry/style/dhis-web-dataentry.css?_rev=$!{buildRevision}
../api/files/style?_rev=$!{buildRevision}
../favicon.ico
javascripts/underscore.min.js?_rev=$!{buildRevision}
javascripts/jQuery/jquery.min.js?_rev=$!{buildRevision}
javascripts/jQuery/jquery.validate.js?_rev=$!{buildRevision}
javascripts/jQuery/jquery.validate.ext.js?_rev=$!{buildRevision}
javascripts/jQuery/jquery.utils.js?_rev=$!{buildRevision}
javascripts/jQuery/jquery.metadata.js?_rev=$!{buildRevision}
javascripts/jQuery/jquery.glob.js?_rev=$!{buildRevision}
javascripts/jQuery/jquery.fileupload.min.js?rev=$!{buildRevision}
javascripts/jQuery/jquery.date.js?_rev=$!{buildRevision}
javascripts/jQuery/jquery.tmpl.js?_rev=$!{buildRevision}
i18nJavaScript.action?_rev=$!{buildRevision}
javascripts/commons.js?_rev=$!{buildRevision}
javascripts/lists.js?_rev=$!{buildRevision}
javascripts/periodType.js?_rev=$!{buildRevision}
javascripts/date.js?_rev=$!{buildRevision}
javascripts/filesize.min.js?_rev=$!{buildRevision}
javascripts/dhis2/dhis2.util.js?_rev=$!{buildRevision}
javascripts/dhis2/dhis2.array.js?_rev=$!{buildRevision}
javascripts/dhis2/dhis2.select.js?_rev=$!{buildRevision}
javascripts/dhis2/dhis2.comparator.js?_rev=$!{buildRevision}
javascripts/dhis2/dhis2.availability.js?_rev=$!{buildRevision}
javascripts/dhis2/dhis2.storage.memory.js?_rev=$!{buildRevision}
javascripts/dhis2/dhis2.storage.ss.js?_rev=$!{buildRevision}
javascripts/dhis2/dhis2.storage.ls.js?_rev=$!{buildRevision}
javascripts/dhis2/dhis2.storage.idb.js?_rev=$!{buildRevision}
javascripts/dhis2/dhis2.storage.js?_rev=$!{buildRevision}
javascripts/dhis2/dhis2.appcache.js?_rev=$!{buildRevision}
javascripts/jQuery/jquery.cookie.js?_rev=$!{buildRevision}
../main.js?_rev=$!{buildRevision}
../api/files/script?_rev=$!{buildRevision}
ouwt/ouwt.js?_rev=$!{buildRevision}
fonts/LiberationSans-Regular-webfont.eot
fonts/LiberationSans-Regular-webfont.woff
fonts/LiberationSans-Regular-webfont.ttf
fonts/LiberationSans-Regular-webfont.svg
fonts/LiberationSans-Bold-webfont.eot
fonts/LiberationSans-Bold-webfont.woff
fonts/LiberationSans-Bold-webfont.ttf
fonts/LiberationSans-Bold-webfont.svg
../images/treeview-gray-line.gif
../images/show_menu.png
../images/hide_menu.png
../images/search.png
../images/colapse.png
../images/expand.png
../images/hide.png
../images/comment.png
../images/comment_active.png
../images/transparent.gif
../images/ajax-loader-circle.gif
../images/ajax-loader-bar.gif
../images/warning_small.png
../images/success_small.png
../images/home_small.png
../images/extend_menu.png
../dhis-web-dataentry/javascript/form.js?_rev=$!{buildRevision}
../dhis-web-dataentry/javascript/entry.js?_rev=$!{buildRevision}
../dhis-web-dataentry/javascript/entry.fileresource.js?_rev=$!{buildRevision}

# jquery-ui 1.9.1
../dhis-web-commons/javascripts/jQuery/ui/jquery-ui.min.js?_rev=$!{buildRevision}
../dhis-web-commons/javascripts/jQuery/ui/css/redmond/jquery-ui.css?_rev=$!{buildRevision}
../dhis-web-commons/javascripts/jQuery/ui/css/redmond/images/animated-overlay.gif
../dhis-web-commons/javascripts/jQuery/ui/css/redmond/images/ui-bg_flat_0_aaaaaa_40x100.png
../dhis-web-commons/javascripts/jQuery/ui/css/redmond/images/ui-bg_flat_55_fbec88_40x100.png
../dhis-web-commons/javascripts/jQuery/ui/css/redmond/images/ui-bg_glass_75_d0e5f5_1x400.png
../dhis-web-commons/javascripts/jQuery/ui/css/redmond/images/ui-bg_glass_85_dfeffc_1x400.png
../dhis-web-commons/javascripts/jQuery/ui/css/redmond/images/ui-bg_glass_95_fef1ec_1x400.png
../dhis-web-commons/javascripts/jQuery/ui/css/redmond/images/ui-bg_gloss-wave_55_5c9ccc_500x100.png
../dhis-web-commons/javascripts/jQuery/ui/css/redmond/images/ui-bg_inset-hard_100_f5f8f9_1x100.png
../dhis-web-commons/javascripts/jQuery/ui/css/redmond/images/ui-bg_inset-hard_100_fcfdfd_1x100.png
../dhis-web-commons/javascripts/jQuery/ui/css/redmond/images/ui-icons_2e83ff_256x240.png
../dhis-web-commons/javascripts/jQuery/ui/css/redmond/images/ui-icons_6da8d5_256x240.png
../dhis-web-commons/javascripts/jQuery/ui/css/redmond/images/ui-icons_217bc0_256x240.png
../dhis-web-commons/javascripts/jQuery/ui/css/redmond/images/ui-icons_469bdd_256x240.png
../dhis-web-commons/javascripts/jQuery/ui/css/redmond/images/ui-icons_cd0a0a_256x240.png
../dhis-web-commons/javascripts/jQuery/ui/css/redmond/images/ui-icons_d8e7f3_256x240.png
../dhis-web-commons/javascripts/jQuery/ui/css/redmond/images/ui-icons_f9bd01_256x240.png

# Calendar
../dhis-web-commons/javascripts/jQuery/calendars/css/jquery.calendars.picker.css?_rev=$!{buildRevision}

../dhis-web-commons/javascripts/jQuery/calendars/jquery.calendars.min.js?_rev=$!{buildRevision}
../dhis-web-commons/javascripts/jQuery/calendars/jquery.calendars.plus.min.js?_rev=$!{buildRevision}
#if( $keyCalendar == "coptic" || $keyCalendar == "ethiopian" || $keyCalendar == "islamic"  || $keyCalendar == "julian" || $keyCalendar == "nepali" || $keyCalendar == "thai" )
../dhis-web-commons/javascripts/jQuery/calendars/jquery.calendars.${keyCalendar}.min.js?_rev=$!{buildRevision}">
#end
../dhis-web-commons/javascripts/dhis2/dhis2.period.js?_rev=$!{buildRevision}
../dhis-web-commons/javascripts/jQuery/calendars/jquery.calendars.picker.min.js?_rev=$!{buildRevision}

# Header bar with dependencies
../dhis-web-core-resource/react-15/react-15.min.js
../dhis-web-core-resource/rxjs/4.1.0/rx.lite.min.js
../dhis-web-core-resource/lodash/4.15.0/lodash.min.js
../dhis-web-core-resource/lodash-functional/lodash-functional.js
../dhis-web-commons/javascripts/header-bar/babel-polyfill.js?_rev=$!{buildRevision}
../dhis-web-commons/javascripts/header-bar/header-bar.js?_rev=$!{buildRevision}
