The form '$!{object.dataSet.name}' was registered as complete for period $!{object.periodName} #if( $!{object.AttributeOptionCombo.name} ne "default" ) , '$!{object.AttributeOptionCombo.name}' and organisation unit '$!{object.source.name}'. #else and organisation unit '$!{object.source.name}'. #end
