$object.i18n.getString( "email_restore_1_1st_paragraph_before_application_title" ) ${object.applicationTitle} $object.i18n.getString( "email_restore_1_1st_paragraph_after_application_title" )

$object.i18n.getString( 'email_restore_1_2nd_paragraph' )


${object.restorePath}?username=${object.username}&token=${object.token}


$object.i18n.getString( 'email_restore_1_3rd_paragraph' )
