name: SonarQube analysis

on:
  push:
    branches:
    - master
    - '2.3[1-9]'
  pull_request:
    branches:
    - master
    - '2.3[1-9]'

jobs:
  sonarqube:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - uses: actions/cache@v1
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-

    - name: Analyse long-living branch
      env:
        BRANCH: ${GITHUB_REF#refs/heads/}
        BASE_BRANCH: ${{ github.base_ref }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      run: |
        echo ${BRANCH}
