name: Test
env:
  # This is to make sure Maven don't timeout fetching dependencies. See: https://github.com/actions/virtual-environments/issues/1499
  MAVEN_OPTS: -Dhttp.keepAlive=false -Dmaven.wagon.http.pool=false -Dmaven.wagon.http.retryHandler.class=standard -Dmaven.wagon.http.retryHandler.count=3 -Dmaven.wagon.httpconnectionManager.ttlSeconds=125
on:
  push:
    branches:
      - master
  pull_request:
concurrency:
    group: ${{ github.workflow}}-${{ github.ref }}
    cancel-in-progress: true
jobs:
  unit-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: 11
          distribution: temurin
          cache: maven
      - name: Test core # NOTE: dhis-2/pom.xml needs to be installed as built artifacts are needed by dhis-web
        run: mvn clean install --threads 2C --batch-mode --no-transfer-progress --update-snapshots -f ./dhis-2/pom.xml -pl -dhis-web-embedded-jetty
        timeout-minutes: 30
      - name: Report coverage to codecov
        uses: codecov/codecov-action@v3
        with:
          directory: ./dhis-2
          flags: unit
          fail_ci_if_error: true
          verbose: true
      # no coverage is gathered for dhis-web as it will be removed
      - name: Test dhis-web
        run: mvn test --threads 2C --batch-mode --no-transfer-progress --update-snapshots -f ./dhis-2/dhis-web/pom.xml
        timeout-minutes: 30

  integration-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: 11
          distribution: temurin
          cache: maven
      - name: Run integration tests
        run: mvn clean verify --threads 2C --batch-mode --no-transfer-progress -Pintegration -DexcludeAnalyticsTests=true -f ./dhis-2/pom.xml -pl -dhis-web-embedded-jetty
        timeout-minutes: 30
      - uses: actions/upload-artifact@v3
        name: Upload test logs on failure
        if: failure()
        with:
          name: integration-test-logs
          path: "**/target/test.log"
          if-no-files-found: error # check our logging configuration if that happens
          retention-days: 3
      - name: Report coverage to codecov
        uses: codecov/codecov-action@v3
        with:
          directory: ./dhis-2
          flags: integration
          fail_ci_if_error: true
          verbose: true
      - name: Archive surefire reports
        uses: actions/upload-artifact@v3
        with:
          name: surefire-reports
          path: "**/target/surefire-reports/TEST-*.xml"
          retention-days: 10

  integration-h2-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: 11
          distribution: temurin
          cache: maven
      - name: Run integration h2 tests
        run: mvn clean verify --threads 2C --batch-mode --no-transfer-progress -PintegrationH2 -f ./dhis-2/pom.xml -pl -dhis-web-embedded-jetty
        timeout-minutes: 30
      - uses: actions/upload-artifact@v3
        name: Upload test logs on failure
        if: failure()
        with:
          name: integration-h2-test-logs
          path: "**/target/test.log"
          if-no-files-found: error # check our logging configuration if that happens
          retention-days: 3
      - name: Report coverage to codecov
        uses: codecov/codecov-action@v3
        with:
          directory: ./dhis-2
          flags: integration-h2
          fail_ci_if_error: true
          verbose: true
      - name: Archive surefire reports
        uses: actions/upload-artifact@v3
        with:
          name: surefire-reports
          path: "**/target/surefire-reports/TEST-*.xml"
          retention-days: 10

  integration-test-analytics:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: 11
          distribution: temurin
          cache: maven
      - name: Build analytics with dependencies
        run: mvn clean install --threads 2C -DskipTests -Dmaven.test.skip=true --batch-mode --no-transfer-progress -f dhis-2/pom.xml -pl=dhis-services/dhis-service-analytics/pom.xml --also-make
      - name: Run analytics integration tests
        run: mvn verify -Pintegration --batch-mode --no-transfer-progress -f ./dhis-2/dhis-services/dhis-service-analytics/pom.xml
        timeout-minutes: 30
      - uses: actions/upload-artifact@v3
        name: Upload test logs on failure
        if: failure()
        with:
          name: integration-test-analytics-logs
          path: "**/target/test.log"
          if-no-files-found: error # check our logging configuration if that happens
          retention-days: 3
      - name: Report coverage to codecov
        uses: codecov/codecov-action@v3
        with:
          directory: ./dhis-2
          flags: integration
          fail_ci_if_error: true
          verbose: true
      - name: Archive surefire reports
        uses: actions/upload-artifact@v3
        with:
          name: surefire-reports-analytics
          path: "**/target/surefire-reports/TEST-*.xml"
          retention-days: 10
