name: "Close stale pull requests"
on:
  schedule:
  - cron: "0 0 * * *"

permissions:
  pull-requests: write

jobs:
  stale-prs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/stale@v10
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        days-before-stale: 150
        days-before-close: 30
        stale-pr-message: |
          This PR has not seen any activity in the last 5 months. The PR will be closed in 30 days if the stale label is not removed.
          
          Please note that this is an automated message and we might very well be the reason why there has not been any activity lately.

          Please remove the stale label if you would like to continue working on the PR. Make sure that you have requested a review by a dev or a team https://github.com/orgs/dhis2/teams.
        close-pr-message: |
          This PR is closed since it has not seen any activity in the last 6 months.
          
          Please reopen a new PR if you would like to continue your work. Make sure that you request a review by a dev or a team https://github.com/orgs/dhis2/teams.
